<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <LanguagePath Path="config\Language\Account.config"></LanguagePath>
      <LanguagePath Path="config\Language\Authority.config"></LanguagePath>
      <LanguagePath Path="config\Language\Account.config"></LanguagePath>
      <LanguagePath Path="config\Language\Base.config"></LanguagePath>
      <LanguagePath Path="config\Language\Basedata.config"></LanguagePath>
      <LanguagePath Path="config\Language\Editor.config"></LanguagePath>
      <LanguagePath Path="config\Language\Finance.config"></LanguagePath>
      <LanguagePath Path="config\Language\Hr.config"></LanguagePath>
      <LanguagePath Path="config\Language\Order.config"></LanguagePath>
      <LanguagePath Path="config\Language\Product.config"></LanguagePath>
      <LanguagePath Path="config\Language\Purchase.config"></LanguagePath>
      <LanguagePath Path="config\Language\Security.config"></LanguagePath>
      <LanguagePath Path="config\Language\Supplier.config"></LanguagePath>
      <LanguagePath Path="config\Language\Wms.config"></LanguagePath>
      <LanguagePath Path="config\Language\Workflow.config"></LanguagePath>
      <LanguagePath Path="config\Language\Site.config"></LanguagePath>
      <LanguagePath Path="config\Language\Crm.config"></LanguagePath>
    </XmlLanguage>
  </Dislan>
</configuration>