<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <RulePath Path="config.config"></RulePath>
      <ModelPath Path="config.config"></ModelPath>
      <Rule Name="Requiry" Regular="(^([\s\S]+)$)"></Rule>
      <Rule Name="Length" Regular="^([\s\S]{P0})$"></Rule>
      <Rule Name="NullOrLength" Regular="(^$)|(([\s\S]{P0})$)"></Rule>
      <Rule Name="LengthRange" Regular="^([\s\S]{P0,P1})$"></Rule>
      <Rule Name="Date" Regular="(^$)|(^(1[8-9][0-9]{2}|[2-9][0-9]{3})([-/\.])(((0?[13578]|(10|12))([-/\.])(0?[1-9]|[1-2][0-9]|3[0-1]))|(0?2([-/\.])(0?[1-9]|[1-2][0-9]))|((0?[469]|11)([-/\.])(0?[1-9]|[1-2][0-9]|30)))$)"></Rule>
      <Rule Name="Time" Regular="(^$)|(^((20|21|22|23|[0-1]?\d):[0-5]?\d:[0-5]?\d)$)"></Rule>
      <Rule Name="DateTime" Regular="(^$)|(^(1[8-9][0-9]{2}|[2-9][0-9]{3})([-/\.])(((0?[13578]|(10|12))([-/\.])(0?[1-9]|[1-2][0-9]|3[0-1]))|(0?2([-/\.])(0?[1-9]|[1-2][0-9]))|((0?[469]|11)([-/\.])(0?[1-9]|[1-2][0-9]|30)))(\s((20|21|22|23|[0-1]?\d):[0-5]?\d:[0-5]?\d))?$)"></Rule>
      <Rule Name="Number" Regular="(^$)|(^[0-9]*$)"></Rule>
      <Rule Name="Integer" Regular="(^$)|(^-?[0-9][0-9]{0,9}$)"></Rule>
      <Rule Name="PositiveInteger" Regular="(^$)|(^[1-9][0-9]{P0,P1}$)"></Rule>
      <Rule Name="NegativeInteger" Regular="(^$)|(^-[1-9][0-9]{P0,P1}$)"></Rule>
      <Rule Name="NoPositiveInteger" Regular="(^$)|(^-[1-9][0-9]{P0,P1}$|^0$)"></Rule>
      <Rule Name="NoNegativeInteger" Regular="(^$)|(^[1-9][0-9]{P0,P1}$|^0$)"></Rule>
      <Rule Name="Float" Regular="(^$)|(^(-?\d{1,P0})(\.[\d]{P1,P2})?$)"></Rule>
      <Rule Name="Rate" Regular="(?!^0\.0?0$)^([1-9]\d?(\.\d{1,2})?|0.\d{1,2}|100|100.00)$"></Rule>
      <Rule Name="PositiveFloat" Regular="(^$)|(^(\d{1,P0})(\.[\d]{P1,P2})?$)"></Rule>
      <Rule Name="NoPositiveFloat" Regular="(^$)|(^(-\d{1,P0})(\.[\d]{P1,P2})?$|^0$)"></Rule>
      <Rule Name="NegativeFloat" Regular="(^$)|(^(-\d{1,P0})(\.[\d]{P1,P2})?$)"></Rule>
      <Rule Name="NoNegativeFloat" Regular="(^$)|(^(\d{1,P0})(\.[\d]{P1,P2})?$|^0$)"></Rule>
      <Rule Name="ValueRange" Regular="P0-P1" IsRange="true"></Rule>
      <Rule Name="Chinese" Regular="(^$)|(^[\u4E00-\u9FA5]+$)"></Rule>
      <!--匹配由数字、26个英文字母或者下划线组成的字符串 -->
      <Rule Name="NotChar" Regular="(^$)|([^P0])"></Rule>
      <Rule Name="IsChar" Regular="(^$)|(^P0$)"></Rule>
      <Rule Name="CommonChar" Regular="(^$)|(^\w+$)"></Rule>
      <Rule Name="English" Regular="(^$)|(^[ a-zA-Z]{0,}$)"></Rule>
      <Rule Name="LowerEnglish" Regular="(^$)|(^[ a-z]{0,}$)"></Rule>
      <Rule Name="UpperEnglish" Regular="(^$)|(^[ A-Z]{0,}$)"></Rule>
      <Rule Name="Extension" Regular="(^$)|(^.*(P0)$)"></Rule>
      <Rule Name="Email" Regular="(^$)|(^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$)"></Rule>
      <Rule Name="Url" Regular="(^$)|(^[a-zA-z]+://.*$)"></Rule>
      <!--用户名-->
      <Rule Name="UserName" Regular="(^$)|(^[a-zA-Z_]+[a-zA-Z_0-9]*$)"></Rule>
      <Rule Name="Phone" Regular="(^$)|(^([0-9]{2}-?)?[0-9]{3,4}-?[0-9]{7,8}$)"></Rule>
      <Rule Name="Mobile" Regular="(^$)|([1][1-9]+\d{9}$)"></Rule>
      <Rule Name="QQ" Regular="(^$)|(^[1-9][0-9]{4,}$)"></Rule>
      <Rule Name="PostCode" Regular="(^$)|(^[1-9]d{5}(?!d)$)"></Rule>
      <Rule Name="LinkNumber" Regular="^1\d{10}$|^(0\d{2,3}-?|\(0\d{2,3}\))?[1-9]\d{4,7}(-\d{1,8})?$"></Rule>
      <!--身份证-->
      <!--身份证号码的正则校验。15位 18位。Add By Naya-->
      <Rule Name="CardID" Regular="(^$)|^([1-9]\\d{7}((0\\d)|(1[0-2]))(([0|1|2]\\d)|3[0-1])\\d{3})|([1-9]\\d{5}[1-9]\\d{3}((0\\d)|(1[0-2]))(([0|1|2]\\d)|3[0-1])\\d{3}([0-9]|X))$"></Rule>
      <!--<Rule Name="CardID" Regular="(^$)|(^[0-9]{15}|[0-9]{18}$)"></Rule>-->
      <Rule Name="IP" Regular="(^$)|(^d+.d+.d+.d+$)"></Rule>
      <!--以字母开头， 只能包含字符、数字和下划线-->
      <Rule Name="Password" Regular="(^$)|(.{P0,P1}$)"></Rule>
      <!--自定义-->
      <Rule Name="PrimaryKey" Regular="(^$)|(^[1-9][0-9]{0,}$|^0$)"></Rule>
      <Rule Name="MustPrimaryKey" Regular="^[1-9][0-9]{0,}$"></Rule>
      <Rule Name="Customer" Regular="P0"></Rule>
      <Rule Name="Count" Regular="^[0-9]*[1-9][0-9]*$"></Rule>
      <!--机票相关 Add By Naya-->
      <!--黑屏系统中的国内航班乘机人姓名， 全中文(2到6位) | 中文开始英文结尾 | 全英文必带“/”并可以出现一次（空格+英文）-->
      <Rule Name="AirlineDomesticName" Regular="(^$)|^([\u4e00-\u9fa5]{2,6}|[\u4e00-\u9fa5]+[A-Z]*)|([A-Z]+/{1}[A-Z]+(\s[A-Z]+)?)$"></Rule>
      <!--黑屏系统中的国际航班乘机人姓名， 全英文必带“/”并可以出现一次（空格+英文）-->
      <Rule Name="AirlineInternationalName" Regular="(^$)|^([A-Z]+/{1}[A-Z]+(\s[A-Z]+)?)$"></Rule>
    </XmlValidation>
  </Filter>
</configuration>