<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <RulePath Path="config\rule.config"></RulePath>
      <ModelPath Path="config\Validation\Authority.config"></ModelPath>
      <ModelPath Path="config\Validation\Workflow.config"></ModelPath>
      <ModelPath Path="config\Validation\Cms.config" ></ModelPath>
      <ModelPath Path="config\Validation\Sys.config" ></ModelPath>
      <ModelPath Path="config\Validation\Editor.config" ></ModelPath>
      <ModelPath Path="config\Validation\Log.config" ></ModelPath>
      <ModelPath Path="config\Validation\Utility.config"></ModelPath>
      <ModelPath Path="config\Validation\Basedata.config"></ModelPath>
      <ModelPath Path="config\Validation\Finance.config"></ModelPath>
      <ModelPath Path="config\Validation\Product.config"></ModelPath>
	    <ModelPath Path="config\Validation\Promotion.config"></ModelPath>
      <ModelPath Path="config\Validation\Order.config"></ModelPath>
      <ModelPath Path="config\Validation\Search.config"></ModelPath>
      <ModelPath Path="config\Validation\Wms.config"></ModelPath>
      <ModelPath Path="config\Validation\Basedata.config"></ModelPath>
      <ModelPath Path="config\Validation\Purchase.config"></ModelPath>
      <ModelPath Path="config\Validation\Agent.config"></ModelPath>
      <ModelPath Path="config\Validation\Supplier.config"></ModelPath>
      <ModelPath Path="config\Validation\Crm.config"></ModelPath>
      <ModelPath Path="config\Validation\Member.config"></ModelPath>
      <ModelPath Path="config\Validation\Hr.config"></ModelPath>
      <ModelPath Path="config\Validation\Security.config"></ModelPath>
      <ModelPath Path="config\Validation\Merchant.config"></ModelPath>
      <ModelPath Path="config\Validation\Gis.config"></ModelPath>
      <ModelPath Path="config\Validation\Api.config"></ModelPath>
      <ModelPath Path="config\Validation\Cart.config"></ModelPath>
      <ModelPath Path="config\Validation\Account.config"></ModelPath>
      <ModelPath Path="config\Validation\Management.config"></ModelPath>
      <ModelPath Path="config\Validation\Datacube.config"></ModelPath>
      <ModelPath Path="config\Validation\Site.config"></ModelPath>
      <ModelPath Path="config\Validation\market.config"></ModelPath>
    </XmlValidation>
  </Filter>
</configuration>