<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <Settings>
    <App>
      <!--支付宝支付配置-->
      <add key="AliPay" value="{Partner:'2088811602777',Key:'6ismzapyhy71brazg6q8qhtr62yso',SellerEmail:'240682159@qq.com'}"/>
      <!--交行支付配置-->
      <add key="BcmPay" value="{MerCertId:'301310063009501',TranCode:'BPAYPY4101',MerPtcId:'1BPAY1307220047',TranMode:'D',TranCry:'CNY',ChannelApi:'3010001010',SocketIp:'localhost',SocketPort:'8891'}"/>
      <!--微信配置-->
      <add key="Wechat" value="{AppId:'wx92cfd11a082d1e3c',AppKey:'',MchId:'',Secret:'6815eb233bcbd969e3ba5ac16a1e3f97',Token:'test112233'}"/>
      <add key="SiteWechat" value="{AppId:'wx92cfd11a082d1e3c',AppKey:'',MchId:'',Secret:'6815eb233bcbd969e3ba5ac16a1e3f97',Token:'test112233'}"/>
      <add key="CrmWechat" value="{AppId:'wx92cfd11a082d1e3c',AppKey:'',MchId:'',Secret:'6815eb233bcbd969e3ba5ac16a1e3f97',Token:'test112233'}"/>
      <!--短信-->
      <add key="YimeiSms" value="http://sdk999ws.eucp.b2m.cn:8080/sdkproxy/sendsms.action?cdkey=9SDK-EMY-0999-JEYTR&amp;password=799675&amp;smspriority=1;"/>
      <add key="YiTongSms" value="http://esms.etonenet.com/sms/mt?command=MT_REQUEST&amp;spid=3858&amp;sppassword=slc3858ccc"/>
      <add key="YunXinLiuKeSms" value="{Url:'http://h.1069106.com:1210/services/msgsend.asmx/SendMsg',UserCode:'shhl',UserPass:'shhl546'}"/>
      <add key="MengWangSms" value="{Url:'http://61.145.229.29:9003/MWGate/wmgw.asmx/MongateCsSpSendSmsNew',UserId:'J01557',Password:'298782'}"/>
      <!--百度地图-->
      <add key="BaiduMap" value="{Url:'http://api.map.baidu.com',Ak:'dTsjQYksz4qachUSLaqNDo92'} "/>
      <!--IP查询接口-->
      <add key="SinaIp" value="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js&amp;ip= "/>
    </App>
  </Settings>
</configuration>