<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--////////////////////////////特殊语音包////////////////////////////////////////-->
      <Language Name="Beeant.Domain.Entities.Authority.AbilityEntity.IsVerifyName">
        <Message Name="True" Value="角色"></Message>
        <Message Name="False" Value="用户"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           