<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--部门-->
      <Model Name="Beeant.Domain.Entities.Hr.DepartmentEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="部门不存在"></Property>
      </Model>
      <!--职位-->
      <Model Name="Beeant.Domain.Entities.Hr.PositionEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="部门不存在"></Property>
      </Model>
      <!--员工-->
      <Model Name="Beeant.Domain.Entities.Hr.StaffEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Department.Id" Message="部门必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Department.Id" Message="职位必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="用户必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="JobNumber" Message="工号长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Leadership" Message="直属领导名称长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="HeadFileName" Message="头像扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="HeadFileByte" Message="头像大小必须在300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="头像大小必须在300KB"></Validation>
        </Property>
        <Property PropertyName="ContractFileName" Message="附件扩展名只能为rar|doc|docx|txt|jpg|png|gif|bmp压缩文件">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="rar|doc|docx|txt|jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ContractFileByte" Message="附件必须小于1MB">
          <Validation RuleName="ValueRange" P0="0" P1="1048576" ValidationType="Add|Modify"  Message="附件必须小于1MB"></Validation>
        </Property>
        <Property PropertyName="Qq" Message="Qq长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Msn" Message="MSN长度不能超过80">
          <Validation RuleName="Email" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Province" Message="省份必填不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="City" Message="城市必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址必填长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="出生日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Habitat" Message="居住地必填">
          <Validation RuleName="LengthRange" P0="1" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Degree" Message="学历必填">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EnrollmentDate" Message="入职日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="电子邮件必填而且长度不能超过80">
          <Validation RuleName="Email" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码必填">
          <Validation RuleName="Length" P0="11" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Mobile" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话长度不能超过30">
          <Validation RuleName="Phone" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="身份证号码必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="CardID" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExtensionTelephone" Message="分机号码长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必须">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在"></Property>
        <Property PropertyName="AlreadyFire" Message="员工已经离职"></Property>
      </Model>

    </XmlValidation>
  </Filter>
</configuration>