<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--Welfare站点配置信息-->
      <Model Name="Beeant.Domain.Entities.Welfare.WelfareEntity">
        <Property PropertyName="Account.Id" Message="账号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="公司名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Code" Message="企业代码必须是大小英文而且长度不能超过10个字符">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="UpperEnglish"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="站点不存在">  </Property>
        <Property PropertyName="ExpireDateOver" Message="站点过期">  </Property>
        <Property PropertyName="AccountHasHr" Message="账户已经绑定被绑定">  </Property>
        <Property PropertyName="WelfareIdError" Message="福利编号错误">  </Property>
      </Model>
      <!--福利产品-->
      <Model Name="Beeant.Domain.Entities.Welfare.BenefitEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Goods.Id" Message="产品编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="福利产品名称必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于500KB">
          <Validation  RuleName="ValueRange" P0="0" P1="512000"  ValidationType="Add|Modify" Message="图片大小必须小于500KB"></Validation>
        </Property>
        <Property PropertyName="Exist" Message="该产品已经推送">  </Property>
      </Model>
 
      <!--支付策略-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanPayEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="产品编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Plan.Id" Message="计划编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartCount" Message="开始数量必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndCount" Message="结束数量必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PayAmount" Message="企业支付金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeFloat" P0="9" P1="0" P2="4" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartCountOverEndCount" Message="开始数量必须小于等于结束数量"></Property>
        <Property PropertyName="CountMustContinue" Message="支付策略数量不连续"></Property>
      </Model>
      <!--计划-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Benefit.Id" Message="福利商品编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="计划名称必填而且长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Description" Message="计划描述不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PolicyName" Message="策略名称不能200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Status" Message="计划状态必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="计划状态必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExpireDate" Message="计划窗口期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于500KB">
          <Validation  RuleName="ValueRange" P0="0" P1="512000"  ValidationType="Add|Modify" Message="图片大小必须小于500KB"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="计划不存在"></Property>
        <Property PropertyName="UnCreate" Message="计划已经报审不能修改"></Property>
        <Property PropertyName="MustHavePlanPays" Message="计划还没配置支付策略不能报审"></Property>
      </Model>
      <!--计划策略-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanPolicyEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="计划策略名称必填而且长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Value" Message="计划策略内容必填而且长度不能超过1000个字符">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartAge" Message="开始年龄必须是整形">
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndAge" Message="结束年龄必须是整形">
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Organization" Message="组织长度不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Kind" Message="工作长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Grade" Message="等级长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WorkAddress" Message="工作所在地不能超过80个字符">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SocialSecurity" Message="社保所在地不能超过80个字符">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BeginStartWorkDate" Message="开始工作年限开始日期必须是日期格式">
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndStartWorkDate" Message="结束工作年限开始日期必须是日期格式">
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--计划员工-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanStaffEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Plan.Id" Message="计划编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--计划任务-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanFlowEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Plan.Id" Message="计划编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="任务类型必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="任务类型必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--计划任务-->
      <Model Name="Beeant.Domain.Entities.Welfare.PlanTaskEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Plan.Id" Message="计划编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Order.Id" Message="订单编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序数量必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="任务类型必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="任务类型必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Status" Message="任务状态必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="任务状态必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--福利订单-->
      <Model Name="Beeant.Domain.Entities.Welfare.WelfareOrderEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Order.Id" Message="订单编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Plan.Id" Message="计划编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExpireDate" Message="窗口时间期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称必填而且长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--福利订单-->
      <Model Name="Beeant.Domain.Entities.Welfare.WelfareAccountEntity">
        <Property PropertyName="Welfare.Id" Message="福利站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>