@{
    Layout = "~/Views/Shared/_StarryLayout.cshtml";
    ViewBag.Title = "分类选择";
    ViewBag.ToperName = "分类选择";
}
@using Beeant.Basic.Services.Mvc.Extension
@using Beeant.Basic.Services.Mvc.Extension.Mobile
@model Beeant.Cloud.Site.Mobile.Models.Catalog.CatalogListModel


<div class="catalog">
  

</div>
   
<script type="text/javascript" src="~/Scripts/Starry/catalog.js"></script>