@model Beeant.Presentation.Mobile.Member.Models.Member.MessageModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "消息中心";
}
@section head
{
    @Styles.Render("~/content/message.css")
}
<div class="message">
    <div class="list">

    </div> 
</div>
<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="/Scripts/message.js"></script>