<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--Hr站点配置信息-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.HrEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="HrEntity" SetTableName="t_Hr_Hr" GetTableName="t_Hr_Hr"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Setting" FieldName="Setting"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
     
        <!--员工-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="StaffEntity" SetTableName="t_Hr_Staff" GetTableName="t_Hr_Staff"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Hr.Id" FieldName="HrId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Email" FieldName="Email"></Property>
          <Property PropertyName="Gender" FieldName="Gender"></Property>
          <Property PropertyName="Birthday" FieldName="Birthday"></Property>
          <Property PropertyName="IdCardNumber" FieldName="IdCardNumber"></Property>
          <Property PropertyName="Country" FieldName="Country"></Property>
          <Property PropertyName="Number" FieldName="Number"></Property>
          <Property PropertyName="Organization" FieldName="Organization"></Property>
          <Property PropertyName="Position" FieldName="Position"></Property>
          <Property PropertyName="Kind" FieldName="Kind"></Property>
          <Property PropertyName="Grade" FieldName="Grade"></Property>
          <Property PropertyName="WorkAddress" FieldName="WorkAddress"></Property>
          <Property PropertyName="StartWorkDate" FieldName="StartWorkDate"></Property>
          <Property PropertyName="EnrollmentDate" FieldName="EnrollmentDate"></Property>
          <Property PropertyName="SocialSecurity" FieldName="SocialSecurity"></Property>
          <Property PropertyName="MedicalHistory" FieldName="MedicalHistory"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Hr">
            <MapObject Name="Beeant.Domain.Entities.Hr.HrEntity,Beeant.Domain.Entities" ObjectProperty="Hr.Id" MapObjectProperty="Id" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" IsRemote="true" ObjectProperty="Account.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Families">
            <MapObject Name="Beeant.Domain.Entities.Hr.FamilyEntity,Beeant.Domain.Entities"  ObjectProperty="Id" MapObjectProperty="Staff.Id"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--家庭成员-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.FamilyEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="FamilyEntity" SetTableName="t_Hr_Family" GetTableName="t_Hr_Family"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Hr.Id" FieldName="HrId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Staff.Id" FieldName="StaffId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Relation" FieldName="Relation"></Property>
          <Property PropertyName="Birthday" FieldName="Birthday"></Property>
          <Property PropertyName="Gender" FieldName="Gender"></Property>
          <Property PropertyName="IdCardNumber" FieldName="IdCardNumber"></Property>
          <Property PropertyName="Country" FieldName="Country"></Property>
          <Property PropertyName="MedicalHistory" FieldName="MedicalHistory"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Hr">
            <MapObject Name="Beeant.Domain.Entities.Hr.HrEntity,Beeant.Domain.Entities" ObjectProperty="Hr.Id" IsRemote="true" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" IsRemote="true" ObjectProperty="Staff.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--组织-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.OrganizationEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="OrganizationEntity" SetTableName="t_Hr_Organization" GetTableName="t_Hr_Organization"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Hr.Id" FieldName="HrId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Hr">
            <MapObject Name="Beeant.Domain.Entities.Hr.HrEntity,Beeant.Domain.Entities" ObjectProperty="Hr.Id" IsRemote="true" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

      </Map>
    </XmlOrm>
  </Persistence>
</configuration>