<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--用户-->
        <Object ObjectName="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities"  GetDataBase="BeeantManagementRead" SetDataBase="BeeantManagementWrite"  NickObjectName="UserEntity" SetTableName="t_Management_User" GetTableName="t_Management_User"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--列表页面个性化设置-->
        <Object ObjectName="Beeant.Domain.Entities.Management.ListSearchEntity,Beeant.Domain.Entities" GetDataBase="BeeantManagementRead" SetDataBase="BeeantManagementWrite"  NickObjectName="ListSearchEntity" SetTableName="t_Management_ListSearch" GetTableName="t_Management_ListSearch"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Url" FieldName="Url"></Property>
          <Property PropertyName="Website" FieldName="Website"></Property>
          <Property PropertyName="Detail" FieldName="Detail"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>