<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--订单-->
      <Model Name="Beeant.Domain.Entities.Order.OrderEntity">
        <Property PropertyName="OrderDate" Message="下单日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="订单类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ChannelTypeName" Message="来源类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PayTypes" Message="支付方式过多">
          <Validation RuleName="Length" P0="0" P1="500" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TotalAmount" Message="金额必须为0">
          <Validation RuleName="IsChar" P0="0"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PayAmount" Message="核销金额必须为0">
          <Validation RuleName="IsChar" P0="0"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="InvoiceAmount" Message="发票核销金额必须为0">
          <Validation RuleName="IsChar" P0="0"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="CostAmount" Message="成本金额必须为0">
          <Validation RuleName="IsChar" P0="0"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Deposit" Message="金额不能为负">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeFloat" P0="9" P1="0" P2="4" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Variables" Message="自定义变量长度过长">
          <Validation RuleName="LengthRange"  P0="0" P1="2000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="RouteId" Message="路由编号不能超过100">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Status" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="附件扩展名只能为rar|doc|docx|txt|jpg|png|gif|bmp压缩文件">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="Extension" P0="rar|doc|docx|txt|jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="定制品附件必须小于1MB">
          <Validation RuleName="ValueRange" P0="0" P1="1048576" ValidationType="Add|Modify" Message="定制品附件必须小于1M"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="订单不存在"></Property>
        <Property PropertyName="UnFinish" Message="订单未完成"></Property>
        <Property PropertyName="TotalPayAmountLessPayAmount" Message="订单应收金额必须大于等于实收金额"></Property>
        <Property PropertyName="TotalInvoiceAmountLessInvoiceAmount" Message="订单应收金额必须大于等于发票核销金额"></Property>
        <Property PropertyName="AmountLessPayAmount" Message="支付金额超出"></Property>
        <Property PropertyName="FirstPayThanDeposit" Message="定金不足"></Property>
        <Property PropertyName="DataIdExist" Message="订单关联同步编号已经存在"></Property>
        <Property PropertyName="OriginalOrderNoExist" Message="原始订单不存在"></Property>
        <Property PropertyName="OriginalAccountNotEqueal" Message="原始订单账户不一致"></Property>
        <Property PropertyName="ProductCountNotEnough" Message="{0}库存不足"></Property>
      </Model>
      <!--订单编号-->
      <Model Name="Beeant.Domain.Entities.Order.OrderNumberEntity">
        <Property PropertyName="Number" Message="关联编号不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="关联编号名称不能超过50个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单明细-->
      <Model Name="Beeant.Domain.Entities.Order.OrderItemEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称必填且长度不能超过120字符">
          <Validation RuleName="LengthRange"  P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Price" Message="价格必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="数量必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="CostAmount" Message="成本必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="InvoiceAmount" Message="开票金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过200个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="订单明细信息不存在"></Property>
      </Model>
      <!--订单产品-->
      <Model Name="Beeant.Domain.Entities.Order.OrderProductEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="产品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Promotion.Id" Message="活动编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称必填且长度不能超过120字符">
          <Validation RuleName="LengthRange"  P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Price" Message="价格必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Description" Message="描述不能超过200个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过200个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于500KB">
          <Validation RuleName="ValueRange" P0="0" P1="512000" ValidationType="Add|Modify" Message="图片大小必须小于500KB"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="订单明细信息不存在"></Property>
        <Property PropertyName="ReturnCountOver" Message="订单退货数量超出时间下单数量"></Property>
      </Model>
      
      <!--订单支付-->
      <Model Name="Beeant.Domain.Entities.Order.OrderPayEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="9" P1="0" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="付款方式不能超过50个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Number" Message="原始单据号长度不能超过60个字符">
          <Validation RuleName="LengthRange" P0="0" P1="60" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusNotAllowModifyAmount" Message="订单核销完成不允许修改金额"></Property>
        <Property PropertyName="StatusNotAllowRemove" Message="订单核销完成不允许删除"></Property>
        <Property PropertyName="FirstPayThanDeposit" Message="订单编号{0}，首次收款必须大于等于定金"></Property>
      </Model>
      <!--订单发票-->
      <Model Name="Beeant.Domain.Entities.Order.OrderInvoiceEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="发票抬头不能超过150个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="9" P1="0" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Number" Message="发票号码长度不能超过60个字符">
          <Validation RuleName="LengthRange" P0="0" P1="60" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusNotAllowModifyAmount" Message="订单发票核销完成不允许修改金额"></Property>
        <Property PropertyName="StatusNotAllowRemove" Message="订单发票核销完成不允许删除"></Property>
      </Model>
      <!--订单附件-->
      <Model Name="Beeant.Domain.Entities.Order.OrderAttachmentEntity">
        <Property PropertyName="Order.Id" Message="订单编号必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="附件名称不能为空并且小于80">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="附件扩展名只能为rar|doc|docx|txt|jpg|png|gif|bmp压缩文件">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="Extension" P0="rar|doc|docx|txt|jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="文件大小必须小于1MB">
          <Validation RuleName="ValueRange" P0="0" P1="1048576" ValidationType="Add|Modify" Message="文件大小必须小于1MB"></Validation>
        </Property>
      </Model>
      <!--订单快递-->
      <Model Name="Beeant.Domain.Entities.Order.OrderExpressEntity">
        <Property PropertyName="Order.Id" Message="订单编号必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="快递金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DeliveryDate" Message="交货日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="快递公司名称不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Number" Message="快递号不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Recipient" Message="接收人长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码必须符合电话号码格式">
          <Validation RuleName="LengthRange" P0="1" P1="11" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Mobile" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过10">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="接收地址长度不能超过150个字符">
          <Validation RuleName="LengthRange" P0="1" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="邮箱要符合邮箱格式">
          <Validation RuleName="Email" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="快递号不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单维护记录-->
      <Model Name="Beeant.Domain.Entities.Order.OrderNoteEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="维护内容必填而且不能超过120个字符">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="操作人编号错误">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单投诉记录-->
      <Model Name="Beeant.Domain.Entities.Order.OrderComplaintEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Question" Message="投诉内容必须大于5个字小于200字">
          <Validation RuleName="LengthRange" P0="5" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Answer" Message="回答内容必须在大于5个字小于1000字">
          <Validation RuleName="LengthRange" P0="5" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="AnswerTime" Message="回答时间必须">
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="订单投诉评价类型必须">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单保险记录-->
      <Model Name="Beeant.Domain.Entities.Order.OrderInsuranceEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="产品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Relation" Message="家庭关系不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="出生日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必须">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="身份证号码必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="CardID" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MedicalHistory" Message="既往病史不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EffectiveDate" Message="保单生效日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExpireDate" Message="保单终止日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--下单错误提示-->
      <Model Name="Beeant.Application.Dtos.Order.SettlementDto">
        <Property PropertyName="NoAddress" Message="您还没有设置收货地址"></Property>
        <Property PropertyName="NoInvoice" Message="发票信息错误"></Property>
        <Property PropertyName="NoCoupon" Message="优惠券信息错误"></Property>
        <Property PropertyName="NoProduct" Message="产品已经下架"></Property>
        <Property PropertyName="ProductCountOver" Message="产品库存不足"></Property>
        <Property PropertyName="ProductOrderMinCountError" Message="产品起订数量不足"></Property>
		    <Property PropertyName="ProductOrderLimitCountError" Message="活动中产品存在限购，您已经订购的数量已经超出"></Property>
		    <Property PropertyName="ProductOrderSteWebisteountError" Message="产品订购步长不匹配"></Property>
        <Property PropertyName="NoPromotion" Message="活动已经下架"></Property>
        <Property PropertyName="NotAllowCustomOrder" Message="该产品不支持定制"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>