<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--验证码-->
        <Object ObjectName="Beeant.Domain.Entities.Security.CodeEntity,Beeant.Domain.Entities" GetDataBase="BeeantSecurityRead" SetDataBase="BeeantSecurityWrite" NickObjectName="CodeEntity" SetTableName="t_Security_Code" GetTableName="t_Security_Code"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Tag" FieldName="Tag" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Value" FieldName="Value"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="EffectiveTime" FieldName="EffectiveTime"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="ToAddress" FieldName="ToAddress"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="SendStep" FieldName="SendStep"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Subject" FieldName="Subject"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Body" FieldName="Body"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--登录锁-->
        <Object ObjectName="Beeant.Domain.Entities.Security.LockerEntity,Beeant.Domain.Entities" GetDataBase="BeeantSecurityRead" SetDataBase="BeeantSecurityWrite" NickObjectName="LoginLockerEntity" SetTableName="t_Security_Locker" GetTableName="t_Security_Locker"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Tag" FieldName="Tag" OperatorMode="Add|Read"></Property>
          <Property PropertyName="LockTime" FieldName="LockTime"></Property>
          <Property PropertyName="ErrorCount" FieldName="ErrorCount"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--临时存储-->
        <Object ObjectName="Beeant.Domain.Entities.Security.TemporaryEntity,Beeant.Domain.Entities" GetDataBase="BeeantSecurityRead" SetDataBase="BeeantSecurityWrite" NickObjectName="LoginLockerEntity" SetTableName="t_Security_Temporary" GetTableName="t_Security_Temporary"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
          <Property PropertyName="EffectiveTime" FieldName="EffectiveTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Tag" FieldName="Tag" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>