@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
@model Beeant.Cloud.Site.Website.Models.Company.CompanyModel
<div class="center">
    <div class="contact">
        @if (Model != null && Model.Company != null)
        {
            <ul>
                <li>QQ:@Model.Company.Qq</li>
                <li>传真:@Model.Company.Fax</li>
                <li>电话:@Model.Company.Mobile</li>
                <li>联系人:@Model.Company.Linkman</li>
                <li>Email:@Model.Company.Email</li>
            </ul>
        }
    </div>
</div>