.clear{zoom: 1}
.clear:after{display: block;content: '';clear: both}
.main-grey{background: #f0f3f4}
.main-center{width: 1160px;margin:  0 auto}
.head{height: 80px}
.head .h-logo{float: left;padding-top: 25px}
.head .h-logo img{vertical-align: middle;}
.head .h-menu{float: left;color: #333;padding-left: 260px;padding-top: 24px}
.head .h-menu li{float: left;margin-right: 80px;position: relative;padding: 18px}
.head .h-menu li a{color: #333}
.head .h-menu li a:hover:before,.head .h-menu .select a:before { -webkit-transform: scaleX(1);transform: scaleX(1);}
.head .h-menu li a:before {position: absolute;width: 100%;height: 0;left: 0;bottom: -1px;content: "";border-bottom: 2px solid #1ba4e3;
              -webkit-transform: scaleX(0); transform: scaleX(0);-webkit-transition: -webkit-transform .25s ease;transition: transform .25s ease;}
.head .h-user{float: right;color: #1ba4e3;padding-top: 42px;position: relative}
.head .h-user>i{display: inline-block;vertical-align: middle;background: url("../images/fl_ico.png");width: 17px;height: 16px;margin-right: 8px;margin-top: -5px}
.h-user .sdown{position: absolute;width: 188px;left: -86px;color: #888;font-size: 12px;display: none}
.head .h-user:hover .sdown{display: block}
.h-user .sdown_top{background: url("../images/sdown_top.png");height: 15px}
.h-user .sdown_bottom{background: url("../images/sdown_bottom.png");height: 10px}
.h-user .sdown .sdown-con{background: url("../images/sdown_m.png");padding: 0 4px}
.sdown-con li{border-top: 1px solid #ccc;line-height: 42px}
.sdown-con li:first-child{border-top: 0}
.sdown-con li i{display: inline-block;width: 16px;height: 16px;background: url("../images/fl_ico.png") 0 -49px;vertical-align: middle;margin: -4px 10px 0 17px;}
.sdown-con li:first-child+li i{background-position: -23px -49px}
.sdown-con li:first-child+li+li i{background-position: -45px -49px}
.sdown-con li:first-child+li+li+li i{background-position: -69px -49px}
.fl-top img{vertical-align: middle;width: 100%}
.ofh{overflow: hidden}
.detail-bd{border: 1px solid #dedede;margin-top: 19px;background: #fff}
.detail-bd .info-l{float: left;margin: 1px;margin-right: 0}
.detail-bd .info-l img{width: 485px;height: 436px}
.detail-bd .info-r{float: right;width: 652px;margin-right: 10px}
.detail-bd .info-r .info-title{font-size: 22px;color: #333;font-weight: normal;padding-top: 30px;text-indent: 25px;height: 44px}
.detail-bd .info-r .info-title a{float: right;color: #333;font-size: 14px;margin-right: 55px;border: 1px solid #dedede;text-indent: 0;padding:4px 6px;cursor: pointer}
.detail-bd .info-r .info-title a i{display: inline-block;width: 16px;height: 16px;background: url("../images/fl_ico.png") -22px 0;vertical-align: middle;margin-top: -2px;margin-right: 3px}
.premium{background: #fbfbfb;border-bottom: 1px dashed #d6d6d6;border-top: 1px dashed #d6d6d6;height: 36px;line-height: 36px}
.prem-name{padding-left: 30px;width: 88px;display: inline-block; vertical-align: top;font-size: 12px}
.prem-value{color: #ff8200;font-size: 28px}
.prem-value2{background: #1ba4e3;color: #fff;padding: 5px 22px;font-size: 14px}
.premium2{;padding-top: 26px;font-size: 12px;}
.file-load{height: 80px;line-height: 80px;border-bottom: 1px solid #d6d6d6;border-top: 1px solid #d6d6d6;margin-top: 30px;padding-left: 20px}
.file-load a{margin-left: 80px}
.file-load i{display: inline-block;width: 20px;height: 21px;background: url("../images/fl_ico.png") 0 -21px;margin-right: 8px;vertical-align: middle;margin-top: -6px;}
.file-load .i2{background-position: -25px -22px}
.insure-oper{padding-top: 50px;padding-left: 105px}
.bt-yellow,a.bt-yellow{color: #fff;background: #ff8800;font-size: 16px;border-radius: 4px;display: inline;padding: 9px 30px;border: 0}
.detail-con{margin-top: 17px;background: #fff}
.dc-bd{height: 77px;padding-top: 28px;}
.dc-bd-con{top: 0;width: 1160px;background: #fff;border-bottom: 2px solid #1ba4e3;height: 47px;z-index: 9}
.dc-tb{height: 47px;line-height: 46px;margin-left: 1px;float: left}
.dc-tb li{float: left;width: 200px;text-align: center;font-size: 16px;border: 1px solid #d7d7d7;border-bottom: 0;margin-left: -1px;cursor: pointer}
.dc-tb li.select,.dc-tb li:hover{background: #1ba4e3;color: #fff;border-color: #1ba4e3}
.dc-con{padding: 8px 70px;padding-bottom: 30px;}
.dc-con>dl>dt{color: #1ba4e3;background: #eef7fe;height: 44px;line-height: 44px;padding-left: 22px}
.dc-con>dl{margin-top: 30px;border-top: 1px solid #c8d9e1;padding-top: 25px;padding-left: 15px;padding-right: 24px}
.dc-con>dl:first-child{border: 0;padding-top: 0}
.dc-con>dl>dd{border-top: 1px solid #ddd;margin-top: 1px}
.dc-con>dl>dt i{display: inline-block;width: 20px;height: 20px;background: url("../images/fl_ico.png") -47px 0;vertical-align: middle;margin-top: -4px;margin-right: 12px}
.dc-con table{width: 100%;border-collapse: collapse}
.dc-con table td{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;line-height: 24px;padding: 12px 0;text-align: center}
.dc-con table th{line-height: 40px;color: #000;text-align: center}
.dc-con table .link{color: #333;text-decoration: underline}
.drop-down{display: inline-block;width: 11px ;height: 6px;background: url("../images/fl_ico.png") -51px -36px;vertical-align: middle;margin-top: -1px;margin-left: 6px}
.dc-con table tr:first-child+tr{background: #f6f6f6}
.mess-del{position: relative}
.mess-del i{position: absolute;width: 19px;height: 19px;background: url("../images/fl_ico.png") -71px -25px;right: -28px;top: -21px;
    cursor: pointer;}
.dc-con .add-mess{float: right;margin-right: 50px;cursor: pointer}
.dc-con .add-mess i{background-position: -70px 2px;margin-right: 8px}
.tb-shadow{box-shadow:0px 2px 2px #969696;-moz-box-shadow: 0px 2px 2px #969696;-webkit-box-shadow: 0px 2px 2px #969696 }
.insure-shad{float: right;padding-top: 13px;display: none}
.insure-shad .bt-yellow,.insure-shad .prem-value{vertical-align: middle;margin-right: 15px}


/*列表页*/
.list-top-img{background: #8eb9d1}
.list-top-img img{vertical-align: middle}
.map-con{background: #f0f3f4;line-height: 40px}
.list-title{font-size: 26px;color: #666;line-height: 28px;padding: 30px 0}
.list-title i{display: inline-block;width: 7px;height: 12px;background: url("../images/fl_ico.png") 0 -74px;vertical-align: middle;margin-top: -6px;margin-right: 10px}
.list-item{padding-bottom: 30px;padding-top: 40px;zoom: 1}
.list-item:hover{background: #deebef}
@keyframes hove
{
    0% {transform:rotate(0deg) }
    100%{transform:rotate(360deg)}
}

@-webkit-keyframes hove
{
    0% {transform:rotate(0deg) }
    100%{transform:rotate(360deg)}
}
.list-item:hover .item-img{animation: hove 0.2s; -webkit-animation: hove 0.2s; }
.list-even{background: #f0f3f4}
.list-item:after{display: block;content: '';clear: both}
.list-item .item-img{float: left;width: 140px}
.list-item .item-img img{width: 122px;height: 122px;border-radius: 61px;}
.list-item .item-name{float: left;line-height: 28px;font-size: 20px;color: #1ba4e3;min-height: 120px;width: 240px;}
.list-item dl{float: left;}
.list-item dl>dt{padding-bottom: 20px}
.list-item dl>dd{line-height: 24px;position: relative;margin-left: 30px}
.list-item dl>dd:before{position: absolute;width: 15px;height: 14px;background: url("../images/fl_ico.png") -12px -71px;left: -30px;top:8px;content: ''}
.list-item .item-in{float: right;width: 160px;height: 36px;line-height: 36px;text-align: center;background: #1ba4e3;color: #fff;border-radius: 5px;margin-top: 40px;margin-right: 20px}
.list-item .item-in i{display: inline-block;width: 14px;height: 10px;background: url("../images/fl_ico.png") -33px -74px;margin-left: 10px}
.list-item .item-in2{background: #f89728}
.foot{background: #e7e7e7;padding: 75px 0}
.foot .f-l,.foot .f-m{float: left;width: 285px;padding-left: 95px;font-size: 12px;line-height: 22px;color: #222}
.foot .f-l img{margin-left: 22px;margin-bottom: 5px}
.foot .f-m{width: 485px;padding-top: 30px;padding-left: 0}
.foot .f-r{float: left;padding-top: 28px;color: #222}
.foot .f-r dd span{display: inline-block;width: 29px;height: 29px;background: url("../images/follow_ico.png");margin-right: 10px;margin-top: 10px;cursor: pointer}
.foot .f-r dd span:first-child+span{background-position: -38px 0}
.foot .f-r dd span:first-child+span+span{background-position: -77px 0}

.u-main{background: #f0f3f4}
.mes-dl{padding-top: 25px}
.mes-dl>dt{color: #1ba4e3;font-size: 18px;position: relative;padding-left: 40px;padding-bottom: 15px}
.mes-dl>dt:before{content: '';position: absolute;width: 7px;height: 10px;background: url("../images/fl_ico.png") -55px -75px;left: 23px;top:5px}
.mes-dl>dd{background: #fff;padding: 35px 0;margin-bottom: 22px}
.news-list li{float: left;width: 332px;padding: 0 60px}
.news-list li>dl{color: #555;float: left;width: 280px;padding-left: 18px}
.news-list li>dl>dt{font-size: 16px;padding-bottom: 10px}
.news-list li>dl>dd{line-height: 20px;font-size: 12px;}
.news-list .time{float: left;width: 32px;color: #686868}
.news-list .time .time-t{text-align: center;font-size: 18px}
.news-list .time .time-m{border-bottom: 1px solid #c8c8c8;margin: 1px 0}
.news-list .time .time-b{text-align: center}
#news{float: left;margin-left: 50px}
.news-prev,.news-next{width: 23px;height: 28px;background: url("../images/fl_ico.png") -95px -2px;margin-top: 40px;cursor: pointer}
.news-prev{float: left;margin-left: 50px}
.news-next{float: right;background-position: -95px -36px;margin-right: 50px}
.mes-dl .recom{}
.recom ul{width: 1182px}
.recom li{float: left;padding: 18px;background: #fff;position: relative;margin-right: 18px;margin-bottom: 30px;
    box-shadow:0px 1px 5px #969696;-moz-box-shadow: 0px 1px 5px #969696;-webkit-box-shadow: 0px 1px 5px #969696
}
.recom li:hover{box-shadow:2px 4px 12px #777;-moz-box-shadow: 2px 4px 12px #777;-webkit-box-shadow:2px 4px 12px #777;top:-5px}
.recom li img{width: 240px;height: 160px}
.recom .thumbs-up{position: absolute;width: 50px;height: 50px;background: #f26b00;left: 18px;top:18px;cursor: pointer}
.recom .thumbs-up:before{content: '';position: absolute;width: 21px;height: 23px;background: url("../images/fl_ico.png") -90px -68px;left: 14px;top:12px}
.recom .r-name{color: #222;font-size: 16px;padding-top: 20px;padding-bottom: 12px;text-indent: 8px}
.recom h4{font-size: 12px;color: #888;text-indent: 8px}
.recom h4 span{color: #f26b00}
.select-bt{text-align: right;padding-top: 22px;padding-bottom: 13px}
.bt-blue{background: #1ba4e3;color: #fff;padding: 6px 10px;border-radius: 3px;}
.bt-blue-y{background: #f26b00}
.bt-blue i{display: inline-block;width: 11px;height: 7px;background: url("../images/fl_ico.png") -70px -76px;vertical-align: middle;margin-top: -2px;margin-right: 4px}


/*login*/
.login-bg{position: fixed;left: 0;right: 0;bottom: 0;top: 0;}
.login-bg img{vertical-align: middle;width: 100%;height: 100%}
.login-bd{position: fixed;background: #fff;width: 390px;height: 360px;left: 50%;top:50%;margin-left: -195px;margin-top: -200px;
    box-shadow:0px 6px 8px #969696;-moz-box-shadow: 0px 6px 8px #969696;-webkit-box-shadow: 0px 6px 8px #969696
}
.login-main{padding: 0 30px}
.login-main h2{text-align: center;font-size: 18px;color: #000;padding-top: 32px;padding-bottom: 22px}
.login-main input[type=text]{width: 100%;padding: 0;border: 1px solid #bbb;height: 42px;line-height: 42px;margin-bottom: 18px;border-radius: 3px;text-indent: 35px}
.login-main input[type=button],.login-main input[type=submit]{width: 100%;border: 0;background: #1ba4e3;color: #fff;height: 44px;border-radius: 3px;cursor: pointer}
.coagent{padding-top: 20px;font-size: 12px}
.coagent .coage-l{float: left}
.coagent .coage-l input[type=checkbox]{vertical-align: middle;margin-top: -2px;margin-right: 3px}
.coagent .coage-r{float: right;color: #1ba4e3}
.login-logo{position: absolute;top:-110px;left: 148px}
.inpt{position: relative}
.inpt>i{position: absolute;width: 12px;height: 14px;background: url("../images/fl_ico.png") 0 -96px;left: 13px;top: 14px}
.inpt>.i2{background-position: -17px -96px}
.sus-bd{position: fixed;top:0;width: 100%;z-index: 99;background: #fff;border-bottom: 1px solid #ddd;}
.sus{height: 77px}
.head2{height: 76px;}
.head2 .h-logo{float: left}
.h-logo img{margin-top: 15px}
.head2 .h-menu{float: right;line-height: 76px}
.head2 .h-menu li{float: left;margin-right: 28px;font-size: 12px}
.head2 .h-menu li a{color: #555;}
.head2 .h-menu .select a,.head2 .h-menu li:hover a{color: #1ba4e3}
.head2 .h-user{float: right;line-height: 76px}
.head2 .h-user a{display: inline-block;width: 74px;height: 38px;line-height: 38px;text-align: center;border-radius: 2px}
.head2 .h-user .a1{background: #1ba4e3;color: #fff;border: 1px solid #1ba4e3}
.head2 .h-user .a2{color: #333;border: 1px solid #cfcfcf;margin-left: 8px}
.floor1 h3{text-align: center;font-size: 32px;color: #333;line-height: 40px;margin-bottom: 20px}
.floor1 p{text-align: center}
.section h3{text-align: center}
.floor2 h3>div{font-size: 32px;color: #333;padding-top: 16px;line-height: 36px}
.floor2 h3>i{display: inline-block;width: 74px;height: 74px;background: url("../images/index_ico.png") 0 -11px}
.insure-field{border-bottom: 1px dotted #c3c3c3;width: 670px;margin: 0 auto;padding: 22px 0}
.insure-field table{width: 100%;line-height: 22px}
.insure-field th{font-size: 12px;color: #666;text-indent: 20px}
.insure-field td{font-size: 16px ;color: #333;text-indent: 20px}

.profile{width: 700px;margin: 0 auto}
.profile dl{float: left;color: #666;width: 295px;}
.profile dl dt{color: #333;font-size: 20px;line-height: 60px;padding-top: 20px;text-align: center}
.profile dl dd{line-height: 24px}
.profile .p-phone{float: right;width: 220px;font-size: 16px;padding-top: 65px}
.profile .p-phone span{display: block;color: #1ba4e3}
.profile .p-phone span i{display: inline-block;width: 18px;height: 18px;background: url("../images/index_ico.png") -23px -144px;vertical-align: middle;
    margin-top: -4px;margin-right: 12px}
.profile .p-phone a{display: block;color: #fff;line-height: 44px;background:#1ba4e3;border-radius: 3px;text-align: center;margin-top: 18px}
.floor3 h3>i{background-position: -98px 0}
.profile3-img{float: left;width: 285px}
.profile3{padding-top: 23px}
.profile3-r{float: right;width: 375px;}
.profile3-r p{color: #666;line-height: 24px}
.profile3 .p-phone{float: none}
.floor4 h3>i{background-position: -100px -98px}
.floor4 .profile3-r{width: 330px}
.profile3-r h4{color: #333;font-size: 20px;padding-top: 10px;padding-bottom: 15px}
.profile4 .p-phone{padding-top: 50px}
.profile4{padding-bottom: 40px}

.info_box{ position: relative;}
.info_box_list .img{ width: 400px;height: 400px;}
#divFileName{ position: absolute;z-index: 9995;width: 420px;background: #ffffff;bottom: 0;}
#divFileName div{ width: 100%;height: 50px;line-height: 50px;text-align: center;border-top: 1px solid #DDDDDD;cursor: pointer;}
#divFileName .hurl{ width: 100%;cursor: pointer;}
.quit{ display: block;background:#ff0000;height: 50px;line-height: 50px; border: 1px solid #F7F7F7;width: 98%;text-align: center;font-size: 14px;font-weight: bold;color: #ffffff;}
.element .con .quit a{ color: #ffffff;}
.black{ color: #000000;}
.cut{position: absolute; top: 0; width: 100%;background: #ffffff;z-index: 9995;}
.cutimg{ position: relative;width: 100%;height: 400px; overflow: hidden;z-index: 9995;}
.topmask{position: absolute; opacity: 0.3; filter: alpha(opacity=30); z-index: 999; background: #000; top: 0; left: 0; width: 100%; }
.bottommask{position: absolute; opacity: 0.3; filter: alpha(opacity=30); z-index: 999; background: #000; top: 0; left: 0; width: 100%; }
.canvas{background: #fff8dc;opacity: 0.0; filter: alpha(opacity=0);  position: absolute; left: 0; top: 100px; z-index: 9995; height: 200px; width: 100%;}
.cutbottom{position: absolute;z-index: 9995; float: left;background: #fff;height: 50px;bottom: 0;width: 100%;}
.cutbottom .btn{ float: left;height: 50px;line-height: 50px;width: 60px;text-align: center;border: 0;z-index: 9995;font-size: 14px;margin-left: 20px;}
.cutbottom .sel{ background-color: #18b4ed;}


/*详情页面-常见问题模块*/
.problems>ul>li{border-bottom: 1px solid #ddd;zoom: 1;padding-top: 34px}
.problems>ul>li:after{content: '';display: block;clear: both}
.problems>ul>li>dl{float: left;width: 810px;}
.problems>ul>li>dl>dt{border-bottom: 1px dotted #ccc;line-height: 46px;color: #333}
.problems>ul>li>dl>dd{padding-top: 8px;line-height: 22px;color: #666;padding-bottom: 40px}
.problems>ul>li>dl label{font-size: 16px;font-weight: bold;padding-left: 55px;padding-right: 95px}
.problems>ul>li>dl>dt label{color: #1ba4e3;}
.problems>ul>li>dl>dd label{color: #ff8800;}
.problems>ul>li>dl>dd span{display: inline-block;width: 630px;vertical-align: top}
.problems .p-author{float: right;width: 152px;padding-top: 25px}
.problems .a-name{padding-top: 10px;color: #1ba4e3}
.problems .a-name i{display: inline-block;width: 25px;height: 24px;background: url("../images/fl_ico.png") -33px -90px;vertical-align: middle;
    margin-top: -4px;margin-right: 12px}
.problems .a-title{padding-left: 15px;color: #999}