@{   Layout = "~/Views/Shared/_EnDefaultLayout.cshtml";
    ViewBag.Title = "About Us";
    ViewBag.ToperName = "About Us";
}
@model Beeant.Cloud.Site.Mobile.Models.Company.CompanyModel
<div id="divCompany">

</div>
<script type="text/javascript" src="~/Scripts/company.js"></script>