<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService" closeTimeout="00:00:01" openTimeout="00:00:01" receiveTimeout="00.00:08" sendTimeout="00:00:08"
            bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
            allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
                algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" closeTimeout="00:00:01" openTimeout="00:00:01" receiveTimeout="00.00:30" sendTimeout="00:00:30"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000"
            maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="24.00:00"
              enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:10000"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
        contract="Beeant.Domain.Services.Account.IAccountIdentityService" name="IAccountIdentityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:11000"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
          contract="Winner.Storage.IFileContract" name="IImageFileService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:12000"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
          contract="Winner.Storage.IFileContract" name="IDocFileService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:13000"
	  binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
	  contract="Winner.Storage.IFileContract" name="IImageTempFileService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:14000"
      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
       contract="Beeant.Domain.Services.Search.ISearchContract" name="ISearchService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:15000" binding="netTcpBinding"
           bindingConfiguration="NetTcpBinding_IService" contract="Winner.Cache.ICacheContract"
           name="ICacheService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:16000" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IService" contract="Winner.Queue.IQueueContract"
        name="IQueueService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:17000"
      binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
     contract="Beeant.Domain.Services.Utility.IIdentityContract" name="IIdentityService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://127.0.0.1:18000"
binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
     contract="Beeant.Domain.Services.Product.IProductContract" name="IProductService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>