<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--银行信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.BankEntity" ClassName="Beeant.Domain.Services.Finance.BankDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.BankEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.BankEntity"></Property>
        </Instance>
        <!--收款-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PayinEntity" ClassName="Beeant.Domain.Services.Finance.PayinDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
          <Property Name="PayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.PayEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.PayinEntity" ClassName="Beeant.Application.Services.Finance.PayinWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
        </Instance>
        <!--付款-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PayoutEntity" ClassName="Beeant.Domain.Services.Finance.PayoutDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
          <Property Name="PaidDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PaidEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.PayoutEntity" ClassName="Beeant.Application.Services.Finance.PayoutWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PayoutEntity"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
        </Instance>
        <!--开具发票-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.InvoiceoutEntity" ClassName="Beeant.Domain.Services.Finance.InvoiceoutDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
          <Property Name="ReceiptDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ReceiptEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.InvoiceoutEntity" ClassName="Beeant.Application.Services.Finance.InvoiceoutWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.InvoiceoutEntity"></Property>
        </Instance>
        <!--收取发票-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.InvoiceinEntity" ClassName="Beeant.Domain.Services.Finance.InvoiceinDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
          <Property Name="ReceiptDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.ReceiptEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.InvoiceinEntity" ClassName="Beeant.Application.Services.Finance.InvoiceinWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.InvoiceinEntity"></Property>
        </Instance>
      
        <!--在线支付-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity" ClassName="Beeant.Domain.Services.Finance.PaylineDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
          <Property Name="PaylineItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineItemEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.PaylineEntity" ClassName="Beeant.Application.Services.Finance.PaylineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Finance.IPaylineApplicationService" ClassName="Beeant.Application.Services.Finance.PaylineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity"></Property>
        </Instance>
        <!--在线支付明细-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineItemEntity" ClassName="Beeant.Domain.Services.Finance.PaylineItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="OrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.PaylineEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineItemEntity"></Property>
        </Instance>
        <!--发票重置服务-->
        <Instance Name="Beeant.Application.Services.Finance.IInvoiceoutResetBalanceJobApplicationService" ClassName="Beeant.Application.Services.Finance.InvoiceoutResetBalanceJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
		  <!--积分申请流程发票-->
		  <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.IntegralEntity" ClassName="Beeant.Domain.Services.Finance.IntegralDomainService, Beeant.Domain.Services" >
			  <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
			  <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
		  </Instance>
		  <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Finance.IntegralEntity" ClassName="Beeant.Application.Services.Finance.IntegralWorkflowApplicationService,Beeant.Application.Services" >
			  <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
			  <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.IntegralEntity"></Property>
		  </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
