<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--////////////////////////////枚举////////////////////////////////////////-->
      <!--流水账类型-->
      <Language Name="Beeant.Domain.Entities.Account.AccountItemType">
        <Message Name="Balance" Value="余额"></Message>
        <Message Name="AdvanceBalance" Value="预付款"></Message>
        <Message Name="InvoiceinBalance" Value="镜像发票"></Message>
        <Message Name="InvoiceoutBalance" Value="销项发票"></Message>
        <Message Name="IntegralBalance" Value="积分"></Message>
        <Message Name="RedBalance" Value="红包"></Message>
        <Message Name="InvestmentBalance" Value="投资"></Message>
      </Language>
      <!--账户类型-->
      <Language Name="Beeant.Domain.Entities.Account.SettleType">
        <Message Name="Immediately" Value="即时结算"></Message>
        <Message Name="Amount" Value="额度结算"></Message>
        <Message Name="Cycle" Value="周期结算"></Message>
        <Message Name="Date" Value="定期结算"></Message>
        <Message Name="CycleAndAmount" Value="周期额度结算"></Message>
        <Message Name="DateAndAmount" Value="定期额度结算"></Message>
      </Language>
      <!--流水账状态-->
      <Language Name="Beeant.Domain.Entities.Account.AccountItemStatusType">
        <Message Name="Effective" Value="有效"></Message>
        <Message Name="Invalid" Value="无效"></Message>
        <Message Name="Auditting" Value="审核中"></Message>
      </Language>
      <!--第三方类型-->
      <Language Name="Beeant.Domain.Entities.Account.ThirdpartyType">
        <Message Name="Wechat" Value="微信"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           