/Codes/Application/Beeant.Application.Dtos/bin
/Codes/Application/Beeant.Application.Dtos/obj
/Codes/Basic/Beeant.Basic.Services/bin
/Codes/Cloud/Crm/Beeant.Cloud.Crm/bin
/Codes/Cloud/Crm/Beeant.Cloud.Crm/obj
/Codes/Application/Beeant.Application.Services/bin
/Codes/Application/Beeant.Application.Services/obj
/Codes/Application/Beeant.Application.Services/Beeant.Application.Services.csproj.user
/Codes/Basic/Beeant.Basic.Services/obj
/Codes/Cloud/Crm/Beeant.Cloud.Crm.Mobile/obj
/Codes/Cloud/Crm/Beeant.Cloud.Crm.Mobile/bin
/Codes/Cloud/Site/Beeant.Cloud.Site.Reception/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/bin
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/bin
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/bin
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/bin
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/bin
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/bin
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/bin
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Image/bin
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/bin
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Api/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/bin
/Codes/Distributed/Inside/Beeant.Distributed.Inside.Api/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/bin
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/bin
/Codes/Test/Beeant.Test.Services/bin
/Codes/Repository/Beeant.Repository.Services/bin
/Codes/Presentation/Client/Beeant.Presentation.Client.Publisher/bin
/Codes/Domain/Beeant.Domain.Entities/bin
/Codes/Distributed/Service/Beeant.Distributed.Service.Task/bin
/Codes/Distributed/Service/Beeant.Distributed.Service.Host/bin
/Codes/Cloud/Site/Beeant.Cloud.Site.Client/bin
/Codes/Cloud/Site/Beeant.Cloud.Site/bin
/Codes/Infrastructure/Winner/bin
/Codes/Infrastructure/Resource/bin
/Codes/Infrastructure/Dependent/bin
/Codes/Infrastructure/Configuration/bin
/Codes/Infrastructure/Component/bin
/Codes/Domain/Beeant.Domain.Services/bin
/Codes/Domain/Beeant.Domain.Reports/bin
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/obj
/Codes/Test/Beeant.Test.Services/obj
/Codes/Repository/Beeant.Repository.Services/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/obj
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/obj
/Codes/Presentation/Client/Beeant.Presentation.Client.Publisher/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/obj
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/obj
/Codes/Infrastructure/Dependent/obj
/Codes/Infrastructure/Configuration/obj
/Codes/Infrastructure/Component/obj
/Codes/Domain/Beeant.Domain.Services/obj
/Codes/Domain/Beeant.Domain.Reports/obj
/Codes/Domain/Beeant.Domain.Entities/obj
/Codes/Distributed/Service/Beeant.Distributed.Service.Task/obj
/Codes/Distributed/Service/Beeant.Distributed.Service.Host/obj
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/obj
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/obj
/Codes/Infrastructure/Winner/obj
/Codes/Infrastructure/Resource/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Reception/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Client/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/obj
/Codes/Cloud/Site/Beeant.Cloud.Site/obj
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/obj
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Image/obj
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/obj
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Api/obj
/Codes/Distributed/Inside/Beeant.Distributed.Inside.Api/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/obj
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/Config
/Codes/Cloud/Site/Beeant.Cloud.Site.Reception/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/Config
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/Config
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Image/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/Config
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Api/Config
/Codes/Distributed/Inside/Beeant.Distributed.Inside.Api/Config
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/Config
/Codes/Distributed/Service/Beeant.Distributed.Service.Host/bin/Debug/Config
/Codes/Cloud/Site/Beeant.Cloud.Site/bin/Debug/Config
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/Config
/Codes/Test/Beeant.Test.Services/bin/Debug/Config
/Codes/Cloud/Site/Beeant.Cloud.Site.Client/bin/Debug/Config
/Codes/Basic/Beeant.Basic.Services/bin/Debug/Config
/Codes/Domain/Beeant.Domain.Services/bin/Debug/Config
/Codes/Domain/Beeant.Domain.Reports/bin/Debug/Config
/Codes/Domain/Beeant.Domain.Entities/bin/Debug/Config
/Codes/Infrastructure/Configuration/bin/Debug/Config
/Codes/.vs/config
/Codes/Repository/Beeant.Repository.Services/bin/Release/Config
/Codes/Application/Beeant.Application.Services/bin/Debug/Config
/Codes/Application/Beeant.Application.Dtos/bin/Debug/Config
/Codes/Repository/Beeant.Repository.Services/bin/Debug/Config
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/bin/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/Scripts/Winner
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/bin/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/Scripts/Winner
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/bin/Scripts/Winner
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/Scripts/Winner
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/Scripts/Winner
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/Scripts/Winner
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/Scripts/Winner
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/Scripts/Winner
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/Scripts/Winner
/Codes/TestResults
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/bin/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/Scripts/Plug
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/bin/Scripts/Plug
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/Scripts/Plug
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/Scripts/Plug
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/Scripts/Plug
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/Scripts/Plug
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/Scripts/Plug
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/Properties/PublishProfiles
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/Properties/PublishProfiles
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/Properties/PublishProfiles
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/Properties/PublishProfiles
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Image/Properties/PublishProfiles
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/Properties/PublishProfiles
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Api/Properties/PublishProfiles
/Codes/Distributed/Inside/Beeant.Distributed.Inside.Api/Properties/PublishProfiles
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/Properties/PublishProfiles
/Codes/Cloud/Site/Beeant.Cloud.Site.Reception/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/Properties/PublishProfiles
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Log/Properties/PublishProfiles
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/Properties/PublishProfiles
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/Properties/PublishProfiles
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/Properties/PublishProfiles
/Codes/Cloud/Site/Beeant.Cloud.Site.Mobile/Beeant.Cloud.Site.Mobile.csproj.user
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Pay/Beeant.Distributed.Outside.Pay.csproj.user
/Codes/Domain/Beeant.Domain.Entities/Beeant.Domain.Entities.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Home/Beeant.Presentation.Mobile.Home.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Member/Beeant.Presentation.Mobile.Member.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Erp/Beeant.Presentation.Admin.Erp.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cloud/Beeant.Presentation.Admin.Cloud.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Editor/Beeant.Presentation.Admin.Editor.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Configurator/Beeant.Presentation.Admin.Configurator.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Cms/Beeant.Presentation.Admin.Cms.csproj.user
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Reception/Beeant.Distributed.Outside.Reception.csproj.user
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Image/Beeant.Distributed.Outside.Image.csproj.user
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Document/Beeant.Distributed.Outside.Document.csproj.user
/Codes/Cloud/Site/Beeant.Cloud.Site.Website/Beeant.Cloud.Site.Website.csproj.user
/Codes/Cloud/Site/Beeant.Cloud.Site.Reception/Beeant.Cloud.Site.Reception.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Finance/Beeant.Presentation.Admin.Finance.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Wms/Beeant.Presentation.Admin.Wms.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Gis/Beeant.Presentation.Admin.Gis.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Home/Beeant.Presentation.Admin.Home.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Postcard/Beeant.Presentation.Mobile.Postcard.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Buy/Beeant.Presentation.Mobile.Buy.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Order/Beeant.Presentation.Mobile.Order.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Cart/Beeant.Presentation.Mobile.Cart.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Login/Beeant.Presentation.Mobile.Login.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Shared/Beeant.Presentation.Mobile.Shared.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Register/Beeant.Presentation.Mobile.Register.csproj.user
/Codes/Cloud/Site/Beeant.Cloud.Site.Admin/Beeant.Cloud.Site.Admin.csproj.user
/Codes/Distributed/Outside/Beeant.Distributed.Outside.Api/Beeant.Distributed.Outside.Api.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Scm/Beeant.Presentation.Admin.Scm.csproj.user
/Codes/Presentation/Admin/Beeant.Presentation.Admin.Report/Beeant.Presentation.Admin.Report.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Home/Beeant.Presentation.Website.Home.csproj.user
/Codes/Domain/Beeant.Domain.Services/Beeant.Domain.Services.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Password/Beeant.Presentation.Mobile.Password.csproj.user
/Codes/Presentation/Mobile/Beeant.Presentation.Mobile.Detail/Beeant.Presentation.Mobile.Detail.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Shared/Beeant.Presentation.Website.Shared.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Editor/Beeant.Presentation.Website.Editor.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Search/Beeant.Presentation.Website.Search.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Register/Beeant.Presentation.Website.Register.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Password/Beeant.Presentation.Website.Password.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Buy/Beeant.Presentation.Website.Buy.csproj.user
/Codes/Presentation/Website/Beeant.Presentation.Website.Login/Beeant.Presentation.Website.Login.csproj.user
/Codes/Infrastructure/Winner/Winner.csproj.user
/Codes/Infrastructure/Component/Component.csproj.user
/Codes/Test/Beeant.Test.Services/Beeant.Test.Services.csproj.user
/Codes/Repository/Beeant.Repository.Services/Beeant.Repository.Services.csproj.user
/Codes/Distributed/Inside/Beeant.Distributed.Inside.Api/Beeant.Distributed.Inside.Api.csproj.user
/Codes/Infrastructure/Resource/Resource.csproj.user
/Codes/Infrastructure/Configuration/Configuration.csproj.user
/Codes/.vs/Beeant/v14/.suo
/Codes/Beeant.sln.DotSettings
/Codes/.vs
