<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--品牌授权-->
      <Language Name="Beeant.Domain.Entities.Supplier.QualificationType">
        <Message Name="Factory" Value="厂家"></Message>
        <Message Name="GeneralAgency" Value="总代"></Message>
        <Message Name="SubAgent" Value="分代理"></Message>
        <Message Name="Agency" Value="代理"></Message>
      </Language>
      <!--供应商状态-->
      <Language Name="Beeant.Domain.Entities.Supplier.SupplierStatusType">
        <Message Name="Invalid" Value="无效"></Message>
        <Message Name="Auditting" Value="审核中"></Message>
        <Message Name="Effective" Value="有效"></Message>
      </Language>
      <!--供应商支付方式-->
      <Language Name="Beeant.Domain.Entities.Supplier.ContractPaymentType">
        <Message Name="Cash" Value="现金"></Message>
        <Message Name="Check" Value="支票"></Message>
        <Message Name="Transfer" Value="转账"></Message>
        <Message Name="Draft" Value="汇票"></Message>
      </Language>
      <!--供应商配送方式-->
      <Language Name="Beeant.Domain.Entities.Supplier.ContractDispatchType">
        <Message Name="Warehous" Value="入仓"></Message>
        <Message Name="DirectDelivery" Value="直送"></Message>
      </Language>
      <!--票据类型-->
      <Language Name="Beeant.Domain.Entities.Supplier.ContractBillType">
        <Message Name="AddValue" Value="增值税发票"></Message>
        <Message Name="Common" Value="普通发票"></Message>
        <Message Name="Service" Value="服务性发票"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           