@{

    Layout = "";
}


 
    <div class="top">
        <div class="num numbg@(Model.Step==1?"1":"2")">1<span class="span@(Model.Step==1?" cur":"")">验证身份</span></div>
        <div class="bor borbg@(Model.Step==2?"1":"2")"></div>
        <div class="num numbg@(Model.Step==2?"1":"2")">2<span class="span@(Model.Step==2?" cur":"")">验证邮箱</span></div>
        <div class="bor borbg@(Model.Step==3?"1":"2")"></div>
        <div class="num numbg@(Model.Step==3?"1":"2")">3<span class="span@(Model.Step==3?" cur":"")">设置邮箱</span></div>
        <div class="bor borbg@(Model.Step==4?"1":"2")"></div>
        <div class="num numbg@(Model.Step==4?"1":"2")">4<span class="span@(Model.Step==4?" cur":"")">完成</span></div>
    </div>
 
 