<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Winner Merged="Winner">
		<Instance Name="Winner.Cache.ICache" ClassName="Winner.Cache.Distributed.XmlRemainderCache,Winner">
			<Property Name="NodeName" Value="/configuration/Cache/XmlRemainderCache/EndPoint"></Property>
			<Property Name="ClientFile" Value="config\client.config"></Property>
			<Property Name="ConfigFile" Value="config\Cache.config"></Property>
		</Instance>

		<!--<Instance Name="Winner.Log.ILog" ClassName="Winner.Log.FileLog,Winner">
			<Property Name="ExceptionPath" Value="Winner\Log\Exception\"></Property>
		</Instance>-->
    <Instance Name="Winner.Log.ILog" ClassName="Beeant.Repository.Services.Log.DbLog,Beeant.Repository.Services">
		</Instance>
    
		<Instance Name="Winner.Mail.IMail" ClassName="Winner.Mail.XmlMail,Winner">
			<Property Name="ConfigFile" Value="config\Mail.config"></Property>
		</Instance>

		<Instance Name="Winner.Filter.IValidation" ClassName="Winner.Filter.XmlValidation,Winner">
			<Property Name="ConfigFile" Value="config\Validation.config"></Property>
		</Instance>

		<Instance Name="Winner.Creation.IFactory" ClassName="Winner.Creation.XmlFactory,Winner">
			<Property Name="ProxyName" Value="Winner.Creation.Proxy,Winner"></Property>
			<Property Name="ConfigFile" Value="config\Ioc.config"></Property>
		</Instance>

		<Instance Name="Winner.Dislan.ILanguage" ClassName="Winner.Dislan.XmlLanguage,Winner">
			<Property Name="ConfigFile" Value="config\Language.config"></Property>
		</Instance>

		<Instance Name="Winner.Persistence.Data.IDataBase" ClassName="Winner.Persistence.Data.XmlDataBase,Winner">
			<Property Name="ConfigFile" Value="config\DataBase.config"></Property>
		</Instance>
		<Instance Name="Winner.Persistence.Route.IDbRoute" ClassName="Winner.Persistence.Route.XmlDbRoute,Winner">
			<Property Name="ConfigFile" Value="config\DbRoute.config"></Property>
		</Instance>
		<Instance Name="Winner.Persistence.Key.IKey" ClassName="Winner.Persistence.Key.XmlKey,Winner">
			<Property Name="ConfigFile" Value="config\Orm.config"></Property>
		</Instance>
		<Instance Name="Winner.Persistence.Relation.IOrm" ClassName="Winner.Persistence.Relation.XmlOrm,Winner">
			<Property Name="ConfigFile" Value="config\Orm.config"></Property>
		</Instance>

		<Instance Name="Winner.Storage.ILocalFile" ClassName="Winner.Storage.FileStore,Winner">
		</Instance>
		<Instance Name="Winner.Storage.IIamgeFile" ClassName="Winner.Storage.Image.XmlImageStore,Winner">
			<Property Name="ConfigFile" Value="config\Storage.config"></Property>
		</Instance>
		<Instance Name="Winner.Storage.IFile" ClassName="Winner.Storage.Distributed.XmlDistributedStore,Winner">
			<Property Name="NodeName" Value="/configuration/Storage/XmlDistributedStore/EndPoint"></Property>
			<Property Name="ClientFile" Value="config\client.config"></Property>
			<Property Name="ConfigFile" Value="config\Storage.config"></Property>
		</Instance>
		<Instance Name="Winner.Storage.Route.IFileRoute" ClassName="Winner.Storage.Route.XmlFileRoute,Winner">
			<Property Name="NodeName" Value="/configuration/Storage/XmlDistributedStore/EndPoint"></Property>
			<Property Name="ClientFile" Value="config\client.config"></Property>
			<Property Name="ConfigFile" Value="config\Storage.config"></Property>
		</Instance>
		<Instance Name="Winner.Storage.Synchronization.IWcfService" ClassName="Winner.Wcf.XmlWcfService,Winner">
			<Property Name="NodeName" Value="/configuration/Storage/XmlDistributedStore/EndPoint"></Property>
			<Property Name="ClientFile" Value="config\client.config"></Property>
			<Property Name="ConfigFile" Value="config\wcf.config"></Property>
		</Instance>
		<Instance Name="Winner.Storage.Synchronization.IMaster" ClassName="Winner.Storage.Synchronization.Master,Winner">
			<Property Name="WcfService" Value="Winner.Storage.Synchronization.IWcfService"></Property>
		</Instance>
		<Instance Name="Winner.Storage.Address.IAddress" ClassName="Winner.Storage.Address.XmlAddress,Winner">
			<Property Name="ConfigFile" Value="config\Storage.config"></Property>
		</Instance>
		<Instance Name="Winner.Storage.Cache.ICache" ClassName="Winner.Storage.Cache.XmlLocalCache,Winner">
			<Property Name="ConfigFile" Value="config\Storage.config"></Property>
		</Instance>

    <Instance Name="Winner.Storage.Cluster.ICluster" ClassName="Winner.Storage.Cluster.XmlClusterService,Winner">
      <Property Name="ConfigFile" Value="config\Cluster.config"></Property>
    </Instance>
		<!--<Instance Name="Winner.Search.Analysis.IAnalyzer" ClassName="Winner.Search.Analysis.XmlStandardAnalyzer,Winner">
      <Property Name="ConfigFile" Value="config\Search.config"></Property>
    </Instance>-->
		<Instance Name="Winner.Search.Analysis.IAnalyzer" ClassName="Beeant.Repository.Services.Search.WordStandardAnalyzer,Beeant.Repository.Services">
		</Instance>
		<Instance Name="Winner.Search.IIndexer" ClassName="Winner.Search.XmlIndexer,Winner">
			<Property Name="ConfigFile" Value="config\Search.config"></Property>
		</Instance>
		<Instance Name="Winner.Search.Store.IStorer" ClassName="Winner.Store.Source.CacheStorer,Winner">
			<Property Name="Path" Value="SearchData\"></Property>
		</Instance>
		<Instance Name="Winner.Search.IIndexer" ClassName="Winner.Search.XmlIndexer,Winner">
			<Property Name="ConfigFile" Value="config\Search.config"></Property>
		</Instance>

		<Instance Name="Winner.Queue.IQueue" ClassName="Winner.Queue.Distributed.XmlRemainderQueue,Winner">
			<Property Name="NodeName" Value="/configuration/Queue/XmlRemainderQueue/EndPoint"></Property>
			<Property Name="ClientFile" Value="config\client.config"></Property>
			<Property Name="ConfigFile" Value="config\Queue.config"></Property>
		</Instance>
	</Winner>
	<Merged>
		<App Name="Beeant.Distributed.Service.Host.Service.SearchService">
			<Instance MergedType="Append" MergedValue="Winner" Name="Winner.Search.Store.IStorer" ClassName="Winner.Store.Source.CacheStorer,Winner">
				<Property Name="Path" Value="SearchData\"></Property>
			</Instance>
			<Instance MergedType="Append" MergedValue="Winner" Name="Winner.Cache.ICache" ClassName="Winner.Cache.LocalCache,Winner">
			</Instance>
			<Instance MergedType="Append" MergedValue="Winner" Name="Winner.Search.IIndexer" ClassName="Beeant.Repository.Services.Search.CustomIndexer,Beeant.Repository.Services">
				<Property Name="ConfigFile" Value="config\Search.config"></Property>
			</Instance>
		</App>
    <App Name="Beeant.Distributed.Outside.Image">
      <Instance MergedType="Append" MergedValue="Winner"  Name="Winner.Storage.IFile" ClassName="Winner.Storage.Distributed.XmlRecoveryDistributedStore,Winner">
        <Property Name="NodeName" Value="/configuration/Storage/XmlDistributedStore/EndPoint"></Property>
        <Property Name="ClientFile" Value="config\client.config"></Property>
        <Property Name="ConfigFile" Value="config\Storage.config"></Property>
      </Instance>
    </App>
    <App Name="Beeant.Cloud.Welfare.Website">
      <Instance MergedType="Append" MergedValue="Winner" Name="Winner.Dislan.ILanguage" ClassName="Beeant.Repository.Services.Sys.CookieXmlLanguage,Beeant.Repository.Services">
        <Property Name="ConfigFile" Value="config\Language.config"></Property>
      </Instance>
      <Instance MergedType="Append" MergedValue="Winner" Name="Winner.Filter.IValidation" ClassName="Beeant.Repository.Services.Sys.CookieXmlValidation,Beeant.Repository.Services">
        <Property Name="ConfigFile" Value="config\Validation.config"></Property>
      </Instance>
    </App>
	</Merged>
</configuration>