<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Mail>
    <XmlMail>
      <Server SmtpHost="smtp.263.net"  UserName="kf@lai128.com" Password="home0611" FromMail="Beeant@lai128.com"></Server>
      <Server SmtpHost="smtp.263.net"  UserName="Beeantservice@lai128.com" Password="home0611" FromMail="Beeant@lai128.com"></Server>
    </XmlMail>
  </Mail>
</configuration>