<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--Cms站点配置信息-->
        <Object ObjectName="Beeant.Domain.Entities.Cms.CmsEntity,Beeant.Domain.Entities" GetDataBase="BeeantCmsRead" SetDataBase="BeeantCmsWrite"  NickObjectName="CmsEntity" SetTableName="t_Cms_Cms" GetTableName="t_Cms_Cms"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Setting" FieldName="Setting"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--类别-->
        <Object ObjectName="Beeant.Domain.Entities.Cms.ClassEntity,Beeant.Domain.Entities" GetDataBase="BeeantCmsRead" SetDataBase="BeeantCmsWrite" NickObjectName="ClassEntity" SetTableName="t_Cms_Class" GetTableName="t_Cms_Class"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Parent.Id" FieldName="ParentId"></Property>
          <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="IsPublish" FieldName="IsPublish" ></Property>
          <Property PropertyName="IsPublic" FieldName="IsPublic" ></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Children">
            <MapObject Name="Beeant.Domain.Entities.Cms.ClassEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Parent.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Contents">
            <MapObject Name="Beeant.Domain.Entities.Cms.ContentEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Class.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Parent">
            <MapObject Name="Beeant.Domain.Entities.Cms.ClassEntity,Beeant.Domain.Entities" ObjectProperty="Parent.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--内容-->
        <Object ObjectName="Beeant.Domain.Entities.Cms.ContentEntity,Beeant.Domain.Entities" GetDataBase="BeeantCmsRead" SetDataBase="BeeantCmsWrite" NickObjectName="ContentEntity" SetTableName="t_Cms_Content" GetTableName="t_Cms_Content"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Class.Id" FieldName="ClassId" ></Property>
          <Property PropertyName="Title" FieldName="Title" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="AttachmentName" FieldName="AttachmentName" ></Property>
          <Property PropertyName="Url" FieldName="Url" ></Property>
          <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="Detail" FieldName="Detail" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Class">
            <MapObject Name="Beeant.Domain.Entities.Cms.ClassEntity,Beeant.Domain.Entities" ObjectProperty="Class.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
       
        <!--明星片-->
        <Object ObjectName="Beeant.Domain.Entities.Cms.PostcardEntity,Beeant.Domain.Entities" GetDataBase="BeeantCmsRead" SetDataBase="BeeantCmsWrite" NickObjectName="PostcardEntity" SetTableName="t_Cms_Postcard" GetTableName="t_Cms_Postcard"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Cms.Id" FieldName="CmsId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="Detail" FieldName="Detail" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Cms">
            <MapObject Name="Beeant.Domain.Entities.Cms.CmsEntity,Beeant.Domain.Entities" ObjectProperty="Cms.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--公告-->
        <Object ObjectName="Beeant.Domain.Entities.Cms.NoticeEntity,Beeant.Domain.Entities" GetDataBase="BeeantCmsRead" SetDataBase="BeeantCmsWrite" NickObjectName="NoticeEntity" SetTableName="t_Cms_Notice" GetTableName="t_Cms_Notice"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Cms.Id" FieldName="CmsId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Title" FieldName="Title" ></Property>
          <Property PropertyName="Url" FieldName="Url" ></Property>
          <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="Detail" FieldName="Detail" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Cms">
            <MapObject Name="Beeant.Domain.Entities.Cms.CmsEntity,Beeant.Domain.Entities" ObjectProperty="Cms.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

      </Map>
    </XmlOrm>
  </Persistence>
</configuration>