@{

}
@using Beeant.Basic.Services.Mvc.Script
@using Beeant.Domain.Entities.Site
@using Winner.Persistence
@model Beeant.Cloud.Site.Admin.Models.Inquery.InqueryListModel
<div class="inquery">
    <div class="mainten">
        <a href="/Home/Index">
            <div class="gohome"></div></a>

    </div>
    <div class="list">

    </div>


</div>



<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="~/Scripts/winner/validator/winner.Validator.js"></script>
<script type="text/javascript" src="~/Scripts/inquery.js"></script>
 