<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--编辑器Flash-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.FlashEntity" ClassName="Beeant.Domain.Services.Editor.FlashDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Editor.FlashEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.FlashEntity"></Property>
        </Instance>
        <!--编辑器图片-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.ImageEntity" ClassName="Beeant.Domain.Services.Editor.ImageDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Editor.ImageEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.ImageEntity"></Property>
        </Instance>
        <!--模板-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.TemplateEntity" ClassName="Beeant.Domain.Services.Editor.TemplateDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Editor.TemplateEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.TemplateEntity"></Property>
        </Instance>
        <!--文件夹-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.FolderEntity" ClassName="Beeant.Domain.Services.Editor.FolderDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Editor.FolderEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Editor.FolderEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
