<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--IBE-->
        <Instance Name="Beeant.Domain.Services.Flight.IIbeRepository" ClassName="Beeant.Repository.Services.Flight.IbeRepository,Beeant.Repository.Services" ></Instance>
        <Instance Name="Beeant.Application.Services.Flight.IIbeApplicationService" ClassName="Beeant.Application.Services.Flight.IbeRepository,Beeant.Application.Services" >
          <Property Name="IbeRepository" Value="Beeant.Domain.Services.Flight.IIbeRepository"></Property>
        </Instance>
     
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
