<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--Hr站点配置信息-->
      <Model Name="Beeant.Domain.Entities.Hr.HrEntity">
        <Property PropertyName="Account.Id" Message="账号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="公司名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="HR站点不存在">  </Property>
        <Property PropertyName="UnUsed" Message="HR站点被禁用">  </Property>
        <Property PropertyName="AccountHasHr" Message="账户已经被绑定">  </Property>
      </Model>
      <!--员工-->
      <Model Name="Beeant.Domain.Entities.Hr.StaffEntity">
        <Property PropertyName="Hr.Id" Message="Hr站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="员工账户编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="请输入公司邮箱">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify" Message="邮箱长度不能超过80"></Validation>
        </Property>
        <Property PropertyName="Number" Message="工号长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填不能超过50">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="出生日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必须">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="身份证号码格式错误">
          <Validation RuleName="IdCardNumber" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Organization" Message="组织架构不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WorkAddress" Message="工作地址必填长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartWorkDate" Message="开始工作日期必须符合日期格式">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postion" Message="职位信息不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Kind" Message="工种不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EnrollmentDate" Message="入职日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SocialSecurity" Message="社保所在地不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MedicalHistory" Message="既往病史不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在"></Property>
        <Property PropertyName="UnUsed" Message="员工已被禁止"></Property>
        <Property PropertyName="AccountHasHr" Message="账户已经被员工绑定">  </Property>
      </Model>
      <!--家庭成员-->
      <Model Name="Beeant.Domain.Entities.Hr.FamilyEntity">
        <Property PropertyName="Hr.Id" Message="Hr站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Relation" Message="家庭关系不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="出生日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必须">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="身份证号码必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="CardID" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MedicalHistory" Message="既往病史不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在"></Property>
        <Property PropertyName="UnUsed" Message="员工已被禁止"></Property>
      </Model>
      <!--组织-->
      <Model Name="Beeant.Domain.Entities.Hr.StaffEntity">
        <Property PropertyName="Hr.Id" Message="Hr站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过200">
          <Validation RuleName="LengthRange" P0="1" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>


      <!--、、、、、、、、、、、、、、、、英文、、、、、、、、、、、、、、、、、、-->
      <!--员工-->
      <Model Name="Beeant.Domain.Entities.Hr.StaffEntity.en">
        <Property PropertyName="Hr.Id" Message="Hr站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="员工账户编号必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="请输入公司邮箱">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify" Message="邮箱长度不能超过80"></Validation>
        </Property>
        <Property PropertyName="Number" Message="工号长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填不能超过50">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="birthday required">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="Gender required">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="IdCardNumber required">
          <Validation RuleName="IdCardNumber" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Organization" Message="组织架构不能超过200个字符">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WorkAddress" Message="Work Address length cannot exceed 120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartWorkDate" Message="Work start date must be in date format">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postion" Message="职位信息不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Kind" Message="工种不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EnrollmentDate" Message="入职日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SocialSecurity" Message="Social security location can not exceed 50 characters">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MedicalHistory" Message="Past medical history should not exceed 200 characters">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在"></Property>
        <Property PropertyName="UnUsed" Message="员工已被禁止"></Property>
        <Property PropertyName="AccountHasHr" Message="账户已经被员工绑定">  </Property>
      </Model>
      <!--家庭成员-->
      <Model Name="Beeant.Domain.Entities.Hr.FamilyEntity.en">
        <Property PropertyName="Hr.Id" Message="Hr站点配置信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工信息必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="Name cannot be empty and length cannot exceed 20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Relation" Message="Relation required">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="Country required">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="Birthday required">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="Gender required">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="IdCardNumber required">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="CardID" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MedicalHistory" Message="Past medical history should not exceed 200 characters">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在"></Property>
        <Property PropertyName="UnUsed" Message="员工已被禁止"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>