<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Search>
    <XmlStandardAnalyzer>
      <File Name="Main" Path="Winner\Search\main.txt"></File>
      <File Name="Main" Path="Winner\Search\pinyin.txt"></File>
      <File Name="Stop" Path="Winner\Search\stop.txt"></File>
      <File Name="Split" Path="Winner\Search\Split.txt"></File>
      <File Name="Transform" Path="Winner\Search\Transform.txt"></File>
    </XmlStandardAnalyzer>
    <XmlIndexer>
      <Info Name="Goods" TopDocumentCount="5000" >
        <StoreDocument PageSize="1000"></StoreDocument>
        <StoreField Index="0" Name="Id" StoreType="OnlyStore"></StoreField>
        <StoreField Index="1" Name="Name" StoreType="IndexAndStore"></StoreField>
        <StoreField Index="2" Name="Categories" StoreType="OnlyIndex" ></StoreField>
        <StoreField Index="3" Name="GoodsProperties" StoreType="OnlyIndex" ></StoreField>
        <StoreField Index="4" Name="Cost" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="5" Name="Price" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="6" Name="IsCustom" StoreType="IndexAndStore" ></StoreField>
        <StoreField Index="7" Name="PublishTime" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="8" Name="SalesCount" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="9" Name="VisitCount" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="10" Name="FileName" StoreType="OnlyStore" ></StoreField>
        <StoreField Index="11" Name="CategoryId" StoreType="OnlyStore" ></StoreField>
        <StoreSequence Index="1" Density="0.8" Percentage="0.6"></StoreSequence>
        <StoreSequence Index="2" Density="0.06" Percentage="0.2"></StoreSequence>
        <StoreSequence Index="3" Density="0.1" Percentage="0.2"></StoreSequence>
      </Info>
    </XmlIndexer>
  </Search>
</configuration>