<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--验证码类型-->
      <Language Name="Beeant.Domain.Entities.Security.CodeType">
        <Message Name="Email" Value="邮件"></Message>
        <Message Name="Mobile" Value="手机号码"></Message>
      </Language>
      <Language Name="Beeant.Domain.Entities.Security.CodeEntity.AccountResetPassword">
        <Message Name="EmailSubject" Value="重置密码"></Message>
        <Message Name="MobileSubject" Value="重置密码"></Message>
        <Message Name="EmailBody" Value="{0}"></Message>
        <Message Name="MobileBody" Value="{0}"></Message>
      </Language>
      <Language Name="Beeant.Domain.Entities.Security.CodeEntity.AccountEmailValid">
        <Message Name="EmailSubject" Value="绑定邮箱"></Message>
        <Message Name="MobileSubject" Value="绑定邮箱"></Message>
        <Message Name="EmailBody" Value="{0}"></Message>
        <Message Name="MobileBody" Value="{0}"></Message>
      </Language>
      <Language Name="Beeant.Domain.Entities.Security.CodeEntity.AccountEmailBind">
        <Message Name="EmailSubject" Value="绑定邮箱"></Message>
        <Message Name="MobileSubject" Value="绑定邮箱"></Message>
        <Message Name="EmailBody" Value="{0}"></Message>
        <Message Name="MobileBody" Value="{0}"></Message>
      </Language>
      <Language Name="Beeant.Domain.Entities.Security.CodeEntity.AccountMobileValid">
        <Message Name="EmailSubject" Value="绑定手机"></Message>
        <Message Name="MobileSubject" Value="绑定手机"></Message>
        <Message Name="EmailBody" Value="{0}"></Message>
        <Message Name="MobileBody" Value="{0}"></Message>
      </Language>
      <Language Name="Beeant.Domain.Entities.Security.CodeEntity.AccountMobileBind">
        <Message Name="EmailSubject" Value="绑定手机"></Message>
        <Message Name="MobileSubject" Value="绑定手机"></Message>
        <Message Name="EmailBody" Value="{0}"></Message>
        <Message Name="MobileBody" Value="{0}"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           