@using Beeant.Basic.Services.Mvc.Extension
@{
    Layout = "~/Views/Shared/_StarryLayout.cshtml";
    ViewBag.Title = "企业证书";
    ViewBag.ToperName = "企业证书";
}

<div class="certificate">
    
</div>

<script type="text/javascript" src="~/Scripts/certificate.js"></script>