<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--协议-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.ProtocolEntity" ClassName="Beeant.Domain.Services.Api.ProtocolDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Api.ProtocolEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.ProtocolEntity"></Property>
        </Instance>
        <!--凭证-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.VoucherEntity" ClassName="Beeant.Domain.Services.Api.VoucherDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Api.VoucherEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.VoucherEntity"></Property>
        </Instance>
        <!--凭证协议-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.VoucherProtocolEntity" ClassName="Beeant.Domain.Services.Api.VoucherProtocolDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Api.VoucherProtocolEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Api.VoucherProtocolEntity"></Property>
        </Instance>
        <!--验证接口-->
 
        <Instance Name="Beeant.Application.Services.Api.IApiEngineApplicationService" ClassName="Beeant.Application.Services.Api.ApiEngineApplicationService,Beeant.Application.Services" >
          <Property Name="CacheRepository" Value="Beeant.Domain.Services.Utility.ICacheRepository"></Property>
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <!--事件-->

        <Instance Name="Beeant.Application.Services.Api.IApiEventApplicationService" ClassName="Beeant.Application.Services.Api.ApiEngineApplicationService,Beeant.Application.Services" >
          <Property Name="CacheRepository" Value="Beeant.Domain.Services.Utility.ICacheRepository"></Property>
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
