<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--协议-->
      <Model Name="Beeant.Domain.Entities.Api.ProtocolEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Nickname" Message="昵称不能为空且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Detail" Message="描述长度不能超过4000">
          <Validation RuleName="LengthRange" P0="0" P1="4000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Ips" Message="白名单不能超过2000">
          <Validation RuleName="LengthRange" P0="0" P1="2000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SecondCount" Message="单秒请求数">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger"   P0="0" P1="8"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DayCount" Message="当天请求数">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger"   P0="0" P1="8"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="协议不存在"></Property>
        <Property PropertyName="NameExist" Message="协议已经存在"></Property>
      </Model>
      <!--凭证-->
      <Model Name="Beeant.Domain.Entities.Api.VoucherEntity">
        <Property PropertyName="Token" Message="凭据不能为空且长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Url" Message="回调地址必须符合URL规则不能超过500个字符">
          <Validation RuleName="LengthRange" P0="0" P1="500" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Url" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="验证类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="验证类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="凭证不存在"></Property>
        <Property PropertyName="AccountHasVoucher" Message="账户已经开通了接口"></Property>
        <Property PropertyName="TokenExist" Message="凭据重复"></Property>
      </Model>
      <!--凭证协议-->
      <Model Name="Beeant.Domain.Entities.Api.VoucherProtocolEntity">
        <Property PropertyName="Voucher.Id" Message="凭证不存在">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Protocol.Id" Message="协议不存在">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SecondCount" Message="单秒请求数">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger"   P0="0" P1="8"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DayCount" Message="当天请求数">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger"   P0="0" P1="8"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Args" Message="参数值不能超过1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExistVoucherProtocol" Message="凭证已经授权了该协议"></Property>
      </Model>
      <Model Name="Beeant.Domain.Entities.Api.VerificationEntity">
        <Property PropertyName="99999" Message="系统异常"></Property>
        <Property PropertyName="00002" Message="凭证错误"></Property>
        <Property PropertyName="00003" Message="1秒内请求不能超过{0}次"></Property>
        <Property PropertyName="00004" Message="1天内请求不能超过{0}次"></Property>
        <Property PropertyName="00005" Message="您请求的IP地址不在白名单内"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>