<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--集成商信息-->
      <Model Name="Beeant.Domain.Entities.Agent.AgentEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Increase" Message="加价幅度必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="1" P1="1" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="代理商不存在"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>