@{
    Layout = "~/Views/Shared/_StarryLayout.cshtml";
    ViewBag.ToperName = "首页";
    ViewBag.Title = "首页";
}

<div id="divBanner" class="banner">

</div>

<div class="home">
    <div id="divTag">
        
    </div>
  
</div>
<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="~/Scripts/Winner/Banner/Winner.Banner.js"></script>
<script type="text/javascript" src="~/Scripts/Starry/home.js"></script>