<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--////////////////////////////枚举////////////////////////////////////////-->
      <!--充值类型-->
      <Language Name="Beeant.Domain.Entities.Finance.PaylineType">
        <Message Name="Balance" Value="余额"></Message>
        <Message Name="Alipay" Value="支付宝"></Message>
        <Message Name="Wechart" Value="微信"></Message>
        <Message Name="Bcm" Value="交行"></Message>
      </Language>
      <!--发票类型-->
      <Language Name="Beeant.Domain.Entities.Finance.InvoiceType">
        <Message Name="Normal" Value="普通发票"></Message>
        <Message Name="Vat" Value="增值税发票"></Message>
      </Language>
      <!--发票类型-->
      <Language Name="Beeant.Domain.Entities.Finance.InvoiceGeneralType">
        <!--<Message Name="Electronic" Value="电子发票"></Message>-->
        <Message Name="Paper" Value="纸质发票"></Message>
      </Language>
      <!--积分状态-->
      <Language Name="Beeant.Domain.Entities.Finance.IntegralStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待审核"></Message>
      </Language>
      <!--镜像发票状态-->
      <Language Name="Beeant.Domain.Entities.Finance.InvoiceinStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待审核"></Message>
      </Language>
      <!--销项发票状态-->
      <Language Name="Beeant.Domain.Entities.Finance.InvoiceoutStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待审核"></Message>
      </Language>
      <!--收款状态-->
      <Language Name="Beeant.Domain.Entities.Finance.PayinStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待审核"></Message>
      </Language>
      <!--付款状态-->
      <Language Name="Beeant.Domain.Entities.Finance.PayoutStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待审核"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           