<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--市场信息-->
      <Model Name="Beeant.Domain.Entities.Market.MarketEntity">
        <Property PropertyName="Name" Message="市场名称必填而且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Description" Message="描述长度不能超过200">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="City" Message="城市名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须在500KB">
          <Validation RuleName="ValueRange" P0="0" P1="512000" ValidationType="Add|Modify" Message="图片大小必须在500KB"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="站点不存在">  </Property>
      </Model>
      <!--商家信息-->
      <Model Name="Beeant.Domain.Entities.Market.VenderEntity">
        <Property PropertyName="Market.Id" Message="市场编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="商家名字必填而且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Description" Message="描述长度不能超过200">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>