<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--供应商信息表-->
      <Model Name="Beeant.Domain.Entities.Supplier.SupplierEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Linkman" Message="联系人必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Qq" Message="QQ长度不能超过50">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Fax" Message="传真长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WebsitePage" Message="官网主页长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="电子邮件长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BusinessRange" Message="经营范围必填且长度不能超过200">
          <Validation RuleName="LengthRange" P0="1" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BusinessBrand" Message="经营品牌必填且长度不能超过200">
          <Validation RuleName="LengthRange" P0="1" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SalesRange" Message="销售范围必填且长度不能超过200">
          <Validation RuleName="LengthRange" P0="1" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ServiceTelephone" Message="销售咨询电话必填且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ServiceAddress" Message="返修地址必填且长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Receiver" Message="返修收货人必填且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ReceiverTelephone" Message="返修收货人联系方式必填且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址必填而且长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Province" Message="必须选择省">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="City" Message="必须选择市">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="County" Message="必须选择镇">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WebUrl" Message="官方网站不能超过120个字符">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Service.Id" Message="维护人员编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
		  <Property PropertyName="Status" Message="供应商状态必须">
			  <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
		  </Property>
		  <Property PropertyName="StatusName" Message="供应商状态必须">
			  <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
		  </Property>
        <Property PropertyName="NoExist" Message="供应商不存在"></Property>
        <Property PropertyName="NameExists" Message="供应商名称已经存在"></Property>
        <Property PropertyName="UnEffective" Message="供应商未审核通过"></Property>
        <Property PropertyName="AccountHasSupplier" Message="该账户已经被其它供应商占用"></Property>
        <Property PropertyName="OpenAccountNotAllowRemove" Message="已经开户的供应商不能删除"></Property>
        <Property PropertyName="HasProductsNotAllowSetInvalid" Message="供应商存在上架的产品不能设置为无效"></Property>
      </Model>
      <!--供应商资质表-->
      <Model Name="Beeant.Domain.Entities.Supplier.QualificationEntity">
        <Property PropertyName="BrandAuthorizationName" Message="品牌授权名称必须填写并且不能大于80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BusinessLicense" Message="营业执照必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BusinessLicenseByte" Message="营业执照大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        
        <Property PropertyName="AgencyLicense" Message="组织机构代码证必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="AgencyLicenseByte" Message="组织机构代码证大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        
        <Property PropertyName="BankLicense" Message="银行开户许可证必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BankLicenseByte" Message="银行开户许可证片大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        
        <Property PropertyName="TrademarkLicense" Message="商标注册证必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TrademarkLicenseByte" Message="商标注册证大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        
        <Property PropertyName="TaxLicense" Message="税务登记证必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TaxLicenseByte" Message="税务登记证大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        <Property PropertyName="NoExistSupplier" Message="供应商信息不存在"></Property>
      </Model>
      <!--供应其他证书信息-->
      <Model Name="Beeant.Domain.Entities.Supplier.CertificationEntity">
        <Property PropertyName="Supplier.Id" Message="必须对应一个供应商">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Certification" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="CertificationByte" Message="图片大小必须小于2M">
          <Validation  RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2M"></Validation>
        </Property>
        <Property PropertyName="NoExistSupplier" Message="供应商不存在"></Property>
      </Model>
      <!--供应商合同信息-->
      <Model Name="Beeant.Domain.Entities.Supplier.ContractEntity">
        <Property PropertyName="Supplier.Id" Message="供应商合同标识必填">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SettlementType" Message="结算方式必须">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PaymentTypeName" Message="支付方式必须">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DispatchTypeName" Message="配送方式必须">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BillTypeName" Message="票据类型">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartDate" Message="请填写格式正确的合同开始日期">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndDate" Message="请填写格式正确的合同结束日期">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Rebate" Message="返利条件">
          <Validation RuleName="LengthRange" P0="1" P1="180" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Attachment" Message="合同附件">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
        </Property>
        <Property PropertyName="AttachmentByte" Message="合同附件大小必须小于2MB">
          <Validation RuleName="ValueRange" P0="0" P1="2097152"  ValidationType="Add|Modify" Message="图片大小必须小于2MB"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="供应商不存在"></Property>
        <Property PropertyName="InValidContractDate" Message="合同开始时间必须大于结束时间"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>