<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--订单流程-->
      <Language Name="Beeant.Domain.Entities.Purchase.PurchaseStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitManagerAudit" Value="等待经理审核"></Message>
        <Message Name="WaitDirectorAudit" Value="等待总监审核"></Message>
        <Message Name="WaitReceive" Value="等待收货"></Message>
        <Message Name="WaitSign" Value="等待验收"></Message>
        <Message Name="WaitSettle" Value="等待结算"></Message>
      </Language>
      <!--采购单类型-->
      <Language Name="Beeant.Domain.Entities.Purchase.PurchaseType">
        <Message Name="Storage" Value="采购入库"></Message>
        <Message Name="Sales" Value="销售采购"></Message>
        <Message Name="Return" Value="退换货"></Message>
      </Language>
      <!--采购明细类型-->
      <Language Name="Beeant.Domain.Entities.Purchase.PurchaseItemType">
        <Message Name="Product" Value="产品"></Message>
        <Message Name="Express" Value="运费"></Message>
        <Message Name="Deduction" Value="抵扣"></Message>
        <Message Name="Else" Value="其它"></Message>
      </Language>
     
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           