<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--订单流程-->
      <Language Name="Beeant.Domain.Entities.Wms.StockStatusType">
        <Message Name="Cancel" Value="取消"></Message>
        <Message Name="Finish" Value="完成"></Message>
        <Message Name="Submit" Value="已经提交"></Message>
        <Message Name="WaitAudit" Value="等待确认"></Message>
      </Language>
      <!--进出库类型-->
      <Language Name="Beeant.Domain.Entities.Wms.StockType">
        <Message Name="PurchaseIn" Value="采购入库"></Message>
        <Message Name="PurchaseOut" Value="采购出库"></Message>
        <Message Name="SalesOut" Value="销售出库"></Message>
        <Message Name="SalesIn" Value="销售入库"></Message>
        <Message Name="CheckIn" Value="盘盈"></Message>
        <Message Name="CheckOut" Value="盘亏"></Message>
        <Message Name="TransferIn" Value="调拨入库"></Message>
        <Message Name="TransferOut" Value="调拨出库"></Message>
        <Message Name="ProduceIn" Value="生产入库"></Message>
        <Message Name="ProduceOut" Value="生产出库"></Message>
        <Message Name="ProcessIn" Value="加工入库"></Message>
        <Message Name="ProcessOut" Value="加工出库"></Message>
        <Message Name="Move" Value="移位"></Message>
        <Message Name="Else" Value="其它"></Message>
      </Language>
      <!--库存类型-->
      <Language Name="Beeant.Domain.Entities.Wms.InvertoryType">
        <Message Name="None" Value="手动"></Message>
        <Message Name="Immediacy" Value="即时"></Message>
        <Message Name="Reset" Value="重置"></Message>>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           