<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--站点-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.SiteEntity" ClassName="Beeant.Domain.Services.Site.SiteDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.SiteEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.SiteEntity"></Property>
        </Instance>
        <!--公司-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CompanyEntity" ClassName="Beeant.Domain.Services.Site.CompanyDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CompanyEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CompanyEntity"></Property>
        </Instance>
        <!--分类-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CatalogEntity" ClassName="Beeant.Domain.Services.Site.CatalogDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CatalogEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CatalogEntity"></Property>
        </Instance>
        <!--产品-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityEntity" ClassName="Beeant.Domain.Services.Site.CommodityDomainService, Beeant.Domain.Services" >
          <Property Name="CommodityImageDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityImageEntity"></Property>
          <Property Name="CommodityTagDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityTagEntity"></Property>
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CommodityEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityEntity"></Property>
        </Instance>
        <!--产品细节图-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityImageEntity" ClassName="Beeant.Domain.Services.Site.CommodityImageDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CommodityImageEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityImageEntity"></Property>
        </Instance>
  
        <!--标签-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.TagEntity" ClassName="Beeant.Domain.Services.Site.TagDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.TagEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.TagEntity"></Property>
        </Instance>
        <!--商品标签-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityTagEntity" ClassName="Beeant.Domain.Services.Site.CommodityTagDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CommodityTagEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CommodityTagEntity"></Property>
        </Instance>
        <!--横幅-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BannerEntity" ClassName="Beeant.Domain.Services.Site.BannerDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.BannerEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BannerEntity"></Property>
        </Instance>
        <!--证书-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CertificateEntity" ClassName="Beeant.Domain.Services.Site.CertificateDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.CertificateEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CertificateEntity"></Property>
        </Instance>
        <!--在线资讯-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.InqueryEntity" ClassName="Beeant.Domain.Services.Site.InqueryDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.InqueryEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.InqueryEntity"></Property>
        </Instance>
        <!--消息机制-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.MessageEntity" ClassName="Beeant.Domain.Services.Site.MessageDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.MessageEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.MessageEntity"></Property>
        </Instance>
        <!--消息机制-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BookEntity" ClassName="Beeant.Domain.Services.Site.BookDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Site.BookEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BookEntity"></Property>
        </Instance>
        <!--目录本接口-->
        <Instance Name="Beeant.Application.Services.Site.ICreateAlbumApplicationService" ClassName="Beeant.Application.Services.Site.AlbumCreateJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
          <Property Name="BookDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BookEntity"></Property>
          <Property Name="CompanyDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CompanyEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Site.IAlbumCreateJobApplicationService" ClassName="Beeant.Application.Services.Site.AlbumCreateJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
          <Property Name="BookDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.BookEntity"></Property>
          <Property Name="CompanyDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Site.CompanyEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
