<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--CRM信息-->
      <Model Name="Beeant.Domain.Entities.Crm.CrmEntity">
        <Property PropertyName="Account.Id" Message="账户编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="公司名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExpireDate" Message="到期时间必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="Crm信息不存在">  </Property>
        <Property PropertyName="ExpireDateOver" Message="您用的CRM系统过期">  </Property>
        <Property PropertyName="AccountHasCrm" Message="账户已经绑定被绑定">  </Property>
      </Model>
      <!--部门-->
      <Model Name="Beeant.Domain.Entities.Crm.DepartmentEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="部门不存在"></Property>
      </Model>
      <!--员工信息-->
      <Model Name="Beeant.Domain.Entities.Crm.StaffEntity">
        <Property PropertyName="Account.Id" Message="账户编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Department.Id" Message="部门必选">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="员工名称必填而且不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="员工不存在">  </Property>
        <Property PropertyName="StaffOver" Message="您最多只能添加{0}员工记录">  </Property>
        <Property PropertyName="AccountHasStaff" Message="账户已经绑定被绑定">  </Property>
      </Model>
      <!--客户信息-->
      <Model Name="Beeant.Domain.Entities.Crm.CustomerEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="RemindNoteDate" Message="下次跟踪日期">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type.Id" Message="客户类型必选">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Staff.Id" Message="员工必选">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Qq" Message="QQ长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Weixin" Message="微信长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Linkman" Message="联系人长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="邮箱长度不能超过0">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Email"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址必填而且长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必填而且长度不能超过1">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="UnUsed" Message="客户被禁用"></Property>
        <Property PropertyName="NoExist" Message="客户不存在"></Property>
        <Property PropertyName="Exist" Message="客户已经存在"></Property>
      </Model>
      <!--客户类型信息-->
      <Model Name="Beeant.Domain.Entities.Crm.CustomerTypeEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="客户类型不存在"></Property>
        <Property PropertyName="HasCustomerNotAllowRemove" Message="客户类型已经存在客户不能删除"></Property>
      </Model>
      <!--客户类型信息-->
      <Model Name="Beeant.Domain.Entities.Crm.CustomerChannelEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="客户类型不存在"></Property>
        <Property PropertyName="HasCustomerNotAllowRemove" Message="客户渠道已经存在客户不能删除"></Property>
      </Model>
      <!--客户维护记录-->
      <Model Name="Beeant.Domain.Entities.Crm.NoteEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Customer.Id" Message="客户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="维护内容必填而且不能超过120个字符">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="员工名称必填而且不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
  
      <!--合同维护-->
      <Model Name="Beeant.Domain.Entities.Crm.ContractEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Customer.Id" Message="客户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="合同内容必填而且不能超过120个字符">
          <Validation RuleName="LengthRange" P0="1" P1="4000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="合同名称必填而且不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartDate" Message="合同开始日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndDate" Message="合同结束日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单状态-->
      <Model Name="Beeant.Domain.Entities.Crm.OrderStatusEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="订单状态不存在"></Property>
        <Property PropertyName="HasOrderNotAllowRemove" Message="订单状态已经存在订单不能删除"></Property>
      </Model>
      <!--订单维护-->
      <Model Name="Beeant.Domain.Entities.Crm.OrderEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Customer.Id" Message="客户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="维护内容必填而且不能超过120个字符">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DeliveryDate" Message="发货日期必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Number" Message="合同号不能超过80个字符">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100个字符包">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--订单明细维护-->
      <Model Name="Beeant.Domain.Entities.Crm.OrderItemEntity">
        <Property PropertyName="Crm.Id" Message="CRM信息编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Contract.Id" Message="合同编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="产品名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Price" Message="单价必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="数量必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DeliveryDate" Message="发货日期">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DeliveryNumber" Message="快递单号或者提货单号长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100个字符包">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
   
    </XmlValidation>
  </Filter>
</configuration>