<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--采购单-->
      <Model Name="Beeant.Domain.Entities.Purchase.PurchaseEntity">
        <Property PropertyName="Type" Message="采购单类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="采购单类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PurchaseDate" Message="采购日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="DeliveryDate" Message="交货日期必填">
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TotalAmount" Message="金额必须为0">
          <Validation RuleName="ValueRange" P0="0" P1="0" ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="PayAmount" Message="实付金额必须为0">
          <Validation RuleName="ValueRange" P0="0" P1="0" ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="InvoiceAmount" Message="发票金额必须为0">
          <Validation RuleName="ValueRange" P0="0" P1="0" ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="OriginalPurchase.Id" Message="原始采购单编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="用户编号必须为数字">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Status" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="采购单不存在"></Property>
        <Property PropertyName="DeliveryDateLessPurchaseDate" Message="交货日期必选大于等于采购日期"></Property>
        <Property PropertyName="AccountEqualPaysAccount" Message="采购已经存在付款核销，如果要更改账户必须先删除付款核销记录"></Property>
        <Property PropertyName="AmountLessPayAmount" Message="采购应付金额必须大于等于实付金额"></Property>
        <Property PropertyName="AmountLessInvoiceAmount" Message="采购应开发票金额必须大于等于本次所开发票金额"></Property>
        <Property PropertyName="OriginalPurchaseNoExist" Message="原始采购单不存在"></Property>
        <Property PropertyName="OriginalAccountNotEqueal" Message="原始采购单账户不一致"></Property>
        <Property PropertyName="PurchaseWmsMustSelectWms" Message="采购入库必须选择仓库"></Property>
        <Property PropertyName="PurchaseSalesMustSelectOrder" Message="销售采购必须提供订单编号"></Property>
        <Property PropertyName="HasStockNoFinish" Message="出入库单据未完成采购单不能变成等待结算"></Property>
      </Model>
      <!--采购单明细-->
      <Model Name="Beeant.Domain.Entities.Purchase.PurchaseItemEntity">
        <Property PropertyName="Purchase.Id" Message="采购编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="产品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称必填且长度不能超过120字符">
          <Validation RuleName="LengthRange"  P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="采购明细类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="采购明细类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Price" Message="价格必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人编号错误">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
      </Model>
      <!--付款核销-->
      <Model Name="Beeant.Domain.Entities.Purchase.PayEntity">
        <Property PropertyName="Purchase.Id" Message="采购单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="9" P1="0" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人编号错误">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Payout.Id" Message="付款编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusNotAllowModifyAmount" Message="采购单核销完成不允许修改金额"></Property>
        <Property PropertyName="StatusNotAllowRemove" Message="采购单核销完成不允许删除"></Property>
      </Model>
      <!--发票核销-->
      <Model Name="Beeant.Domain.Entities.Purchase.InvoiceEntity">
        <Property PropertyName="Purchase.Id" Message="采购单编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="金额必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="9" P1="0" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人编号错误">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Invoicein.Id" Message="进项发票编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusNotAllowModifyAmount" Message="采购单核销完成不允许修改金额"></Property>
        <Property PropertyName="StatusNotAllowRemove" Message="采购单核销完成不允许删除"></Property>
      </Model>
      <!--采购附件-->
      <Model Name="Beeant.Domain.Entities.Purchase.AttachmentEntity">
        <Property PropertyName="Purchase.Id" Message="采购单编号必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人标识Id必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="附件名称不能为空并且小于80">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="附件扩展名只能为rar|doc|docx|txt|jpg|png|gif|bmp压缩文件">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="Extension" P0="rar|doc|docx|txt|jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="附件大小必须小于1MB">
          <Validation RuleName="ValueRange" P0="0" P1="1048576" ValidationType="Add|Modify" Message="附件大小必须小于1MB"></Validation>
        </Property>
      </Model>
      <!--订单快递-->
      <Model Name="Beeant.Domain.Entities.Purchase.ExpressEntity">
        <Property PropertyName="Purchase.Id" Message="采购单编号必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人标识Id必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="快递公司名称不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Number" Message="快递号不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Recipient" Message="接收人长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码必须符合电话号码格式">
          <Validation RuleName="LengthRange" P0="1" P1="11" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Mobile" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过10">
          <Validation RuleName="LengthRange" P0="1" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="接收地址长度不能超过150个字符">
          <Validation RuleName="LengthRange" P0="1" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="快递号不能超过100个字符">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>