<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--验证码-->
      <Model Name="Beeant.Domain.Entities.Security.CodeEntity">
        <Property PropertyName="Name" Message="安全码名称必须">
          <Validation RuleName="LengthRange" P0="1" P1="20"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="验证码业务类型必须">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="验证码发送类型必须">
          <Validation RuleName="LengthRange" P0="1" P1="50"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="SendStep" Message="发送时长必须大于0">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Subject" Message="标题不能超过500个字符">
          <Validation RuleName="LengthRange" P0="0" P1="500"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Body" Message="内容不能超过3000个字符">
          <Validation RuleName="LengthRange" P0="0" P1="3000"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StepTimeError" Message="已经发送验证码,如果没有收到验证码请在{0}秒后重新发生"></Property>
      </Model>
      <!--登录锁-->
      <Model Name="Beeant.Domain.Entities.Security.LockerEntity">
        <Property PropertyName="Name" Message="登陆名必须">
          <Validation RuleName="LengthRange" P0="1" P1="20"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="登陆类型必须">
          <Validation RuleName="LengthRange" P0="1" P1="50"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="LockTime" Message="锁时间必须">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ErrorCount" Message="错误必须">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--临时存储-->
      <Model Name="Beeant.Domain.Entities.Security.TemporaryEntity">
        <Property PropertyName="Name" Message="登陆名必须">
          <Validation RuleName="LengthRange" P0="1" P1="20"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="登陆类型必须">
          <Validation RuleName="LengthRange" P0="1" P1="50"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>