<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlKey Merged="Persistence/XmlKey">
      <Info Name="Default" RightLength="10" Flag="00000"  Recovery="select top 1 convert(int, substring({Key},6,10),112)  from {Table} where {Key}  like '00000%' order by convert(int, substring({Key},6,10),112) desc"></Info>
    </XmlKey>
    <XmlOrm>
      <Model>
        <Path Path="config\Entity\Authority.config"></Path>
        <Path Path="config\Entity\Workflow.config"></Path>
        <Path Path="config\Entity\Log.config"></Path>
        <Path Path="config\Entity\Cms.config"></Path>
        <Path Path="config\Entity\Sys.config" ></Path>
        <Path Path="config\Entity\Editor.config"></Path>
        <Path Path="config\Entity\Basedata.config"></Path>
        <Path Path="config\Entity\Finance.config" ></Path>
        <Path Path="config\Entity\Product.config" ></Path>
		    <Path Path="config\Entity\Promotion.config" ></Path>
        <Path Path="config\Entity\Order.config" ></Path>
        <Path Path="config\Entity\Search.config" ></Path>
        <Path Path="config\Entity\Wms.config" ></Path>
        <Path Path="config\Entity\Purchase.config" ></Path>
        <Path Path="config\Entity\Agent.config"></Path>
        <Path Path="config\Entity\Supplier.config"></Path>
        <Path Path="config\Entity\Crm.config"></Path>
        <Path Path="config\Entity\Member.config"></Path>
        <Path Path="config\Entity\Hr.config"></Path>
        <Path Path="config\Entity\Security.config"></Path>
        <Path Path="config\Entity\Merchant.config"></Path>
        <Path Path="config\Entity\Gis.config"></Path>
        <Path Path="config\Entity\Api.config"></Path>
        <Path Path="config\Entity\Cart.config"></Path>
        <Path Path="config\Entity\Account.config"></Path>
        <Path Path="config\Entity\Management.config"></Path>
        <Path Path="config\Entity\Site.config"></Path>
      </Model>
    </XmlOrm>
  </Persistence>
</configuration>