<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--收藏-->
      <Model Name="Beeant.Domain.Entities.Cart.AttentionEntity">
        <Property PropertyName="Account.Id" Message="必须提供账户">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Goods.Id" Message="必须提供商品">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Exist" Message="您已经关注该商品"></Property>
      </Model>
      <!--购物车-->
      <Model Name="Beeant.Domain.Entities.Cart.ShopcartEntity">
        <Property PropertyName="Account.Id" Message="必须提供账户">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="必须提供商品">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="数量必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger"   P0="0" P1="8"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="提供标签名不合法">
          <Validation RuleName="LengthRange" P0="0" P1="60"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MaxCountOver" Message="购物车已经满了"></Property>
        <Property PropertyName="Exist" Message="购物车已经存在商品"></Property>
      </Model>
		  <!--购物车标签-->
		  <Model Name="Beeant.Domain.Entities.Cart.ShopcartTagEntity">
			<Property PropertyName="Account.Id" Message="账户错误">
				<Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
			</Property>
			<Property PropertyName="Name" Message="必须提供标签名">
        <Validation RuleName="LengthRange" P0="1" P1="60"  ValidationType="Add|Modify"></Validation>
			</Property>
		</Model>
    </XmlValidation>
  </Filter>
</configuration>