<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlDbRoute>
      <Info Name="Site" TopCount="200" GetDataBaseTableCount="64" SetDataBaseTableCount="64">
        <Rule PropertyName="Site.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Id" IsHash="false" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" TableIndex="1" MaxTableIndex="64" StepType="Value" Step="1">
          <Property PropertyName="Id" ShardingType="Value" StartValue="1" EndValue="100000000" Step="1" ></Property>
          <Property PropertyName="Site.Id" ShardingType="Value" StartValue="10000" EndValue="10100" Step="1" ></Property>
        </Sharding>
      </Info>
    </XmlDbRoute>
  </Persistence>
</configuration>