<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--订单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity" ClassName="Beeant.Domain.Services.Order.OrderDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="OrderItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity"></Property>
          <Property Name="PayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.PayEntity"></Property>
          <Property Name="CostDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.CostEntity"></Property>
          <Property Name="AttachmentDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.AttachmentEntity"></Property>
          <Property Name="NoteDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.NoteEntity"></Property>
          <Property Name="ExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ExpressEntity"></Property>
          <Property Name="ComplaintDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ComplaintEntity"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
		      <Property Name="InvoiceDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.InvoiceEntity"></Property>
          <Property Name="SaleDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.SaleEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Order.IOrderApplicationService" ClassName="Beeant.Application.Services.Order.OrderApplicationSerivce,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
          <Property Name="WorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
          <Property Name="PayinWorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
          <Property Name="CouponDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.CouponEntity"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
		      <Property Name="ShopcartDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Cart.ShopcartEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Order.OrderEntity" ClassName="Beeant.Application.Services.Order.OrderWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
        </Instance>
        <!--订单明细-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity" ClassName="Beeant.Domain.Services.Order.OrderItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="GoodsDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Product.GoodsEntity"></Property>
          <Property Name="ProductDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Product.ProductEntity"></Property>
          <Property Name="CostDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.CostEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderItemEntity" ClassName="Beeant.Application.Services.Order.OrderItemApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity"></Property>
        </Instance>
        <!--订单收款-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.PayEntity" ClassName="Beeant.Domain.Services.Order.PayDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.PayEntity" ClassName="Beeant.Application.Services.Order.PayApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.PayEntity"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
          <Property Name="PayinWorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
        </Instance>
        <!--订单发票核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.InvoiceEntity" ClassName="Beeant.Domain.Services.Order.InvoiceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.InvoiceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.InvoiceEntity"></Property>
        </Instance>
        <!--订单成本-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.CostEntity" ClassName="Beeant.Domain.Services.Order.CostDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.CostEntity" ClassName="Beeant.Application.Services.Order.CostApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.CostEntity"></Property>
        </Instance>
        <!--订单附件-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.AttachmentEntity" ClassName="Beeant.Domain.Services.Order.AttachmentDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.AttachmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.AttachmentEntity"></Property>
        </Instance>
        <!--订单快递-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ExpressEntity" ClassName="Beeant.Domain.Services.Order.ExpressDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.ExpressEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ExpressEntity"></Property>
        </Instance>
        <!--订单维护记录-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.NoteEntity" ClassName="Beeant.Domain.Services.Order.NoteDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.NoteEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.NoteEntity"></Property>
        </Instance>
        <!--订单投诉-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ComplaintEntity" ClassName="Beeant.Domain.Services.Order.ComplaintDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.ComplaintEntity" ClassName="Beeant.Application.Services.Order.OrderComplaintApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ComplaintEntity"></Property>
          <Property Name="MessageApplicationService" Value="Beeant.Application.Services.Member.IMessageApplicationService"></Property>
        </Instance>
		  <!--服务工单-->
		  <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ServiceEntity" ClassName="Beeant.Domain.Services.Sales.AfterServiceDomainService,Beeant.Domain.Services" >
			  <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
			  <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
		  </Instance>
		  <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.ServiceEntity" ClassName="Beeant.Application.Services.Sales.AfterServiceApplication,Beeant.Application.Services" >
			  <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
			  <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ServiceEntity"></Property>
			  <Property Name="MessageApplicationService" Value="Beeant.Application.Services.Member.IMessageApplicationService"></Property>
		  </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
