<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--会员信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.MemberEntity" ClassName="Beeant.Domain.Services.Member.MemberDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="AccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.AccountEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.MemberEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.MemberEntity"></Property>
        </Instance>
        <!--会员地址信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.AddressEntity" ClassName="Beeant.Domain.Services.Member.AddressDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.AddressEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.AddressEntity"></Property>
        </Instance>
        <!--会员发票信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.InvoiceEntity" ClassName="Beeant.Domain.Services.Member.InvoiceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.InvoiceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.InvoiceEntity"></Property>
        </Instance>
        <!--优惠券-->
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.CouponEntity" ClassName="Beeant.Application.Services.Member.CouponApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.CouponEntity"></Property>
          <Property Name="CouponDomainService" Value="Beeant.Domain.Services.Member.ICouponDomainService"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Member.ICouponApplicationService" ClassName="Beeant.Application.Services.Member.CouponApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.CouponEntity"></Property>
          <Property Name="CouponDomainService" Value="Beeant.Domain.Services.Member.ICouponDomainService"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.CouponEntity" ClassName="Beeant.Domain.Services.Member.CouponDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="CouponerDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Sales.CouponerEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Member.ICouponDomainService" ClassName="Beeant.Domain.Services.Member.CouponDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="CouponerDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Sales.CouponerEntity"></Property>
        </Instance>
        <!--会员消息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.MessageEntity" ClassName="Beeant.Domain.Services.Member.MessageDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.MessageEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.MessageEntity"></Property>
        </Instance>
		<Instance Name="Beeant.Application.Services.Member.IMessageApplicationService" ClassName="Beeant.Application.Services.Member.MessageApplicationService,Beeant.Application.Services" >
			<Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
			<Property Name="MessageDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.MessageEntity"></Property>
		</Instance>
        <!--会员浏览记录-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.BrowseEntity" ClassName="Beeant.Domain.Services.Member.BrowseDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="GoodsDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Product.GoodsEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Member.BrowseEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.BrowseEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Member.IBrowseApplicationService" ClassName="Beeant.Application.Services.Member.BrowseApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.BrowseEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Member.IBrowseJobApplicationService" ClassName="Beeant.Application.Services.Member.BrowseApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.BrowseEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
