<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--Welfare站点配置信息-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="WelfareEntity" SetTableName="t_Welfare_Welfare" GetTableName="t_Welfare_Welfare"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Setting" FieldName="Setting"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--福利产品显示-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.BenefitEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="BenefitEntity" SetTableName="t_Welfare_Benefit" GetTableName="t_Welfare_Benefit"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plans">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Benefit.Id"  IsRemove="true" MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
   
        <!--支付策略-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanPayEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanPayEntity" SetTableName="t_Welfare_PlanPay" GetTableName="t_Welfare_PlanPay"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Plan.Id" FieldName="PlanId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="StartCount" FieldName="StartCount" ></Property>
          <Property PropertyName="EndCount" FieldName="EndCount" ></Property>
          <Property PropertyName="PayAmount" FieldName="PayAmount" ></Property>
          <Property PropertyName="IsUpload" FieldName="IsUpload" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plan">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Plan.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--计划-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanEntity" SetTableName="t_Welfare_Plan" GetTableName="t_Welfare_Plan"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Benefit.Id" FieldName="BenefitId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="PlanPolicy.Id" FieldName="PlanPolicyId" ></Property>
          <Property PropertyName="Status" FieldName="Status" ></Property>
          <Property PropertyName="ExpireDate" FieldName="ExpireDate" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Benefit">
            <MapObject Name="Beeant.Domain.Entities.Welfare.BenefitEntity,Beeant.Domain.Entities" ObjectProperty="Benefit.Id" MapObjectProperty="Id" MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="PlanPolicy">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanPolicyEntity,Beeant.Domain.Entities" ObjectProperty="PlanPolicy.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="PlanFlows">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanFlowEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Plan.Id"  IsRemove="true" MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="PlanTasks">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanTaskEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Plan.Id"  IsRemove="true" MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="PlanPays">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanPayEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Plan.Id"  IsRemove="true" MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="PlanStaffs">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanStaffEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Plan.Id"  IsRemove="true" MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--计划策略-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanPolicyEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanPolicyEntity" SetTableName="t_Welfare_PlanPolicy" GetTableName="t_Welfare_PlanPolicy"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Value" FieldName="Value" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--计划人员-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanStaffEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanStaffEntity" SetTableName="t_Welfare_PlanStaff" GetTableName="t_Welfare_PlanStaff"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Plan.Id" FieldName="PlanId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Staff.Id" FieldName="StaffId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plan">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Plan.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Staff.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--计划审核计划-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanFlowEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanFlowEntity" SetTableName="t_Welfare_PlanFlow" GetTableName="t_Welfare_PlanFlow"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Plan.Id" FieldName="PlanId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Staff.Id" FieldName="StaffId" ></Property>
          <Property PropertyName="Type" FieldName="Type" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plan">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Plan.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Staff.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--计划审核任务-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.PlanTaskEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="PlanTaskEntity" SetTableName="t_Welfare_PlanTask" GetTableName="t_Welfare_PlanTask"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Plan.Id" FieldName="PlanId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Staff.Id" FieldName="StaffId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" ></Property>
          <Property PropertyName="Status" FieldName="Status" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plan">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Plan.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Staff.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.WelfareOrderEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="WelfareOrderEntity" SetTableName="t_Welfare_WelfareOrder" GetTableName="t_Welfare_WelfareOrder"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Plan.Id" FieldName="PlanId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="PayAmount" FieldName="PayAmount" ></Property>
          <Property PropertyName="ExpireDate" FieldName="ExpireDate" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Plan">
            <MapObject Name="Beeant.Domain.Entities.Welfare.PlanEntity,Beeant.Domain.Entities" ObjectProperty="Plan.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--福利员工配置-->
        <Object ObjectName="Beeant.Domain.Entities.Welfare.WelfareAccountEntity,Beeant.Domain.Entities" GetDataBase="BeeantWelfareRead" SetDataBase="BeeantWelfareWrite"  NickObjectName="WelfareAccountEntity" SetTableName="t_Welfare_WelfareAccount" GetTableName="t_Welfare_WelfareAccount"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Welfare.Id" FieldName="WelfareId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Setting" FieldName="Setting" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Welfare">
            <MapObject Name="Beeant.Domain.Entities.Welfare.WelfareEntity,Beeant.Domain.Entities" ObjectProperty="Welfare.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Account.Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>