<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--错误日志-->
        <Instance Name="Beeant.Domain.Services.Log.IErrorJobApplicationService" ClassName="Beeant.Application.Services.Log.ErrorRemoveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Log.ErrorEntity" ClassName="Beeant.Application.Services.Log.ErrorApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
        </Instance>
        <!--登入日志-->
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Log.LoginEntity" ClassName="Beeant.Application.Services.Log.LoginApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="IpRepository" Value="Beeant.Domain.Services.Utility.IIpRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Log.IUserLoginJobApplicationService" ClassName="Beeant.Application.Services.Log.LoginRemoveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <!--操作日志-->
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Log.OperationEntity" ClassName="Beeant.Application.Services.Log.OperationApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Log.IOperationJobApplicationService" ClassName="Beeant.Application.Services.Log.OperationRemoveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <!--API请求日志-->
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Log.ApiTraceEntity" ClassName="Beeant.Application.Services.Log.ApiTraceApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Log.IOperationJobApplicationService" ClassName="Beeant.Application.Services.Log.OperationRemoveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <!--回收站-->
        <Instance Name="Beeant.Application.Services.Log.IRecyclerJobApplicationService" ClassName="Beeant.Application.Services.Log.RecyclerJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
