<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--站点信息-->
      <Model Name="Beeant.Domain.Entities.Site.SiteEntity">
        <Property PropertyName="Account.Id" Message="账号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="公司名称必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Domain" Message="域名长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExpireDate" Message="到期时间必填">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="LogoFileName" Message="Logo图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="LogoFileByte" Message="Logo图片大小必须在500KB">
          <Validation RuleName="ValueRange" P0="0" P1="512000" ValidationType="Add|Modify" Message="图片大小必须在500KB"></Validation>
        </Property>
        <Property PropertyName="FaviconFileName" Message="图标必选扩展名只能为ico">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Modify"></Validation>
          <Validation RuleName="Extension" P0="ico" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FaviconFileByte" Message="图标大小必须在500KB">
          <Validation RuleName="ValueRange" P0="0" P1="512000" ValidationType="Add|Modify" Message="图片大小必须在500KB"></Validation>
        </Property>
        <Property PropertyName="Setting" Message="配置信息不能超过长度1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="站点不存在">  </Property>
        <Property PropertyName="ExpireDateOver" Message="站点过期">  </Property>
        <Property PropertyName="AccountHasCrm" Message="账户已经绑定被绑定">  </Property>
      </Model>
      <!--产品类别-->
      <Model Name="Beeant.Domain.Entities.Site.CatalogEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="产品类别不存在"></Property>
        <Property PropertyName="NameExist" Message="分类名称已经存在"></Property>
      </Model>
      <!--产品-->
     <Model Name="Beeant.Domain.Entities.Site.CommodityEntity">
        <Property PropertyName="Catalog.Id" Message="类别必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp|jpeg">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
       <Property PropertyName="AlbumFileName" Message="图册图片必选扩展名只能为jpg|png|gif|bmp|jpeg">
         <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
         <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
       </Property>
       <Property PropertyName="AlbumFileByte" Message="图册图片大小必须小于300KB">
         <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
       </Property>
        <Property PropertyName="Price" Message="销售价必填">
          <Validation RuleName="Float" ValidationType="Add|Modify" P0="9" P1="0" P2="2"></Validation>
        </Property>
        <Property PropertyName="Cost" Message="成本价必填(不显示)">
          <Validation RuleName="Float" ValidationType="Add|Modify" P0="9" P1="0" P2="2"></Validation>
        </Property>
        <Property PropertyName="VenderName" Message="进货商货号长度不能超过120(不显示)">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="VenderMobile" Message="进货商电话号码长度不能超过20(不显示)">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="VenderLinkman" Message="进货商联系人长度不能超过20(不显示)">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="VenderAddress" Message="进货商地址长度不能超过150(不显示)">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Description" Message="产品描述长度不能超过200">
          <Validation RuleName="LengthRange" P0="0" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
       <Property PropertyName="Password" Message="密保不能超过6位">
         <Validation RuleName="LengthRange" P0="0" P1="6" ValidationType="Add|Modify"></Validation>
       </Property>
        <Property PropertyName="Status" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
       <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
         <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
         <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
       </Property>
       <Property PropertyName="Setting" Message="设置长度不能超过1000">
         <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
       </Property>
      </Model>
      <!--产品细节图-->
      <Model Name="Beeant.Domain.Entities.Site.CommodityImageEntity">
        <Property PropertyName="Commodity.Id" Message="产品必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--公司信息-->
      <Model Name="Beeant.Domain.Entities.Site.CompanyEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Album.Id" Message="目录本编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="邮箱长度不能超过80">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Linkman" Message="邮箱长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址长度不能超过150个字符">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="企业名称长度不能超过50">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Qq" Message="联系QQ长度不能超过50">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Fax" Message="企业传真长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Detail" Message="企业介绍长度不能超过2000">
          <Validation RuleName="LengthRange" P0="0" P1="2000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WeixinQrCodeFileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="WeixinQrCodeFileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
        <Property PropertyName="RecordNumber" Message="企业介绍长度不能超过2000">
          <Validation RuleName="LengthRange" P0="0" P1="2000" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--资讯-->
      <Model Name="Beeant.Domain.Entities.Site.NewsEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Title" Message="标题必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="内容必填而且长度不能超过2000">
          <Validation RuleName="LengthRange" P0="1" P1="2000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--标签-->
      <Model Name="Beeant.Domain.Entities.Site.TagEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="产品标签不存在"></Property>
        <Property PropertyName="NameExist" Message="标签名称已经存在"></Property>
      </Model>
      <!--产品标签-->
      <Model Name="Beeant.Domain.Entities.Site.CommodityTagEntity">
        <Property PropertyName="Commodity.Id" Message="产品配置错误不存在">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag.Id" Message="标签配置错误不存在">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExistTagCommodity" Message="该产品已经存在改标签"></Property>
        <Property PropertyName="SiteNotEqual" Message="提交参数有误"></Property>
      </Model>
      <!--Banner图-->
      <Model Name="Beeant.Domain.Entities.Site.BannerEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="Url" Message="连接地址不能超过500个字节">
          <Validation RuleName="LengthRange" P0="0" P1="500" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--证书-->
      <Model Name="Beeant.Domain.Entities.Site.CertificateEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="图片大小必须小于300KB"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--询盘-->
      <Model Name="Beeant.Domain.Entities.Site.InqueryEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Content" Message="资讯内容必填而且长度不能超过200个字符">
          <Validation RuleName="LengthRange" P0="2" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Linkman" Message="联系人必填">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="请输入11位联系人手机号码">
          <Validation RuleName="Length" P0="11"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Mobile" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--消息体-->
      <Model Name="Beeant.Domain.Entities.Site.MessageEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Name" Message="关键字必填不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="消息类型不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="Content" Message="内容长度不能超过500">
          <Validation RuleName="LengthRange" P0="0" P1="500" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--产品类别-->
      <Model Name="Beeant.Domain.Entities.Site.BookEntity">
        <Property PropertyName="Site.Id" Message="站点编号必须">
          <Validation RuleName="PrimaryKey"  ValidationType="Add"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp|jpeg" ValidationType="Add|Modify"  IsIgnoreCase="true"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="图片大小必须小于2MB">
          <Validation RuleName="ValueRange" P0="0" P1="2097152" ValidationType="Add|Modify" Message="图片大小必须小于2MB"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>