<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--配送站-->
        <Instance Name="Beeant.Domain.Services.Gis.IAreaRepository" ClassName="Beeant.Repository.Services.Gis.AreaRepository,Beeant.Repository.Services" ></Instance>
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Gis.AreaEntity" ClassName="Beeant.Domain.Services.Gis.AreaDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Gis.AreaEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Gis.AreaEntity"></Property>
        </Instance>
       <!--地址-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Gis.AddressEntity" ClassName="Beeant.Domain.Services.Gis.AddressDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Gis.AddressEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Gis.AddressEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
