@{
    Layout = "~/Views/Shared/_EnDefaultLayout.cshtml";
    ViewBag.ToperName = "Home";
    ViewBag.Title = "Home";
}

<div id="divBanner" class="banner">

</div>

<div class="home">

    <div id="divTag" class="dtl">

    </div>
    <div class="ct bg2">
        <div class="font">Company information</div>
    </div>
    <div class="cp">

    </div>
</div>
<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="~/Scripts/Winner/Banner/Winner.Banner.js"></script>
<script type="text/javascript" src="~/Scripts/home.js"></script>