<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--系统事件-->
        <Object ObjectName="Beeant.Domain.Entities.Sys.EventEntity,Beeant.Domain.Entities" GetDataBase="BeeantSysRead" SetDataBase="BeeantSysWrite" NickObjectName="EventEntity" SetTableName="t_Sys_Event" GetTableName="t_Sys_Event"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="ClassName" FieldName="ClassName" ></Property>
          <Property PropertyName="Url" FieldName="Url" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--系统服务-->
        <Object ObjectName="Beeant.Domain.Entities.Sys.TaskEntity,Beeant.Domain.Entities" GetDataBase="BeeantSysRead" SetDataBase="BeeantSysWrite" NickObjectName="TaskEntity" SetTableName="t_Sys_Task" GetTableName="t_Sys_Task"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="IsStart" FieldName="IsStart" ></Property>
          <Property PropertyName="BeginTime" FieldName="BeginTime" ></Property>
          <Property PropertyName="Recycle" FieldName="Recycle" ></Property>
          <Property PropertyName="ClassName" FieldName="ClassName" ></Property>
          <Property PropertyName="Args" FieldName="Args" ></Property>
          <Property PropertyName="Weeks" FieldName="Weeks" ></Property>
          <Property PropertyName="Months" FieldName="Months" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--系统参数-->
        <Object ObjectName="Beeant.Domain.Entities.Sys.ParameterEntity,Beeant.Domain.Entities" GetDataBase="BeeantSysRead" SetDataBase="BeeantSysWrite" NickObjectName="ParameterEntity" SetTableName="t_Sys_Parameter" GetTableName="t_Sys_Parameter"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Value" FieldName="Value" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--服务队列-->
        <Object ObjectName="Beeant.Domain.Entities.Sys.QueueEntity,Beeant.Domain.Entities" GetDataBase="BeeantSysRead" SetDataBase="BeeantSysWrite" NickObjectName="QueueEntity" SetTableName="t_Sys_Queue" GetTableName="t_Sys_Queue"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Value" FieldName="Value" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>