@{
    Layout = "";
}
@using Beeant.Basic.Services.Mvc.Extension
@using Beeant.Basic.Services.Mvc.Extension.Mobile
@using Beeant.Basic.Services.Mvc.Script
@using Beeant.Domain.Entities
@using Beeant.Domain.Entities.Site
@using Winner.Persistence
@model Beeant.Cloud.Site.Mobile.Models.Qrcode.QrcodeListModel
@if (Model != null && Model.Catalogs != null)
{
    foreach (var catalog in Model.Catalogs)
    {
        <div class="element">
            <div class="name">@catalog.Name</div>
            <img src="@Html.GetPreRenderPicture()" data-original="@(string.IsNullOrEmpty(catalog.FileName) ? Html.GetNoPicture() : catalog.FullFileName)" class="img" alt=""/>
            <img src="@Html.GetPreRenderPicture()" data-original="/Qrcode/CatalogQrCode/@ViewBag.SiteId?id=@catalog.Id" class="img" alt="" />

        </div>
    }
}