<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="临时图片服务" value="Beeant.Distributed.Service.Host.Service.FileService,Beeant.Distributed.Service.Host"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="newBinding" maxBufferPoolSize="21474835647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netTcpBindingConfiguration" closeTimeout="00:00:01" openTimeout="00:00:01" receiveTimeout="00.00:30" sendTimeout="00.00:30" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10"  maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647 " maxArrayLength="2147483647 " maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="24.00:00" enabled="true" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfService">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.AccountService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Beeant.Domain.Services.Account.IAccountContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:10000" />
          </baseAddresses>
        </host>
      </service>

      <!-- <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.FileService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Winner.Storage.IFileContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:11000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.FileService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Winner.Storage.IFileContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:12000" />
          </baseAddresses>
        </host>
      </service>-->
       <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.FileService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Winner.Storage.IFileContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:13000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.SearchService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Beeant.Domain.Services.Search.ISearchContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:14000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.CacheService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Winner.Cache.ICacheContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:15000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.QueueService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Winner.Queue.IQueueContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:16000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="WcfService" name="Beeant.Distributed.Service.Host.Service.IdentityService">
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="netTcpBindingConfiguration" contract="Beeant.Domain.Services.Utility.IIdentityContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:17000" />
          </baseAddresses>
        </host>
      </service>


    </services>
   
  </system.serviceModel>
</configuration>
