<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--品牌信息-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.BrandEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="BrandEntity" SetTableName="t_Basedata_Brand" GetTableName="t_Basedata_Brand"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="EnglishName" FieldName="EnglishName"></Property>
          <Property PropertyName="Initial" FieldName="Initial" ></Property>
		      <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
     
        <!--货币-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.CurrencyEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="CurrencyEntity" SetTableName="t_Basedata_Currency" GetTableName="t_Basedata_Currency"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Code" FieldName="Code"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--单位-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.UnitEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="UnitEntity" SetTableName="t_Basedata_Unit" GetTableName="t_Basedata_Unit"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--资金方式-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.PayTypeEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="PayTypeEntity" SetTableName="t_Basedata_PayType" GetTableName="t_Basedata_PayType"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Tag" FieldName="Tag"></Property>
          <Property PropertyName="Url" FieldName="Url"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>

        <!--标签组-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.TagGroupEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="TagGroupEntity" SetTableName="t_Basedata_TagGroup" GetTableName="t_Basedata_TagGroup"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--标签-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.TagEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="TagEntity" SetTableName="t_Basedata_Tag" GetTableName="t_Basedata_Tag"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="TagGroup.Id" FieldName="TagGroupId"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Value" FieldName="Value"></Property>
		      <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="TagGroup">
            <MapObject Name="Beeant.Domain.Entities.Basedata.TagGroupEntity,Beeant.Domain.Entities" ObjectProperty="TagGroup.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
		
		    <!--风格模板-->
		    <Object ObjectName="Beeant.Domain.Entities.Basedata.StyleEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="StyleEntity" SetTableName="t_Basedata_Style" GetTableName="t_Basedata_Style"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
			  <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
			  <Property PropertyName="Name" FieldName="Name" ></Property>
			  <Property PropertyName="Path" FieldName="Path"></Property>
			  <Property PropertyName="Type" FieldName="Type" ></Property>
			  <Property PropertyName="Detail" FieldName="Detail" ></Property>
			  <Property PropertyName="Remark" FieldName="Remark" ></Property>
			  <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
			  <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
			  <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
			  <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
			  <Property PropertyName="Mark" FieldName="Mark"></Property>
			  <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
		  </Object>
        <!--区域-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.DistrictEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="DistrictEntity" SetTableName="t_Basedata_District" GetTableName="t_Basedata_District"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Pinyin" FieldName="Pinyin" ></Property>
          <Property PropertyName="Parent.Id" FieldName="ParentId"></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Children">
            <MapObject Name="Beeant.Domain.Entities.Basedata.DistrictEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Parent.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Parent">
            <MapObject Name="Beeant.Domain.Entities.Basedata.DistrictEntity,Beeant.Domain.Entities" ObjectProperty="Parent.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

        <!--运价模板-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.FreightEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="FreightEntity" SetTableName="t_Basedata_Freight" GetTableName="t_Basedata_Freight"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="FreeRegion" FieldName="FreeRegion" ></Property>
          <Property PropertyName="FreeProfit" FieldName="FreeProfit" ></Property>
          <Property PropertyName="IsDelivery" FieldName="IsDelivery" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Carries">
            <MapObject Name="Beeant.Domain.Entities.Basedata.CarryEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Freight.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--运价方式-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.CarryEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="CarryEntity" SetTableName="t_Basedata_Carry" GetTableName="t_Basedata_Carry"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Freight.Id" FieldName="FreightId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Region" FieldName="Region"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="DefaultCount" FieldName="DefaultCount" ></Property>
          <Property PropertyName="DefaultPrice" FieldName="DefaultPrice" ></Property>
          <Property PropertyName="ContinueCount" FieldName="ContinueCount" ></Property>
          <Property PropertyName="ContinuePrice" FieldName="ContinuePrice" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Freight">
            <MapObject Name="Beeant.Domain.Entities.Basedata.FreightEntity,Beeant.Domain.Entities" ObjectProperty="Freight.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--国家城市-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.CountryEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="CountryEntity" SetTableName="t_Basedata_Country" GetTableName="t_Basedata_Country"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--配送站城市-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.CityEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="CityEntity" SetTableName="t_Basedata_City" GetTableName="t_Basedata_City"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--配送站-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.DeliveryEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="DeliveryEntity" SetTableName="t_Basedata_Delivery" GetTableName="t_Basedata_Delivery"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="City" FieldName="City"></Property>
          <Property PropertyName="LimitCount" FieldName="LimitCount" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--目录本-->
        <Object ObjectName="Beeant.Domain.Entities.Basedata.AlbumEntity,Beeant.Domain.Entities" GetDataBase="BeeantBasedataRead" SetDataBase="BeeantBasedataWrite" NickObjectName="Basedata.AlbumEntity" SetTableName="t_Basedata_Album" GetTableName="t_Basedata_Album"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="Path" FieldName="Path" ></Property>
          <Property PropertyName="FrontFileName" FieldName="FrontFileName" ></Property>
          <Property PropertyName="BackFileName" FieldName="BackFileName" ></Property>
          <Property PropertyName="AboutFileName" FieldName="AboutFileName" ></Property>
          <Property PropertyName="Detail" FieldName="Detail" ></Property>
          <Property PropertyName="PageSize" FieldName="PageSize" ></Property>
          <Property PropertyName="Width" FieldName="Width" ></Property>
          <Property PropertyName="Height" FieldName="Height" ></Property>
          <Property PropertyName="MusicUrl" FieldName="MusicUrl" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>

      </Map>
    </XmlOrm>
  </Persistence>
</configuration>