<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--部门-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.DepartmentEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="DepartmentEntity" SetTableName="t_Hr_Department" GetTableName="t_Hr_Department"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Staffs">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Department.Id"   MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--职位-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.PositionEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="PositionEntity" SetTableName="t_Hr_Position" GetTableName="t_Hr_Position"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Staffs">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Position.Id"   MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--员工-->
        <Object ObjectName="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" GetDataBase="BeeantHrRead" SetDataBase="BeeantHrWrite"  NickObjectName="StaffEntity" SetTableName="t_Hr_Staff" GetTableName="t_Hr_Staff"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Department.Id" FieldName="DepartmentId"></Property>
          <Property PropertyName="Position.Id" FieldName="PositionId"></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="JobNumber" FieldName="JobNumber"></Property>
          <Property PropertyName="Leadership" FieldName="Leadership"></Property>
          <Property PropertyName="HeadFileName" FieldName="HeadFileName"></Property>
          <Property PropertyName="ContractFileName" FieldName="ContractFileName"></Property>
          <Property PropertyName="Qq" FieldName="Qq"></Property>
          <Property PropertyName="Msn" FieldName="Msn"></Property>
          <Property PropertyName="Country" FieldName="Country"></Property>
          <Property PropertyName="Province" FieldName="Province"></Property>
          <Property PropertyName="City" FieldName="City"></Property>
          <Property PropertyName="Address" FieldName="Address"></Property>
          <Property PropertyName="Birthday" FieldName="Birthday"></Property>
          <Property PropertyName="Habitat" FieldName="Habitat"></Property>
          <Property PropertyName="Degree" FieldName="Degree"></Property>
          <Property PropertyName="EnrollmentDate" FieldName="EnrollmentDate"></Property>
          <Property PropertyName="Email" FieldName="Email"></Property>
          <Property PropertyName="Mobile" FieldName="Mobile"></Property>
          <Property PropertyName="Telephone" FieldName="Telephone"></Property>
          <Property PropertyName="IdCardNumber" FieldName="IdCardNumber"></Property>
          <Property PropertyName="Gender" FieldName="Gender"></Property>
          <Property PropertyName="ExtensionTelephone" FieldName="ExtensionTelephone"></Property>
          <Property PropertyName="IsFire" FieldName="IsFire"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Department">
            <MapObject Name="Beeant.Domain.Entities.Hr.DepartmentEntity,Beeant.Domain.Entities" ObjectProperty="Department.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Position">
            <MapObject Name="Beeant.Domain.Entities.Hr.PositionEntity,Beeant.Domain.Entities" ObjectProperty="Position.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" IsRemote="true" ObjectProperty="User.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

      </Map>
    </XmlOrm>
  </Persistence>
</configuration>