<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--集成商信息-->
      <Model Name="Beeant.Domain.Entities.Agent.AgentEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>

        <Property PropertyName="LegalPerson" Message="法人必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>       
        <Property PropertyName="Telephone" Message="固定电话必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>        
        <Property PropertyName="Address" Message="地址必填而且长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="RegisterAddress" Message="注册地址必填而且长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postal" Message="邮政编码必填而且长度不能超过10">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BidCount" Message="剩余招标次数为非负整数">
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="PackageCount" Message="剩余套餐次数为非负整数">
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BankName" Message="开户行及账号必填而且长度不能超过60个字符">
          <Validation RuleName="LengthRange" P0="1" P1="60" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TaxNumber" Message="纳税人识别码必填而且长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Service.Id" Message="客服编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="UnEffective" Message="集成商还没有通过审核"></Property>
        <Property PropertyName="AccountHasAgent" Message="该账户已经被其它集成商占用"></Property>
        <Property PropertyName="OpenAccountNotAllowRemove" Message="已经开户的集成商不能删除"></Property>
        <Property PropertyName="StatusExits" Message="已经启用的或在审核中不能被编辑"></Property>
        <Property PropertyName="NoExist" Message="集成商不存在"></Property>

        <Property PropertyName="BusLicenseFileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BusLicenseFileByte" Message="图片大小必须小于5MB">
          <Validation  RuleName="ValueRange" P0="0" P1="5242880"  ValidationType="Add|Modify" Message="图片大小必须小于5MB"></Validation>
        </Property>

        <Property PropertyName="TaxRegCertificateFileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TaxRegCertificateFileByte" Message="图片大小必须小于5MB">
          <Validation  RuleName="ValueRange" P0="0" P1="5242880"  ValidationType="Add|Modify" Message="图片大小必须小于5MB"></Validation>
        </Property>

        <Property PropertyName="OrgCodeFileName" Message="图片必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="OrgCodeFileByte" Message="图片大小必须小于5MB">
          <Validation  RuleName="ValueRange" P0="0" P1="5242880"  ValidationType="Add|Modify" Message="图片大小必须小于5MB"></Validation>
        </Property>
		  <Property PropertyName="Status" Message="集成商状态必须">
			  <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
		  </Property>
		  <Property PropertyName="StatusName" Message="集成商状态必须">
			  <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
		  </Property>
      </Model>
      <!--集成商类型信息-->
      <Model Name="Beeant.Domain.Entities.Agent.AgentTypeEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Increase" Message="加价幅度必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float" P0="1" P1="1" P2="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MemberCount" Message="子账号数量必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Grade" Message="等级必须是数字">
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="集成商类型不存在"></Property>
        <Property PropertyName="HasAgentNotAllowRemove" Message="集成商类型已经存在不能删除"></Property>
        <Property PropertyName="MemberCountOver" Message="会员数量已经超出"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>