<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--搜索同步接口-->
        <Instance Name="Beeant.Domain.Services.Search.ISearchWcfService" ClassName="Winner.Wcf.XmlWcfService,Winner">
          <Property Name="NodeName" Value="/configuration/Wcf/XmlSearchStore/EndPoint"></Property>
          <Property Name="ClientFile" Value="config\client.config"></Property>
          <Property Name="ConfigFile" Value="config\wcf.config"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Search.ISearchRepository" ClassName="Beeant.Repository.Services.Search.RemoteSearchRepository,Beeant.Repository.Services" >
          <Property Name="WcfService" Value="Beeant.Domain.Services.Search.ISearchWcfService"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.ISearchApplicationService" ClassName="Beeant.Application.Services.Search.SearchApplicationService,Beeant.Application.Services" >
          <Property Name="SearchRepository" Value="Beeant.Domain.Services.Search.ISearchRepository"></Property>
        </Instance>
        <!--词库-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.WordEntity" ClassName="Beeant.Domain.Services.Search.WordDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Search.WordEntity" ClassName="Beeant.Application.Services.Search.WordApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.WordEntity"></Property>
        </Instance>
        <!--相似词库-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.SimilarEntity" ClassName="Beeant.Domain.Services.Search.SimilarDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Search.SimilarEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.SimilarEntity"></Property>
        </Instance>
        <!--关键字-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.KeyEntity" ClassName="Beeant.Domain.Services.Search.KeyDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Search.KeyEntity" ClassName="Beeant.Application.Services.Search.KeyApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.KeyEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.IKeyToWordJobApplicationService" ClassName="Beeant.Application.Services.Search.KeyToWordJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="WordDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.WordEntity"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.KeyEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.IKeyQueueSaveApplicationService" ClassName="Beeant.Application.Services.Search.KeyQueueSaveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.KeyEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>        
        <Instance Name="Beeant.Application.Services.Search.IKeyQueueSaveJobApplicationService" ClassName="Beeant.Application.Services.Search.KeyQueueSaveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>          
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.KeyEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>
        <!--相关关键字-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.RelateKeyEntity" ClassName="Beeant.Domain.Services.Search.RelateKeyDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Search.RelateKeyEntity" ClassName="Beeant.Application.Services.Search.RelateKeyApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.RelateKeyEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.IRelateKeyToSimilarJobApplicationService" ClassName="Beeant.Application.Services.Search.RelateKeyToSimilarJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.RelateKeyEntity"></Property>
          <Property Name="SimilarDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.SimilarEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.IRelateKeyQueueSaveApplicationService" ClassName="Beeant.Application.Services.Search.RelateKeyQueueSaveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.RelateKeyEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Search.IRelateKeyQueueSaveJobApplicationService" ClassName="Beeant.Application.Services.Search.RelateKeyQueueSaveJobApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Search.RelateKeyEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
        </Instance>        
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
