<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--部门-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.DepartmentEntity" ClassName="Beeant.Domain.Services.Hr.DepartmentDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Hr.DepartmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.DepartmentEntity"></Property>
        </Instance>
        <!--员工-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.StaffEntity" ClassName="Beeant.Domain.Services.Hr.StaffDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Hr.StaffEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.StaffEntity"></Property>
        </Instance>
        <!--加班申请单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.WorkOverTimeEntity" ClassName="Beeant.Domain.Services.Hr.WorkOverTimeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Hr.WorkOverTimeEntity" ClassName="Beeant.Application.Services.Hr.WorkOverTimeWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.WorkOverTimeEntity"></Property>
        </Instance>
        <!--请假申请单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.LeaveEntity" ClassName="Beeant.Domain.Services.Hr.LeaveDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Hr.LeaveEntity" ClassName="Beeant.Application.Services.Hr.LeaveWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.LeaveEntity"></Property>
        </Instance>
        <!--出勤异动单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.ClockChangeEntity" ClassName="Beeant.Domain.Services.Hr.ClockChangeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Hr.ClockChangeEntity" ClassName="Beeant.Application.Services.Hr.ClockChangeWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.ClockChangeEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
