<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!-- Balance-->
        <Instance Name="Beeant.Domain.Services.Finance.IBalancePaylineRepository" ClassName="Beeant.Repository.Services.Finance.BalancePaylineRepository,Beeant.Repository.Services" >
        </Instance>
        <Instance Name="Beeant.Application.Services.Finance.IBalancePaylineApplicationService" ClassName="Beeant.Application.Services.Finance.PaylineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity"></Property>
          <Property Name="PaylineRepository" Value="Beeant.Domain.Services.Finance.IBalancePaylineRepository"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
          <Property Name="PayinWorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
        </Instance>
        <!-- Ali-->
        <Instance Name="Beeant.Domain.Services.Finance.IAliPaylineRepository" ClassName="Beeant.Repository.Services.Finance.AlipayPaylineRepository,Beeant.Repository.Services" >
        </Instance>
        <Instance Name="Beeant.Application.Services.Finance.IAliPaylineApplicationService" ClassName="Beeant.Application.Services.Finance.PaylineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity"></Property>
          <Property Name="PaylineRepository" Value="Beeant.Domain.Services.Finance.IAlipayPaylineRepository"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
          <Property Name="PayinWorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Finance.IBcmPaylineRepository" ClassName="Beeant.Repository.Services.Finance.BcmPaylineRepository,Beeant.Repository.Services" >
        </Instance>
        <!-- Wechat-->
        <Instance Name="Beeant.Domain.Services.Finance.IWechatPaylineRepository" ClassName="Beeant.Repository.Services.Finance.WechatPaylineRepository,Beeant.Repository.Services" >
        </Instance>
        <Instance Name="Beeant.Application.Services.Finance.IBcmPaylineApplicationService" ClassName="Beeant.Application.Services.Finance.PaylineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Finance.PaylineEntity"></Property>
          <Property Name="PaylineRepository" Value="Beeant.Domain.Services.Finance.IWechatPaylineRepository"></Property>
          <Property Name="WorkflowEngine" Value="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService"></Property>
          <Property Name="PayinWorkflowApplicationService" Value="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Finance.PayinEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
