<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--客户信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CrmEntity" ClassName="Beeant.Domain.Services.Crm.CrmDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.CrmEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CrmEntity"></Property>
        </Instance>
        <!--客户类型信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerTypeEntity" ClassName="Beeant.Domain.Services.Crm.CustomerTypeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.CustomerTypeEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerTypeEntity"></Property>
        </Instance>
        <!--客户渠道信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerChannelEntity" ClassName="Beeant.Domain.Services.Crm.CustomerChannelDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.CustomerChannelEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerChannelEntity"></Property>
        </Instance>
        <!--客户信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerEntity" ClassName="Beeant.Domain.Services.Crm.CustomerDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.CustomerEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerEntity"></Property>
        </Instance>
        <!--客户维护信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.CustomerNoteEntity" ClassName="Beeant.Domain.Services.Crm.CustomerNoteDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.NoteEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.NoteEntity"></Property>
        </Instance>
        <!--合同维护信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.ContractEntity" ClassName="Beeant.Domain.Services.Crm.ContractDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.ContractEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.ContractEntity"></Property>
        </Instance>
        <!--部门维护信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.DepartmentEntity" ClassName="Beeant.Domain.Services.Crm.DepartmentDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.DepartmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.DepartmentEntity"></Property>
        </Instance>
        <!--员工维护信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.StaffEntity" ClassName="Beeant.Domain.Services.Crm.StaffDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.StaffEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.StaffEntity"></Property>
        </Instance>
        <!--订单状态信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderStatusEntity" ClassName="Beeant.Domain.Services.Crm.OrderStatusDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.OrderStatusEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderStatusEntity"></Property>
        </Instance>
        <!--订单状态信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderEntity" ClassName="Beeant.Domain.Services.Crm.OrderDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.OrderEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderEntity"></Property>
        </Instance>
        <!--订单明细信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderItemEntity" ClassName="Beeant.Domain.Services.Crm.OrderItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Crm.OrderItemEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Crm.OrderItemEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
