<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <Persistence>
    <XmlDbRoute>
      <Info Name="Hotel" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.HotelRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="HotelImage" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.HotelImageRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="HotelNumber" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.HotelNumberRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="HotelDayPrice" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.HotelDayPriceRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="Room" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.RoomRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="RoomNumber" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.RoomNumberRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="RoomPlan" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.RoomPlanRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="RoomPlanItem" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.RoomPlanItemRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
      <Info Name="RoomPlanPrice" TopCount="1000" ClassName="Beeant.Repository.Services.Hotel.RoomPlanPriceRoute,Beeant.Repository.Services" GetQueryShardingHandle="GetQuerySharding" GetSaveShardingHandle="GetSaveSharding" IsMapTableAutoSharding="false"></Info>
    </XmlDbRoute>
  </Persistence>
</configuration>