body{color: #404040;font-family: Tahoma,Arial,sans-serif,Simsun,宋体;font-size: 12px; line-height: 24px;}
html { overflow-x:hidden; }
*{ margin:0 0; padding:0 ;}
ul{ list-style-type:none;}
img{border:none;}
.container{margin: 0 auto;width: 392px;  margin-top: 150px;position: relative;z-index: 1;}
.container .body{border: 1px solid #339ED6;padding: 24px;}
.container .body dt {float: left; padding-right: 10px;text-align: right; width: 106px;padding-bottom: 6px;}
.container .fillet01{bottom: 0;left: 0; font-size: 0; height: 9px; line-height: 0;position: absolute;width: 9px;z-index: 10;}
.container .fillet02{bottom: 0;right: 0; font-size: 0; height: 9px; line-height: 0;position: absolute; width: 9px;z-index: 10;}
.cf { zoom:1} /* for IE */
.cf:after { content:"."; display: block; clear:both; font-size:0; height:0; visibility:hidden; overflow:hidden} /* for other */
.input{width: 135px;border: 1px solid #BBBBBB;height: 18px;line-height: 18px;padding: 2px 3px 0;}
.container .body .btn {border: 1px solid black;background: none repeat scroll 0 0 #339ED6;color: #FFFFFF;font-size: 14px;font-weight: bold;height: 28px;margin-top: 20px;width: 86px !important;}
