<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--站点-->
        <Object ObjectName="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.SiteEntity" SetTableName="t_Site_Site" GetTableName="t_Site_Site"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0" IsCache="true" CacheTime="18000">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="ExpireDate" FieldName="ExpireDate" ></Property>
          <Property PropertyName="Domain" FieldName="Domain" ></Property>
          <Property PropertyName="LogoFileName" FieldName="LogoFileName" ></Property>
          <Property PropertyName="FaviconFileName" FieldName="FaviconFileName" ></Property>
          <Property PropertyName="Setting" FieldName="Setting" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--类别-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CatalogEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CatalogEntity" SetTableName="t_Site_Catalog" GetTableName="t_Site_Catalog"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="Commodities">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Catalog.Id"   MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--货源-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CommodityEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CommodityEntity" SetTableName="t_Site_Commodity" GetTableName="t_Site_Commodity"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Catalog.Id" FieldName="CatalogId" ></Property>
          <Property PropertyName="Status" FieldName="Status" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="Cost" FieldName="Cost" ></Property>
          <Property PropertyName="Price" FieldName="Price" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="Password" FieldName="Password" ></Property>
          <Property PropertyName="IsShowPrice" FieldName="IsShowPrice" ></Property>
          <Property PropertyName="VenderName" FieldName="VenderName" ></Property>
          <Property PropertyName="VenderLinkman" FieldName="VenderLinkman" ></Property>
          <Property PropertyName="VenderMobile" FieldName="VenderMobile" ></Property>
          <Property PropertyName="VenderAddress" FieldName="VenderAddress" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="AlbumFileName" FieldName="AlbumFileName" ></Property>
          <Property PropertyName="IsCreateAlbum" FieldName="IsCreateAlbum" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Catalog">
            <MapObject Name="Beeant.Domain.Entities.Site.CatalogEntity,Beeant.Domain.Entities" ObjectProperty="Catalog.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="CommodityImages">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityImageEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Commodity.Id" IsAdd="false" IsRemove="true"  IsModify="false" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="CommodityTags">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityTagEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Commodity.Id"   MapType="OneToMany" IsRemove="true">
            </MapObject>
          </Property>
        </Object>
        <!--货源细节图片-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CommodityImageEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CommodityEntity" SetTableName="t_Site_CommodityImage" GetTableName="t_Site_CommodityImage"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Commodity.Id" FieldName="CommodityId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Commodity">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityEntity,Beeant.Domain.Entities" ObjectProperty="Commodity.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
 
        <!--公司-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CompanyEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CompanyEntity" SetTableName="t_Site_Company" GetTableName="t_Site_Company"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Album.Id" FieldName="AlbumId" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="Email" FieldName="Email" ></Property>
          <Property PropertyName="Linkman" FieldName="Linkman" ></Property>
          <Property PropertyName="Address" FieldName="Address" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Qq" FieldName="Qq" ></Property>
          <Property PropertyName="Fax" FieldName="Fax" ></Property>
          <Property PropertyName="Detail" FieldName="Detail" ></Property>
          <Property PropertyName="RecordNumber" FieldName="RecordNumber" ></Property>
          <Property PropertyName="WeixinQrCodeFileName" FieldName="WeixinQrCodeFileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="Album">
            <MapObject Name="Beeant.Domain.Entities.Basedata.AlbumEntity,Beeant.Domain.Entities" ObjectProperty="Album.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--资讯-->
        <Object ObjectName="Beeant.Domain.Entities.Site.NewsEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.NewsEntity" SetTableName="t_Site_News" GetTableName="t_Site_News"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Title" FieldName="Title" ></Property>
          <Property PropertyName="Content" FieldName="Content" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--标签-->
        <Object ObjectName="Beeant.Domain.Entities.Site.TagEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.TagEntity" SetTableName="t_Site_Tag" GetTableName="t_Site_Tag"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="CommodityTags">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityTagEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Tag.Id"   MapType="OneToMany" IsRemove="true">
            </MapObject>
          </Property>
        </Object>
        <!--标签商品-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CommodityTagEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CommodityTagEntity" SetTableName="t_Site_CommodityTag" GetTableName="t_Site_CommodityTag"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Tag.Id" FieldName="TagId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Commodity.Id" FieldName="CommodityId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Tag">
            <MapObject Name="Beeant.Domain.Entities.Site.TagEntity,Beeant.Domain.Entities" ObjectProperty="Tag.Id" MapObjectProperty="Id"   MapType="OneToOne" >
            </MapObject>
          </Property>
          <Property PropertyName="Commodity">
            <MapObject Name="Beeant.Domain.Entities.Site.CommodityEntity,Beeant.Domain.Entities" ObjectProperty="Commodity.Id" MapObjectProperty="Id"   MapType="OneToOne" >
            </MapObject>
          </Property>
        </Object>
        <!--Banner-->
        <Object ObjectName="Beeant.Domain.Entities.Site.BannerEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.BannerEntity" SetTableName="t_Site_Banner" GetTableName="t_Site_Banner"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="Url" FieldName="Url" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--证书-->
        <Object ObjectName="Beeant.Domain.Entities.Site.CertificateEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.CertificateEntity" SetTableName="t_Site_Certificate" GetTableName="t_Site_Certificate"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--询盘-->
        <Object ObjectName="Beeant.Domain.Entities.Site.InqueryEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.InqueryEntity" SetTableName="t_Site_Inquery" GetTableName="t_Site_Inquery"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Content" FieldName="Content" ></Property>
          <Property PropertyName="Linkman" FieldName="Linkman" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
          <!--消息体-->
        <Object ObjectName="Beeant.Domain.Entities.Site.MessageEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.MessageEntity" SetTableName="t_Site_Message" GetTableName="t_Site_Message"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Content" FieldName="Content" ></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
         <!--目录本-->
        <Object ObjectName="Beeant.Domain.Entities.Site.BookEntity,Beeant.Domain.Entities" GetDataBase="BeeantSiteRead" SetDataBase="BeeantSiteWrite" NickObjectName="Site.BookEntity" SetTableName="t_Site_Book" GetTableName="t_Site_Book"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Site.Id" FieldName="SiteId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>