@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    ViewBag.Title = "关于我们";
    ViewBag.ToperName = "关于我们";
}
@model Beeant.Cloud.Site.Mobile.Models.Company.CompanyModel
<div id="divCompany">

</div>
<script type="text/javascript" src="~/Scripts/company.js"></script>