<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--供应商信息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.PartnerEntity" ClassName="Beeant.Domain.Services.Merchant.PartnerDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Merchant.PartnerEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.PartnerEntity"></Property>
        </Instance>
        <!--目录-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.CatalogueEntity" ClassName="Beeant.Domain.Services.Merchant.CatalogueDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Merchant.CatalogueEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.CatalogueEntity"></Property>
        </Instance>
        <!--商品目录-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.CatalogueGoodsEntity" ClassName="Beeant.Domain.Services.Merchant.CatalogueGoodsDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Merchant.CatalogueGoodsEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.CatalogueGoodsEntity"></Property>
        </Instance>
        <!--销售订单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.SaleEntity" ClassName="Beeant.Domain.Services.Merchant.SaleDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Merchant.SaleEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.SaleEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
