<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--采购单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="PurchaseItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity"></Property>
          <Property Name="PayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PayEntity"></Property>
          <Property Name="AttachmentDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.AttachmentEntity"></Property>
          <Property Name="ExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.ExpressEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Purchase.IPurchaseApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseApplicationSerivce,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity"></Property>
        </Instance>
        <!--采购单明细-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="InventoryDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Wms.InventoryEntity"></Property>
          <Property Name="ProductDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Product.ProductEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseItemApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity"></Property>
        </Instance>
        <!--付款核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PayEntity" ClassName="Beeant.Domain.Services.Purchase.PayDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PayEntity" ClassName="Beeant.Application.Services.Purchase.PayApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PayEntity"></Property>
        </Instance>
        <!--订单发票核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.InvoiceEntity" ClassName="Beeant.Domain.Services.Purchase.InvoiceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.InvoiceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.InvoiceEntity"></Property>
        </Instance>
        <!--采购附件-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.AttachmentEntity" ClassName="Beeant.Domain.Services.Purchase.AttachmentDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.AttachmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.AttachmentEntity"></Property>
          <Property Name="OrderExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ExpressEntity"></Property>
        </Instance>
        <!--采购快递-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.ExpressEntity" ClassName="Beeant.Domain.Services.Purchase.ExpressDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.ExpressEntity" ClassName="Beeant.Application.Services.Purchase.ExpressApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.ExpressEntity"></Property>
          <Property Name="OrderExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.ExpressEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
