<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--验证码-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Security.CodeEntity" ClassName="Beeant.Domain.Services.Security.CodeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.Security.ICodeDomainService" ClassName="Beeant.Domain.Services.Security.CodeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Security.CodeEntity" ClassName="Beeant.Application.Services.Security.CodeApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Security.CodeEntity"></Property>
          <Property Name="CodeDomainService" Value="Beeant.Domain.Services.Security.ICodeDomainService"></Property>
          <Property Name="MobileRepository" Value="Beeant.Domain.Services.Utility.IMobileRepository"></Property>
          <Property Name="EmailRepository" Value="Beeant.Domain.Services.Utility.IEmailRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Security.ICodeApplicationService" ClassName="Beeant.Application.Services.Security.CodeApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Security.CodeEntity"></Property>
          <Property Name="CodeDomainService" Value="Beeant.Domain.Services.Security.ICodeDomainService"></Property>
          <Property Name="MobileRepository" Value="Beeant.Domain.Services.Utility.IMobileRepository"></Property>
          <Property Name="EmailRepository" Value="Beeant.Domain.Services.Utility.IEmailRepository"></Property>
        </Instance>
        <!--登录锁-->
        <Instance Name="Beeant.Domain.Services.Security.ILockerDomainService" ClassName="Beeant.Domain.Services.Security.LockerDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <!--临时存储-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Security.TemporaryEntity" ClassName="Beeant.Domain.Services.Security.TemporaryDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Security.TemporaryEntity" ClassName="Beeant.Application.Services.Security.TemporaryApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Security.TemporaryEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
