@{
    Layout = "~/Views/Shared/_StarryLayout.cshtml";
    ViewBag.ToperName = "人才招聘";
    ViewBag.Title = "人才招聘";
}
@model Beeant.Cloud.Site.Mobile.Models.News.NewsListModel

<div class="news">
    <div class="list"></div>
</div>
<script type="text/javascript">
    window.MoreTip = "详情";
   
</script>
<script type="text/javascript" src="~/Scripts/News.js"></script>