<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--通用验证-->
      <Model Name="Beeant.Domain.Entities.FileName">
        <Property PropertyName="FileNameEmpty" Message="{0}图片属性为赋值"></Property>
      </Model>
      <Model Name="Beeant.Domain.Entities.Utility.LoginEntity">
        <Property PropertyName="CodeError" Message="验证码错误"></Property>
        <Property PropertyName="NameOrPasswordEmpty" Message="用户名或密码不能为空"></Property>
        <Property PropertyName="NameOrPasswordError" Message="用户名或密码错误"></Property>
        <Property PropertyName="LoginLocker" Message="你登入过于频繁，请{0}再试"></Property>
      </Model>
      <Model Name="Beeant.Domain.Entities.BaseEntity">
        <Property PropertyName="Where" Message="删除,编辑不能自定条件">
          <Validation RuleName="Length" P0="0" ValidationType="Remove|Modify"></Validation>
        </Property>
        <Property PropertyName="Id" Message="删除,编辑必须提供Id">
          <Validation RuleName="MustPrimaryKey" ValidationType="Remove|Modify"></Validation>
        </Property>
        <Property PropertyName="NoAllowBatchSave" Message="禁止批量操作"></Property>
        <Property PropertyName="RepeatInList" Message="集合中有违反约束的重复数据"></Property>
        <Property PropertyName="SystemError" Message="系统忙，请稍后再试"></Property>
        <Property PropertyName="VersionExpired" Message="单据已经过期"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>