<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--仓库-->
      <Model Name="Beeant.Domain.Entities.Wms.StorehouseEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必须为整数">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="8" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExistChild" Message="仓库有子仓库不能删除"></Property>
        <Property PropertyName="NotAllowParent" Message="不能指定该仓库为父类仓库"></Property>
        <Property PropertyName="HasStocksNotAllowRemove" Message="仓库存储库存出库单据不能删除"></Property>
        <Property PropertyName="AuditNotAllowModify" Message="已经审核不能修改"></Property>
        <Property PropertyName="NoExist" Message="仓库不存在"></Property>
        <Property PropertyName="UnUsed" Message="仓库已经被禁用"></Property>
      </Model>
      <!--进出库-->
      <Model Name="Beeant.Domain.Entities.Wms.StockEntity">
        <Property PropertyName="Order.Id" Message="订单编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Purchase.Id" Message="采购单编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="进出库类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="用户编号必须为数字">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Status" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StatusName" Message="状态必选">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="出入库单据不存在"></Property>
        <Property PropertyName="PurchaseTypeMustPurchaseId" Message="产品进销必须提供采购单编号"></Property>
        <Property PropertyName="SalesTypeMustOrderId" Message="销售进销必须提供订单编号"></Property>
      </Model>
      <!--进出库明细-->
      <Model Name="Beeant.Domain.Entities.Wms.StockItemEntity">
        <Property PropertyName="Stock.Id" Message="出入库编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="商品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Storehouse.Id" Message="仓库编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="数量必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名称必填且长度不能超过120字符">
          <Validation RuleName="LengthRange"  P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="User.Id" Message="操作人编号错误">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="InStatusNotAllowModifyCount" Message="当前状态不能修改数量"></Property>
      </Model>
      <!--库存清单-->
      <Model Name="Beeant.Domain.Entities.Wms.InventoryEntity">
        <Property PropertyName="Product.Id" Message="商品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Storehouse.Id" Message="仓库编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="StartTime" Message="开始时间必填">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="该仓库数量不足">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="LockCount" Message="锁定库存必须填写">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WarningCount" Message="库存警戒线必须大于0">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TransitCount" Message="在途库存必须大于0">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Recycle" Message="转换周期必须大于0">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TimingTime" Message="重置时间">
            <Validation RuleName="LengthRange"  P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="重置库存必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="重置库存必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Weeks" Message="执行星期必选">
          <Validation RuleName="LengthRange" P0="1" P1="15" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Months" Message="执行日期必选">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="BindWeeks" Message="执行星期必须">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Cities" Message="城市限制长短不能超过500">
          <Validation RuleName="LengthRange" P0="1" P1="500" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="HasCountNotAllowRemove" Message="商品存在库存不能从仓库移出"></Property>
        <Property PropertyName="Exist" Message="商品库存清单已经存在"></Property>
        <Property PropertyName="EnoughCount" Message="库存不足"></Property>
      </Model>
      <!--货架-->
      <Model Name="Beeant.Domain.Entities.Wms.ShelfEntity">
        <Property PropertyName="Name" Message="名称不能为空且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="商品编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Storehouse.Id" Message="仓库编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="该货架数量不足">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="NoNegativeInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--移位-->
      <Model Name="Beeant.Domain.Entities.Wms.ShelfEntity">
        <Property PropertyName="Remark" Message="悲惨不能为空且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="该仓库数量不足">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Integer" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Shelf.Id" Message="货架编号不正确">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>