.uploader {padding:2px;color:#4A3C8C; }
.uploader .view{float: left; width: 100%;}
.uploader .view div{float: left; width:120px;height:150px;}
.uploader .view img{width:120px; height:150px;}
.uploader .file{width:220px; margin-top:2px; display:inline; }

