<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--计划状态-->
      <Language Name="Beeant.Domain.Entities.Welfare.PlanStatusType">
        <Message Name="Create" Value="新建"></Message>
        <Message Name="Audit" Value="审批中"></Message>
        <Message Name="Start" Value="启动"></Message>
        <Message Name="Close" Value="关闭"></Message>
        <Message Name="Cancel" Value="作废"></Message>
      </Language>
      <!--计划任务状态-->
      <Language Name="Beeant.Domain.Entities.Welfare.PlanFlowType">
        <Message Name="Plan" Value="计划"></Message>
        <Message Name="Order" Value="订单"></Message>
      </Language>
      <!--计划任务状态-->
      <Language Name="Beeant.Domain.Entities.Welfare.PlanTaskStatusType">
        <Message Name="Create" Value="新建"></Message>
        <Message Name="Wait" Value="等待审核"></Message>
        <Message Name="Pass" Value="通过"></Message>
        <Message Name="Reject" Value="拒绝"></Message>
      </Language>
      <!--角色-->
      <Language Name="Beeant.Domain.Entities.Welfare.WelfareRoleType">
        <Message Name="Staff" Value="普通员工"></Message>
        <Message Name="Salesman" Value="业务员"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           