<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--用户-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Management.UserEntity" ClassName="Beeant.Domain.Services.Management.UserDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountEntity"></Property>
          <Property Name="RoleAccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Authority.RoleAccountEntity"></Property>
          <Property Name="OwnerAccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Authority.OwnerAccountEntity"></Property>
          <Property Name="GroupAccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.GroupAccountEntity"></Property>
          <Property Name="AuditorAccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.AuditorAccountEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Management.UserEntity" ClassName="Beeant.Application.Services.Management.UserApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Management.UserEntity"></Property>
        </Instance>
     
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
