@{
    Layout = "_Layout.cshtml";
}
<div class="center">
    

<div class="dispoint">
    <div class="img">
        <img src="~/Images/dispoint.png" alt="停售"/>
    </div>
    <div class="mess">
        你访问的页面不存在
    </div>
</div>
</div>