<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--编辑器-->
      <Language Name="Beeant.Domain.Entities.Editor.FolderType">
        <Message Name="Image" Value="图片"></Message>
        <Message Name="Flash" Value="视频"></Message>
        <Message Name="Template" Value="模板"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           