@{
}
@model Beeant.Cloud.Site.Admin.Models.Wechat.WechatModel
<div class="wechatuser">
    <div class="mainten">
        <a href="/Home/Index"><div class="gohome"></div></a>
        <div class="totalcount">您微信公众号有<span class="red"></span>粉丝</div>
    </div>
    <div class="list">

    </div>
</div>

<script type="text/javascript" src="~/Scripts/wechat.js"></script>
