<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--采购单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="PurchaseItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity"></Property>
          <Property Name="PurchasePayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchasePayEntity"></Property>
          <Property Name="PurchaseAttachmentDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseAttachmentEntity"></Property>
          <Property Name="PurchaseExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseExpressEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Purchase.IPurchaseApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseApplicationSerivce,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IWorkflowApplicationService,Beeant.Domain.Entities.Purchase.PurchaseEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseWorkflowApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseEntity"></Property>
        </Instance>
        <!--采购单明细-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="InventoryDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Wms.InventoryEntity"></Property>
          <Property Name="ProductDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Product.ProductEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseItemApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseItemEntity"></Property>
        </Instance>
        <!--付款核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchasePayEntity" ClassName="Beeant.Domain.Services.Purchase.PurchasePayDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="AccountItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountItemEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchasePayEntity" ClassName="Beeant.Application.Services.Purchase.PurchasePayApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchasePayEntity"></Property>
        </Instance>
        <!--订单发票核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseInvoiceEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseInvoiceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseInvoiceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseInvoiceEntity"></Property>
        </Instance>
        <!--采购附件-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseAttachmentEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseAttachmentDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseAttachmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.AttachmentEntity"></Property>
          <Property Name="OrderExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderExpressEntity"></Property>
        </Instance>
        <!--采购快递-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseExpressEntity" ClassName="Beeant.Domain.Services.Purchase.PurchaseExpressDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Purchase.PurchaseExpressEntity" ClassName="Beeant.Application.Services.Purchase.PurchaseExpressApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Purchase.PurchaseExpressEntity"></Property>
          <Property Name="OrderExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderExpressEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
