<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--系统服务-->
        <Instance Name="Beeant.Application.Services.Sys.ITaskApplicationService" ClassName="Beeant.Application.Services.Sys.TaskApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService"></Property>
        </Instance>
        <!--站点激活-->
        <Instance Name="Beeant.Application.Services.Sys.ISiteAliveJobApplicationService" ClassName="Beeant.Application.Services.Sys.SiteAliveJobApplicationService,Beeant.Application.Services" >
        </Instance>
        <!--系统服务-->
        <Instance Name="Beeant.Application.Services.Sys.IEventEngineApplicationService" ClassName="Beeant.Application.Services.Sys.EventEngineApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
