@{

}
@model Beeant.Cloud.Site.Admin.Models.Tag.TagListModel
<div class="tag">
    <div class="mainten">
        <a href="/Home/Index"><div class="gohome"></div></a>
       
    </div>
    <div class="list">
      
    </div>

 
</div>

<div class="addcontent" style="display: none; padding: 0;">

    <div class="content" style="padding: 0 0 5px 0;">
        <input type="text" id="txtAdd" class="input"/>
    </div>
    <div class="ope" style="position: inherit;">
        <input type="button" class="cancel" id="btnCancel" value="取消" />
        <input type="button" class="save" id="btnSave" value="保存" />
    </div>
</div>
<div class="addbtnc">
    <div class="addbtn" id="btnAdd">+</div>
</div>

<script type="text/javascript" src="~/Scripts/plug/jquery.mobile.min.js"></script>
<script type="text/javascript" src="~/Scripts/tag.js"></script>