<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--标签组-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.TagGroupEntity" ClassName="Beeant.Domain.Services.Basedata.TagGroupDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.TagGroupEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.TagGroupEntity"></Property>
        </Instance>
        <!--标签-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.TagEntity" ClassName="Beeant.Domain.Services.Basedata.TagDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.TagEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.TagEntity"></Property>
        </Instance>
        <!--品牌-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.BrandEntity" ClassName="Beeant.Domain.Services.Basedata.BrandDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.BrandEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.BrandEntity"></Property>
        </Instance>
        <!--区域-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.DistrictEntity" ClassName="Beeant.Domain.Services.Basedata.DistrictDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.DistrictEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.DistrictEntity"></Property>
        </Instance>
        <!--运价模板-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.FreightEntity" ClassName="Beeant.Domain.Services.Basedata.FreightDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="CarryDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.CarryEntity"></Property>
          <Property Name="PostageDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.PostageEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.FreightEntity" ClassName="Beeant.Application.Services.Basedata.FreightApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.FreightEntity"></Property>
        </Instance>
        <!--运费地区-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.CarryEntity" ClassName="Beeant.Domain.Services.Basedata.CarryDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.CarryEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.CarryEntity"></Property>
        </Instance>
        <!--免邮地区-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.PostageEntity" ClassName="Beeant.Domain.Services.Basedata.PostageIDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.PostageIEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.PostageIEntity"></Property>
        </Instance>
        <!--配送站-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.DeliveryEntity" ClassName="Beeant.Domain.Services.Basedata.DeliveryDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DeliveryDistrictDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.DeliveryDistrictEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.DeliveryEntity" ClassName="Beeant.Application.Services.Basedata.DeliveryApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.DeliveryEntity"></Property>
        </Instance>
        <!--图册-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.AlbumEntity" ClassName="Beeant.Domain.Services.Basedata.AlbumDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Basedata.AlbumEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Basedata.AlbumEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
