<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--Welfare-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareEntity" ClassName="Beeant.Domain.Services.Welfare.WelfareDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.WelfareEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareEntity"></Property>
        </Instance>
        <!--福利产品-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.BenefitEntity" ClassName="Beeant.Domain.Services.Welfare.BenefitDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="PlanDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.BenefitEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.BenefitEntity"></Property>
        </Instance>

        <!--价格策略-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanPayEntity" ClassName="Beeant.Domain.Services.Welfare.PlanPayDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanPayEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanPayEntity"></Property>
        </Instance>
        <!--计划-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanEntity" ClassName="Beeant.Domain.Services.Welfare.PlanDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="PlanStaffDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanStaffEntity"></Property>
          <Property Name="PlanFlowDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanFlowEntity"></Property>
          <Property Name="PlanPayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanPayEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanEntity" ClassName="Beeant.Application.Services.Welfare.PlanApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanEntity"></Property>
        </Instance>
        <!--计划策略-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanPolicyEntity" ClassName="Beeant.Domain.Services.Welfare.PlanPolicyDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanPolicyEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanPolicyEntity"></Property>
        </Instance>
        <!--计划员工-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanStaffEntity" ClassName="Beeant.Domain.Services.Welfare.PlanStaffDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanStaffEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanStaffntity"></Property>
        </Instance>
        <!--计划任务-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanFlowEntity" ClassName="Beeant.Domain.Services.Welfare.PlanFlowDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanFlowEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanFlowEntity"></Property>
        </Instance>
        <!--计划任务-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanTaskEntity" ClassName="Beeant.Domain.Services.Welfare.PlanTaskDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="PlanDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanEntity"></Property>
          <Property Name="WelfareOrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareOrderEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.PlanTaskEntity" ClassName="Beeant.Application.Services.Welfare.PlanTaskApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.PlanTaskEntity"></Property>
        </Instance>
        <!--订单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareOrderEntity" ClassName="Beeant.Domain.Services.Welfare.WelfareOrderDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="OrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.WelfareOrderEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareOrderEntity"></Property>
        </Instance>
        <!--员工配置-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareAccountEntity" ClassName="Beeant.Domain.Services.Welfare.WelfareAccountDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
          <Property Name="StaffDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Hr.StaffEntity"></Property>
          <Property Name="AccountDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Account.AccountEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Welfare.WelfareAccountEntity" ClassName="Beeant.Application.Services.Welfare.WelfareAccountApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareAccountEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
