@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_FindPwLayout.cshtml";
}
@using Homedo.Domain.Entities.Finance
@using Homedo.Presentation.Mvc.Script
@using Winner.Persistence
@model Homedo.Presentation.Mvc.Center.Models.Home.PasswordModel
@section  styles{
@Styles.Render("~/Content/Home.css")
  
}
@section  scripts{
    @Scripts.Render("~/Scripts/Password.js")
    @Scripts.Render("/Scripts/Winner/Validator/Winner.Validator.js")
    <script type="text/javascript">
          $(document).ready(function() {
              var pass = new Password({
                  ValidateEntities:@(Html.ScriptValidator<AccountEntity>(SaveType.Modify, new[] { "Password" }).Gets())
              });
              pass.Initialize();
          });
    </script>
}
	<div class="content_wrap no_padding">
           <div class="pwbox1">
           	<div class="pwbox2">
            	<div class="process">
                    <div class="step_bg">
                        <span class="step1_bg step1_bg_blue"></span>
                        <span class="step2_bg step2_bg_blue"></span>
                        <span class="step3_bg step3_bg_gray"></span>
                        <span class="step4_bg step4_bg_gray"></span>
                    </div>
                    <div class="step_txt">
                        <span class="step1_txt txtcolor_active">填写账户名</span>
                        <span class="step2_txt txtcolor_active">验证身份</span>
                        <span class="step3_txt txtcolor">设置新密码</span>
                        <span class="step4_txt txtcolor">完成</span>
                    </div>
                </div>
                <div class="fill_info">
                	<div class="top_border">
                    	<div class="pro2_2_info">
                           <div class="result">
                           		<h5>验证邮件已发送成功</h5>
                                <h6>验证邮件24小时内有效，请尽快登录您的邮箱点击验证链接完成验证</h6>
                                <p><input type="button" class="sub_btn" value="查看验证邮件" /></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>  
           <div class="shadow"></div>
        </div>
