<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--词库-->
      <Model Name="Beeant.Domain.Entities.Search.WordEntity">
        <Property PropertyName="Name" Message="名字只必填而且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Original" Message="原词长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Pinyin" Message="拼音长度不能超过1000">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="次数必须而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Exist" Message="词已经存在"></Property>
        <Property PropertyName="RepeatNameInList" Message="集合中名称重复"></Property>
      </Model>
      <!--词库关联词-->
      <Model Name="Beeant.Domain.Entities.Search.SimilarEntity">
        <Property PropertyName="Name" Message="名字只必填而且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Word.Id" Message="词编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Count" Message="次数必须而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Exist" Message="相关词已经存在"></Property>
        <Property PropertyName="RepeatNameInList" Message="集合中名称重复"></Property>
      </Model>
      <!--关键字-->
      <Model Name="Beeant.Domain.Entities.Search.KeyEntity">
        <Property PropertyName="Source" Message="来源必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Ip" Message="Ip长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="InKeyStep" Message="相同IP关键字已经录入"></Property>
      </Model>
      <!--相关关键字-->
      <Model Name="Beeant.Domain.Entities.Search.RelateKeyEntity">
        <Property PropertyName="Source" Message="来源必填而且长度不能超过50">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="名字必填而且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="KeyName" Message="关键字必填而且长度不能超过100">
          <Validation RuleName="LengthRange" P0="1" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Ip" Message="Ip长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="InRelateKeyStep" Message="相同IP相关关键字已经录入"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>