.finder{ min-width:1003px; background:#fff; margin:0 auto;}
.finder img { border:none}
.finder .mainten{ float: left;padding-left: 200px;}
.finder .button{ margin-left: 5px; background: url("../Images/button.png") no-repeat scroll 0 0 transparent;border: medium none;color: #000000;font-size: 12px;font-weight: normal;height: 22px;width: 44px;text-align: center;}
.finder .left{ width: 200px;}
.finder .left li { list-style:none}
.finder .left a { color:#38a2d2; outline-style:none; text-decoration:none}
.finder .left a:hover { text-decoration:none; color:#f2963d}
.finder .left {float: left; width:200px; top:0; left:0;z-index: 10;}
.finder .left .sidebar{ text-align:right}
.finder .left .sidebar a { color:#38a2d2 }
.finder .left .sidebar a:hover { text-decoration:none; color:#f2963d}
.finder .left .sidebar li { padding-right:20px } 
.finder .right{float: left;width:1002px; border:#e0e0e0 1px solid;}
.finder .right .images{ float: left;}
.finder .content{float: left;width:100%; }
.finder .content .images{ float: left;width:100%;}
.finder .top{ float: left;padding-left: 200px;width: 1000px; position: relative;}
.finder .top .uploadercontent{ float: left; width: 100%;}
.finder .top input{ float: left;}
.finder .uploadercontent { float: left;width: 500px;}
.finder .uploadercontent input{ float: left;}
.finder .top input { float: left;}
.finder .rightmenu { min-width:50px;}
.finder .element{ float: left; padding:30px; margin-left: 3px;margin-top: 2px;display:inline;overflow: hidden;cursor:pointer; }
.finder .element .font{ text-align: center;height: 30px;line-height: 25px;}
.finder .short{ width: 120px;}
.finder .long{ width: 300px;}
.finder .over img, .out img,.select img { width:120px;height:150px;}
.finder .over iframe, .out iframe,.select iframe { width:300px;height:200px;background: #ffffff;}
.finder .select{float:left; background:#00FF00; cursor:pointer;}
.finder .out{float:left; background:#CCCCCC;}
.finder .over{float:left; background:#0066FF; cursor:pointer;}
.finder .selectbtn{display: block;width:80px;text-align: center; background:#CCCCCC; cursor:pointer;border: 1px #404040 solid;}
.finder .browsebtn{display: block; width:80px; text-align: center;background:#CCCCCC; cursor:pointer;border: 1px #404040 solid;}