<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--采购单-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="PurchaseEntity" SetTableName="t_Purchase_Purchase" GetTableName="t_Purchase_Purchase"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" ></Property>
          <Property PropertyName="Storehouse.Id" FieldName="StorehouseId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="PurchaseDate" FieldName="PurchaseDate" ></Property>
          <Property PropertyName="DeliveryDate" FieldName="DeliveryDate" ></Property>
          <Property PropertyName="TotalAmount" FieldName="TotalAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="PayAmount" FieldName="PayAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="InvoiceAmount" FieldName="InvoiceAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="OriginalPurchase.Id" FieldName="OriginalPurchaseId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Status" FieldName="Status"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="PurchaseItems">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseItemEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Purchase.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Pays">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PayEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Purchase.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Invoices">
            <MapObject Name="Beeant.Domain.Entities.Purchase.InvoiceEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Purchase.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Attachments">
            <MapObject Name="Beeant.Domain.Entities.Purchase.AttachmentEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Purchase.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Expresses">
            <MapObject Name="Beeant.Domain.Entities.Purchase.ExpressEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Purchase.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Storehouse">
            <MapObject Name="Beeant.Domain.Entities.Wms.StorehouseEntity,Beeant.Domain.Entities" ObjectProperty="Storehouse.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="OriginalPurchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="OriginalPurchase.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--采购单明细-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.PurchaseItemEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="PurchaseItemEntity" SetTableName="t_Purchase_PurchaseItem" GetTableName="t_Purchase_PurchaseItem"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Purchase.Id" FieldName="PurchaseId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Price" FieldName="Price" ></Property>
          <Property PropertyName="Count" FieldName="Count" ></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Purchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Purchase.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--付款核销-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.PayEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="Purchase.PayEntity" SetTableName="t_Purchase_Pay" GetTableName="t_Purchase_Pay"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Purchase.Id" FieldName="PurchaseId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="Payout.Id" FieldName="PayoutId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsStatus" FieldName="IsStatus" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Purchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Purchase.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Payout">
            <MapObject Name="Beeant.Domain.Entities.Finance.PayoutEntity,Beeant.Domain.Entities" ObjectProperty="Payout.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--采购发票核销-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.InvoiceEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="Purchase.InvoiceEntity" SetTableName="t_Purchase_Invoice" GetTableName="t_Purchase_Invoice"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Purchase.Id" FieldName="PurchaseId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="Invoicein.Id" FieldName="InvoiceinId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsStatus" FieldName="IsStatus" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Purchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Purchase.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Invoicein">
            <MapObject Name="Beeant.Domain.Entities.Finance.InvoiceinEntity,Beeant.Domain.Entities" ObjectProperty="Invoicein.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--采购附件-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.AttachmentEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="Purchase.AttachmentEntity" SetTableName="t_Purchase_Attachment" GetTableName="t_Purchase_Attachment"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Purchase.Id" FieldName="PurchaseId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="FileName" FieldName="FileName"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Purchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Purchase.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单快递-->
        <Object ObjectName="Beeant.Domain.Entities.Purchase.ExpressEntity,Beeant.Domain.Entities" GetDataBase="BeeantPurchaseRead" SetDataBase="BeeantPurchaseWrite" NickObjectName="Purchase.ExpressEntity" SetTableName="t_Purchase_Express" GetTableName="t_Purchase_Express"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Purchase.Id" FieldName="PurchaseId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Number" FieldName="Number"></Property>
          <Property PropertyName="Recipient" FieldName="Recipient" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="Postcode" FieldName="Postcode" ></Property>
          <Property PropertyName="Address" FieldName="Address" ></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Purchase">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Purchase.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>