<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--代理-->
      <Object ObjectName="Beeant.Domain.Entities.Agent.AgentEntity,Beeant.Domain.Entities" GetDataBase="BeeantAgentRead" SetDataBase="BeeantAgentWrite" NickObjectName="AgentEntity" SetTableName="t_Agent_Agent" GetTableName="t_Agent_Agent"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
			<Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
			<Property PropertyName="Account.Id" FieldName="AccountId" ></Property>
			<Property PropertyName="Name" FieldName="Name" ></Property>
			<Property PropertyName="Setting" FieldName="Setting" ></Property>
			<Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
			<Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
			<Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
			<Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
			<Property PropertyName="Mark" FieldName="Mark"></Property>
			<Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
			<Property PropertyName="Account">
				<MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
				</MapObject>
			</Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>