<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--站点-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="Crm.CrmEntity" SetTableName="t_Crm_Crm" GetTableName="t_Crm_Crm"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0" IsCache="true">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="ExpireDate" FieldName="ExpireDate" ></Property>
          <Property PropertyName="Setting" FieldName="Setting" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        
        </Object>
        <!--客户信息-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="CustomerEntity" SetTableName="t_Crm_Customer" GetTableName="t_Crm_Customer"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Staff.Id" FieldName="StaffId" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Type.Id" FieldName="TypeId" ></Property>
          <Property PropertyName="Channel.Id" FieldName="ChannelId" ></Property>
          <Property PropertyName="Linkman" FieldName="Linkman" ></Property>
          <Property PropertyName="Gender" FieldName="Gender" ></Property>
          <Property PropertyName="Qq" FieldName="Qq" ></Property>
          <Property PropertyName="Weixin" FieldName="Weixin" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="Telephone" FieldName="Telephone" ></Property>
          <Property PropertyName="Email" FieldName="Email" ></Property>
          <Property PropertyName="RemindNoteDate" FieldName="RemindNoteDate" ></Property>
          <Property PropertyName="Address" FieldName="Address" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Type">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerTypeEntity,Beeant.Domain.Entities" ObjectProperty="Type.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Channel">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerChannelEntity,Beeant.Domain.Entities" ObjectProperty="Channel.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="CustomerNotes">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerNoteEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Customer.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="Staff">
            <MapObject Name="Beeant.Domain.Entities.Hr.StaffEntity,Beeant.Domain.Entities" ObjectProperty="Staff.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--客户类型信息-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.CustomerTypeEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="CustomerTypeEntity" SetTableName="t_Crm_CustomerType" GetTableName="t_Crm_CustomerType"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Customers">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Type.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--客户渠道信息-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.CustomerChannelEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="CustomerChannelEntity" SetTableName="t_Crm_CustomerChannel" GetTableName="t_Crm_CustomerChannel"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Customers">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Channel.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--维护记录-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.CustomerNoteEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="CustomerNoteEntity" SetTableName="t_Crm_CustomerNote" GetTableName="t_Crm_CustomerNote"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Customer.Id" FieldName="CustomerId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="Content" FieldName="Content" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Customer">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" ObjectProperty="Customer.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--合同-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.ContractEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="Crm.ContractEntity" SetTableName="t_Crm_Contract" GetTableName="t_Crm_Contract"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Customer.Id" FieldName="CustomerId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="StartDate" FieldName="StartDate" ></Property>
          <Property PropertyName="EndDate" FieldName="EndDate" ></Property>
          <Property PropertyName="Content" FieldName="Content"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Customer">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" ObjectProperty="Customer.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--订单状态-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.OrderStatusEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="OrderStatusEntity" SetTableName="t_Crm_OrderStatus" GetTableName="t_Crm_OrderStatus"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
       <!--订单-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.OrderEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="Crm.OrderEntity" SetTableName="t_Crm_Order" GetTableName="t_Crm_Order"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Customer.Id" FieldName="CustomerId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="Status.Id" FieldName="StatusId" ></Property>
          <Property PropertyName="DeliveryDate" FieldName="DeliveryDate" ></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="Number" FieldName="Number" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Status">
            <MapObject Name="Beeant.Domain.Entities.Crm.OrderStatusEntity,Beeant.Domain.Entities" ObjectProperty="Status.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Customer">
            <MapObject Name="Beeant.Domain.Entities.Crm.CustomerEntity,Beeant.Domain.Entities" ObjectProperty="Customer.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
        <!--订单明细-->
        <Object ObjectName="Beeant.Domain.Entities.Crm.OrderItemEntity,Beeant.Domain.Entities" GetDataBase="BeeantCrmRead" SetDataBase="BeeantCrmWrite" NickObjectName="Crm.OrderItem" SetTableName="t_Crm_OrderItem" GetTableName="t_Crm_OrderItem"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Contract.Id" FieldName="ContractId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Crm.Id" FieldName="CrmId" OperatorMode="Add|Read" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Price" FieldName="Price" ></Property>
          <Property PropertyName="Count" FieldName="Count" ></Property>
          <Property PropertyName="DeliveryNumber" FieldName="DeliveryNumber" ></Property>
          <Property PropertyName="DeliveryDate" FieldName="DeliveryDate" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Crm.ContractEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Crm">
            <MapObject Name="Beeant.Domain.Entities.Crm.CrmEntity,Beeant.Domain.Entities" ObjectProperty="Crm.Id" MapObjectProperty="Id"   MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
        </Object>
     
    </Map>
    </XmlOrm>
  </Persistence>
</configuration>