<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--货源状态-->
      <Language Name="Beeant.Domain.Entities.Crm.ReadCustomerType">
        <Message Name="All" Value="全部"></Message>
        <Message Name="Department" Value="本部门"></Message>
        <Message Name="Self" Value="自己"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           