.dialog{ border: 3px solid #56829D;overflow: hidden;width: 425px;z-index: 99999;}
.dialog .top{ background: none repeat scroll 0 0 #E2F3FB;border-bottom: 1px solid #56829D;font-size: 14px; height: 36px;line-height: 36px;width: 100%;}
.dialog .top .title{float: left; width: 400px;text-align: center;font-size: 14px;font-weight: bold;}
.dialog .top .close{float:right;  margin:2px; display:inline; background:url(../Images/close.png) no-repeat; width:20px; height:21px; cursor:pointer;}
.dialog .content{background:#FFFFFF;padding: 20px;}
.dialog .content .one{width: 380px; background:#FFFFFF;}
.dialog .content .one .subject{ width: 100%;font-size:12px;color:#000000;font-weight: bold;text-align: center;}
.dialog .content .one .detail{padding-left: 20px;padding-top: 5px; font-size: 12px;color:#000000;}
.dialog .buttom{background: none repeat scroll 0 0 #E2F3FB;border-top: 1px solid #56829D;font-size: 14px; height: 36px;line-height: 36px;width: 100%;text-align: center;}
.dialog .buttom .sure{  width:44px; height:22px; background:url(../Images/sure.png) no-repeat; cursor:pointer;border: 0; margin-top: 7px;}
.dialogmask{ position: absolute;opacity: 0.3;filter: alpha(opacity=30);z-index: 9999;background: #000;top: 0;left: 0;width: 100%;height: 100%;}