@{
    Layout = "~/Views/Shared/_EnDefaultLayout.cshtml";
}
@model Beeant.Cloud.Site.Website.Models.Home.HomeModel
<div class="certificate center">
    
</div>
@section bottom
{

    <script type="text/javascript" src="~/Scripts/Certificate.js"></script>
}
