<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--市场-->
        <Object ObjectName="Beeant.Domain.Entities.Market.MarketEntity,Beeant.Domain.Entities" GetDataBase="BeeantMarketRead" SetDataBase="BeeantMarketWrite" NickObjectName="Market.MarketEntity" SetTableName="t_Market_Market" GetTableName="t_Market_Market"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0" IsCache="true">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="City" FieldName="City" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--商家-->
        <Object ObjectName="Beeant.Domain.Entities.Market.VenderEntity,Beeant.Domain.Entities" GetDataBase="BeeantMarketRead" SetDataBase="BeeantMarketWrite" NickObjectName="Market.CatalogEntity" SetTableName="t_Market_Vender" GetTableName="t_Market_Vender"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Market.Id" FieldName="MarketId"></Property>
          <Property PropertyName="Site.Id" FieldName="MarketId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Market">
            <MapObject Name="Beeant.Domain.Entities.Market.MarketEntity,Beeant.Domain.Entities" ObjectProperty="Market.Id" MapObjectProperty="Id"   MapType="OneToOne" >
            </MapObject>
          </Property>
          <Property PropertyName="Site">
            <MapObject Name="Beeant.Domain.Entities.Site.SiteEntity,Beeant.Domain.Entities" ObjectProperty="Site.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne" >
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>