<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--供应商信息-->
        <Object ObjectName="Beeant.Domain.Entities.Supplier.SupplierEntity,Beeant.Domain.Entities" GetDataBase="BeeantSupplierRead" SetDataBase="BeeantSupplierWrite" NickObjectName="SupplierEntity" SetTableName="t_Supplier_Supplier" GetTableName="t_Supplier_Supplier"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Province" FieldName="Province" ></Property>
          <Property PropertyName="City" FieldName="City" ></Property>
          <Property PropertyName="County" FieldName="County" ></Property>
          <Property PropertyName="Postcode" FieldName="Postcode" ></Property>
          <Property PropertyName="Linkman" FieldName="Linkman" ></Property>
          <Property PropertyName="Qq" FieldName="Qq" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="Telephone" FieldName="Telephone" ></Property>
          <Property PropertyName="Fax" FieldName="Fax" ></Property>
          <Property PropertyName="WebUrl" FieldName="WebUrl" ></Property>
          <Property PropertyName="BusinessRange" FieldName="BusinessRange" ></Property>
          <Property PropertyName="BusinessBrand" FieldName="BusinessBrand" ></Property>
          <Property PropertyName="SalesRange" FieldName="SalesRange" ></Property>
          <Property PropertyName="ServiceTelephone" FieldName="ServiceTelephone" ></Property>
          <Property PropertyName="ServiceAddress" FieldName="ServiceAddress" ></Property>
          <Property PropertyName="Receiver" FieldName="Receiver" ></Property>
          <Property PropertyName="ReceiverTelephone" FieldName="ReceiverTelephone" ></Property>
          <Property PropertyName="Address" FieldName="Address" ></Property>
          <Property PropertyName="Email" FieldName="Email" ></Property>
          <Property PropertyName="Service.Id" FieldName="ServiceId" ></Property>
          <Property PropertyName="Status" FieldName="Status" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Qualifications">
            <MapObject Name="Beeant.Domain.Entities.Supplier.QualificationEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Supplier.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Certifications">
            <MapObject Name="Beeant.Domain.Entities.Supplier.CertificationEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Supplier.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Contracts">
            <MapObject Name="Beeant.Domain.Entities.Supplier.ContractEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Supplier.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Service">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="Service.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>        
        <!--供应商资质表-->
        <Object ObjectName="Beeant.Domain.Entities.Supplier.QualificationEntity,Beeant.Domain.Entities" GetDataBase="BeeantSupplierRead" SetDataBase="BeeantSupplierWrite" NickObjectName="QualificationEntity" SetTableName="t_Supplier_Qualification" GetTableName="t_Supplier_Qualification"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Supplier.Id" FieldName="SupplierId" ></Property>
          <Property PropertyName="BusinessLicense" FieldName="BusinessLicense" ></Property>
          <Property PropertyName="AgencyLicense" FieldName="AgencyLicense" ></Property>
          <Property PropertyName="BankLicense" FieldName="BankLicense" ></Property>
          <Property PropertyName="TaxLicense" FieldName="TaxLicense" ></Property>
          <Property PropertyName="BrandAuthorization" FieldName="BrandAuthorization" ></Property>
          <Property PropertyName="TrademarkLicense" FieldName="TrademarkLicense" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Supplier">
            <MapObject Name="Beeant.Domain.Entities.Supplier.SupplierEntity,Beeant.Domain.Entities" ObjectProperty="Supplier.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--供应商其他证书表-->
        <Object ObjectName="Beeant.Domain.Entities.Supplier.CertificationEntity,Beeant.Domain.Entities" GetDataBase="BeeantSupplierRead" SetDataBase="BeeantSupplierWrite" NickObjectName="CertificationEntity" SetTableName="t_Supplier_Certification" GetTableName="t_Supplier_Certification"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Supplier.Id" FieldName="SupplierId" ></Property>
          <Property PropertyName="Certification" FieldName="Certification" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Supplier">
            <MapObject Name="Beeant.Domain.Entities.Supplier.SupplierEntity,Beeant.Domain.Entities" ObjectProperty="Supplier.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--供应商合同信息-->
        <Object ObjectName="Beeant.Domain.Entities.Supplier.ContractEntity,Beeant.Domain.Entities" GetDataBase="BeeantSupplierRead" SetDataBase="BeeantSupplierWrite" NickObjectName="ContractEntity" SetTableName="t_Supplier_Contract" GetTableName="t_Supplier_Contract"  SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id" FieldName="Id" Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Supplier.Id" FieldName="SupplierId"></Property>
          <Property PropertyName="SettlementType" FieldName="SettlementType"></Property>
          <Property PropertyName="PaymentType" FieldName="PaymentType"></Property>
          <Property PropertyName="DispatchType" FieldName="DispatchType"></Property>
          <Property PropertyName="BillType" FieldName="BillType"></Property>
          <Property PropertyName="StartDate" FieldName="StartDate"></Property>
          <Property PropertyName="EndDate" FieldName="EndDate"></Property>
          <Property PropertyName="Rebate" FieldName="Rebate"></Property>
          <Property PropertyName="Attachment" FieldName="Attachment"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Supplier">
            <MapObject Name="Beeant.Domain.Entities.Supplier.SupplierEntity,Beeant.Domain.Entities" ObjectProperty="Supplier.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>