<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>

        <!--收藏-->
        <Object ObjectName="Beeant.Domain.Entities.Cart.AttentionEntity,Beeant.Domain.Entities" GetDataBase="BeeantCartRead" SetDataBase="BeeantCartWrite" NickObjectName="AttentionEntity" SetTableName="t_Cart_Attention" GetTableName="t_Cart_Attention"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Price" FieldName="Price"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--购物车-->
        <Object ObjectName="Beeant.Domain.Entities.Cart.ShopcartEntity,Beeant.Domain.Entities" GetDataBase="BeeantCartRead" SetDataBase="BeeantCartWrite" NickObjectName="ShopcartEntity" SetTableName="t_Cart_Shopcart" GetTableName="t_Cart_Shopcart"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Count" FieldName="Count" ></Property>
          <Property PropertyName="Price" FieldName="Price"></Property>
	        <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
	        <Property PropertyName="Product">
				    <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne">
				    </MapObject>
			    </Property>
		      <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
       
		  <!--购物车标签-->
		  <Object ObjectName="Beeant.Domain.Entities.Cart.ShopcartTagEntity,Beeant.Domain.Entities" GetDataBase="BeeantCartRead" SetDataBase="BeeantCartWrite" NickObjectName="ShopcartTag" SetTableName="t_Cart_ShopcartTag" GetTableName="t_Cart_ShopcartTag"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
			  <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
			  <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
			  <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
			  <Property PropertyName="Mark" FieldName="Mark"></Property>
			  <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
			  <Property PropertyName="Account">
          <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsRemote="true" MapType="OneToOne">
          </MapObject>
        </Property>
		  </Object>
	  </Map>
    </XmlOrm>
  </Persistence>
</configuration>