<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--类目信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.CategoryEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="CategoryEntity" SetTableName="t_Product_Category" GetTableName="t_Product_Category"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Parent.Id" FieldName="ParentId"></Property>
          <Property PropertyName="Pinyin" FieldName="Pinyin" ></Property>
          <Property PropertyName="Initial" FieldName="Initial" ></Property>
          <Property PropertyName="IsPublish" FieldName="IsPublish" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="Url" FieldName="Url" ></Property>
          <Property PropertyName="ImageCount" FieldName="ImageCount" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="CategoryProperties">
            <MapObject Name="Beeant.Domain.Entities.Product.PropertyEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Category.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Children">
            <MapObject Name="Beeant.Domain.Entities.Product.CategoryEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Parent.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Parent">
            <MapObject Name="Beeant.Domain.Entities.Product.CategoryEntity,Beeant.Domain.Entities" ObjectProperty="Parent.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--属性信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.PropertyEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="Product.PropertyEntity" SetTableName="t_Product_Property" GetTableName="t_Product_Property"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Category.Id" FieldName="CategoryId"></Property>
          <Property PropertyName="Type" FieldName="Type" ></Property>
          <Property PropertyName="IsSku" FieldName="IsSku" ></Property>
		      <Property PropertyName="IsAllowEdit" FieldName="IsAllowEdit" ></Property>
		      <Property PropertyName="SearchType" FieldName="SearchType" ></Property>
          <Property PropertyName="IsUsed" FieldName="IsUsed" ></Property>
          <Property PropertyName="Message" FieldName="Message" ></Property>
          <Property PropertyName="CustomCount" FieldName="CustomCount" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="Value" FieldName="Value" ></Property>
          <Property PropertyName="SearchValue" FieldName="SearchValue" ></Property>
          <Property PropertyName="Tag" FieldName="Tag" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="PropertyRules">
            <MapObject Name="Beeant.Domain.Entities.Product.PropertyRuleEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Property.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Category">
            <MapObject Name="Beeant.Domain.Entities.Product.CategoryEntity,Beeant.Domain.Entities" ObjectProperty="Category.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--规则信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.RuleEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="RuleEntity" SetTableName="t_Product_Rule" GetTableName="t_Product_Rule"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Pattern" FieldName="Pattern"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="IsRange" FieldName="IsRange" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="PropertyRules">
            <MapObject Name="Beeant.Domain.Entities.Product.PropertyRuleEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Rule.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--属性规则信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.PropertyRuleEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="PropertyRuleEntity" SetTableName="t_Product_PropertyRule" GetTableName="t_Product_PropertyRule"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Rule.Id" FieldName="RuleId" ></Property>
          <Property PropertyName="Property.Id" FieldName="PropertyId"></Property>
          <Property PropertyName="Paramter" FieldName="Paramter" ></Property>
          <Property PropertyName="Type" FieldName="Type" ></Property>
          <Property PropertyName="Message" FieldName="Message" ></Property>
          <Property PropertyName="IsMultiline" FieldName="IsMultiline" ></Property>
          <Property PropertyName="IsIgnoreCase" FieldName="IsIgnoreCase" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Property">
            <MapObject Name="Beeant.Domain.Entities.Product.PropertyEntity,Beeant.Domain.Entities" ObjectProperty="Property.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Rule">
            <MapObject Name="Beeant.Domain.Entities.Product.RuleEntity,Beeant.Domain.Entities" ObjectProperty="Rule.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--商品信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="GoodsEntity" SetTableName="t_Product_Goods" GetTableName="t_Product_Goods"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Category.Id" FieldName="CategoryId" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="IsSales" FieldName="IsSales" ></Property>
          <Property PropertyName="UnusedStatus" FieldName="UnusedStatus" ></Property>
          <Property PropertyName="Sequence" FieldName="Sequence" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Freight.Id" FieldName="FreightId"></Property>
          <Property PropertyName="Tag" FieldName="Tag"></Property>
          <Property PropertyName="Price" FieldName="Price"></Property>
          <Property PropertyName="Cost" FieldName="Cost"></Property>
		      <Property PropertyName="Count" FieldName="Count"></Property>
		      <Property PropertyName="OrderMinCount" FieldName="OrderMinCount"></Property>
		      <Property PropertyName="OrderStepCount" FieldName="OrderStepCount"></Property>
          <Property PropertyName="VisitCount" FieldName="VisitCount"></Property>
          <Property PropertyName="AttentionCount" FieldName="AttentionCount"></Property>
          <Property PropertyName="SalesCount" FieldName="SalesCount"></Property>
          <Property PropertyName="DepositRate" FieldName="DepositRate"></Property>
          <Property PropertyName="IsCustom" FieldName="IsCustom"></Property>
          <Property PropertyName="IsReturn" FieldName="IsReturn"></Property>
          <Property PropertyName="PublishTime" FieldName="PublishTime" ></Property>
          <Property PropertyName="DataId" FieldName="DataId" ></Property>
          <Property PropertyName="PayTypes" FieldName="PayTypes"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Category">
            <MapObject Name="Beeant.Domain.Entities.Product.CategoryEntity,Beeant.Domain.Entities" ObjectProperty="Category.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="GoodsProperties">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsPropertyEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Goods.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="GoodsImages">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsImageEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Goods.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="GoodsDetails">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsDetailEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Goods.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Platforms">
            <MapObject Name="Beeant.Domain.Entities.Product.PlatformEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Goods.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Products">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Goods.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Freight">
            <MapObject Name="Beeant.Domain.Entities.Basedata.FreightEntity,Beeant.Domain.Entities" ObjectProperty="Freight.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--产品信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="ProductEntity" SetTableName="t_Product_Product" GetTableName="t_Product_Product"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Price" FieldName="Price"></Property>
          <Property PropertyName="Cost" FieldName="Cost"></Property>
          <Property PropertyName="DepositRate" FieldName="DepositRate"></Property>
          <Property PropertyName="Count" FieldName="Count"></Property>
          <Property PropertyName="Sku" FieldName="Sku"></Property>
          <Property PropertyName="OrderMinCount" FieldName="OrderMinCount"></Property>
          <Property PropertyName="OrderStepCount" FieldName="OrderStepCount"></Property>
          <Property PropertyName="VisitCount" FieldName="VisitCount"></Property>
          <Property PropertyName="AttentionCount" FieldName="AttentionCount"></Property>
          <Property PropertyName="SalesCount" FieldName="SalesCount"></Property>
          <Property PropertyName="IsSales" FieldName="IsSales"></Property>
          <Property PropertyName="IsCustom" FieldName="IsCustom"></Property>
          <Property PropertyName="IsReturn" FieldName="IsReturn"></Property>
		      <Property PropertyName="FileName" FieldName="FileName"></Property>
          <Property PropertyName="DataId" FieldName="DataId" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Inventories">
            <MapObject Name="Beeant.Domain.Entities.Wms.InventoryEntity,Beeant.Domain.Entities" ObjectProperty="Id" IsRemote="true" MapObjectProperty="Product.Id" MapType="OneToMany">
            </MapObject>
          </Property>
		    	<Property PropertyName="GoodsProperties">
				<MapObject Name="Beeant.Domain.Entities.Product.GoodsPropertyEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Product.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"   MapType="OneToMany">
				</MapObject>
			</Property>
			    <Property PropertyName="GoodsDetail">
				<MapObject Name="Beeant.Domain.Entities.Product.GoodsDetailEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Product.Id"   MapType="OneToOne">
				</MapObject>
			</Property>
          <Property PropertyName="Promotions">
            <MapObject Name="Beeant.Domain.Entities.Promotion.PromotionEntity,Beeant.Domain.Entities" ObjectProperty="Id" IsRemote="true"  MapObjectProperty="Product.Id"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--商品图片信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.GoodsImageEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="GoodsImageEntity" SetTableName="t_Product_GoodsImage" GetTableName="t_Product_GoodsImage"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId" ></Property>
          <Property PropertyName="FileName" FieldName="FileName"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--商品详情页信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.GoodsDetailEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="GoodsDetailEntity" SetTableName="t_Product_GoodsDetail" GetTableName="t_Product_GoodsDetail"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Detail" FieldName="Detail"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--商品属性信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.GoodsPropertyEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="GoodsPropertyEntity" SetTableName="t_Product_GoodsProperty" GetTableName="t_Product_GoodsProperty"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId" ></Property>
          <Property PropertyName="Property.Id" FieldName="PropertyId" ></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Value" FieldName="Value"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Property">
            <MapObject Name="Beeant.Domain.Entities.Product.PropertyEntity,Beeant.Domain.Entities" ObjectProperty="Property.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--商品平台同步信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.PlatformEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="PlatformEntity" SetTableName="t_Product_Platform" GetTableName="t_Product_Platform"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="DataId" FieldName="DataId" ></Property>
          <Property PropertyName="SynchTime" FieldName="SynchTime" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
	    	
        <!--商品点评-->
	      <Object ObjectName="Beeant.Domain.Entities.Product.CommentEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="CommentEntity" SetTableName="t_Product_Comment" GetTableName="t_Product_Comment"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
			  <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
			  <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Name" FieldName="Name" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Detail" FieldName="Detail" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
			  <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
			  <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
			  <Property PropertyName="Mark" FieldName="Mark"></Property>
			  <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
			  <Property PropertyName="Account">
				   <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
				   </MapObject>
			  </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
		  </Object>
	      <!--商品咨询信息-->
        <Object ObjectName="Beeant.Domain.Entities.Product.InqueryEntity,Beeant.Domain.Entities" GetDataBase="BeeantProductRead" SetDataBase="BeeantProductWrite" NickObjectName="InqueryEntity" SetTableName="t_Product_Inquery" GetTableName="t_Product_Inquery"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Goods.Id" FieldName="GoodsId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Tag" FieldName="Tag"></Property>
          <Property PropertyName="Question" FieldName="Question" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Answer" FieldName="Answer" ></Property>
          <Property PropertyName="AnswerTime" FieldName="AnswerTime" ></Property>
          <Property PropertyName="IsReply" FieldName="IsReply" ></Property>
          <Property PropertyName="IsShow" FieldName="IsShow" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Goods">
            <MapObject Name="Beeant.Domain.Entities.Product.GoodsEntity,Beeant.Domain.Entities" ObjectProperty="Goods.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

	  </Map>
    </XmlOrm>
  </Persistence>
</configuration>