<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlDataBase>
      <!--Agent-->
      <Info Name="BeeantAccountRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantAccountWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantAccountWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Agent-->
      <Info Name="BeeantAgentRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantAgentWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantAgentWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Authority-->
      <Info Name="BeeantAuthorityRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantAuthorityWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantAuthorityWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Basedata-->
      <Info Name="BeeantBasedataRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantBasedataWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantBasedataWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Cart-->
      <Info Name="BeeantCartRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantCartWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantCartWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Cms-->
      <Info Name="BeeantCmsRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantCmsWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantCmsWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Crm-->
      <Info Name="BeeantCrmRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantCrmWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantCrmWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Editor-->
      <Info Name="BeeantEditorRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantEditorWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantEditorWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Finance-->
      <Info Name="BeeantFinanceRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantFinanceWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantFinanceWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Gis-->
      <Info Name="BeeantGisRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantGisWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantGisWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Hr-->
      <Info Name="BeeantHrRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantHrWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantHrWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Log-->
      <Info Name="BeeantLogRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantLogWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantLogWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Member-->
      <Info Name="BeeantMemberRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantMemberWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantMemberWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Merchant-->
      <Info Name="BeeantMerchantRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantMerchantWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantMerchantWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
     
      <!--Order-->
      <Info Name="BeeantOrderRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantOrderWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantOrderWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Product-->
      <Info Name="BeeantProductRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantProductWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantProductWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Promotion-->
      <Info Name="BeeantPromotionRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantPromotionWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantPromotionWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Purchase-->
      <Info Name="BeeantPurchaseRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantPurchaseWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantPurchaseWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Search-->
      <Info Name="BeeantSearchRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantSearchWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantSearchWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Security-->
      <Info Name="BeeantSecurityRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantSecurityWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantSecurityWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Supplier-->
      <Info Name="BeeantSupplierRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantSupplierWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantSupplierWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Sys-->
      <Info Name="BeeantSysRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantSysWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantSysWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Management-->
      <Info Name="BeeantManagementRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantManagementWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantManagementWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Wms-->
      <Info Name="BeeantWmsRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantWmsWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantWmsWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Workflow-->
      <Info Name="BeeantWorkflowRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantWorkflowWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantWorkflowWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Datacube-->
      <Info Name="BeeantDatacubeRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantDatacubeWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantDatacubeWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Site-->
      <Info Name="BeeantSiteRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantSiteWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantSiteWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--Market-->
      <Info Name="BeeantMarketRead" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" CheckAlivePeriod="30000" GetFailoverName="BeeantMarketWrite" IsGetLoadBalance="false"></Info>
      <Info Name="BeeantMarketWrite" ConnnectString="server=.\SQL2016;uid=sa;pwd=1;database=Beeant;Pooling=true;" ></Info>
      <!--                                 Report                               -->
    
    </XmlDataBase>
  </Persistence>
</configuration>