<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--会员信息-->
      <Model Name="Beeant.Domain.Entities.Member.MemberEntity">
        <Property PropertyName="Nickname" Message="昵称长度不能超过20">
          <Validation RuleName="LengthRange" P0="0" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别长度不能超过2">
          <Validation RuleName="LengthRange" P0="0" P1="2" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Birthday" Message="生日必须为日期格式">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="IdCardNumber" Message="身份证号码格式不正确">
          <Validation RuleName="CardID" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址长度不能超过120">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postal" Message="邮政编码长度不能超过6">
          <Validation RuleName="LengthRange" P0="0" P1="6" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="HeadUrl" Message="头像扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="500" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp||" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="HeadUrlByte" Message="头像大小必须在300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="头像大小必须在300KB"></Validation>
        </Property>
        <Property PropertyName="Agent.Id" Message="集成商编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="UnUsed" Message="会员被禁用"></Property>
        <Property PropertyName="AccountHasSupplier" Message="该账户已经被其它会员占用"></Property>
        <Property PropertyName="OpenAccountNotAllowRemove" Message="已经开户的会员不能删除"></Property>
      </Model>
      <!--会员地址-->
      <Model Name="Beeant.Domain.Entities.Member.AddressEntity">
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必须提供">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Province" Message="身份必须提供">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="City" Message="城市必须提供">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="County" Message="县必须提供">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="地址标签限八字以内">
          <Validation RuleName="LengthRange" P0="0" P1="8" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Company" Message="公司名称长度不能超过80">
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Email" Message="邮箱要符合邮箱格式">
          <Validation RuleName="Email" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="LengthRange" P0="0" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过10">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Recipient" Message="接收人长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile"  Message="手机号码要符合号码样式">
          <Validation RuleName="Length" P0="11" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Mobile" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="接收地址长度不能超过150个字符">
          <Validation RuleName="LengthRange" P0="1" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--会员发票-->
      <Model Name="Beeant.Domain.Entities.Member.InvoiceEntity">
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add"></Validation>
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Title" Message="发票抬头必填且不能超过50个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Content" Message="发票内容不能超过150个字符">
          <Validation RuleName="LengthRange" P0="1" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Type" Message="发票类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="TypeName" Message="发票类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="GeneralType" Message="开票类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="GeneralTypeName" Message="开票类型必选">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Recipient" Message="接收人长度不能超过50个字符">
          <Validation RuleName="LengthRange" P0="0" P1="50" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码必须符合电话号码格式">
          <Validation RuleName="LengthRange" P0="0" P1="11" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="接收地址长度不能超过150个字符">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过10">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
     
      <!--优惠券-->
      <Model Name="Beeant.Domain.Entities.Member.CouponEntity">
        <Property PropertyName="Account.Id" Message="账户错误">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Couponer.Id" Message="优惠券模板必填">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Name" Message="优惠券名称必须而且长度不能超过120个字符">
          <Validation RuleName="LengthRange"  P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="优惠券备注长度不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Code" Message="优惠券密码长度不能超过100个字符">
          <Validation RuleName="LengthRange"  P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="EndDate" Message="优惠券截止日期必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="CollectTime" Message="优惠领取时间必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="UsedTime" Message="优惠使用时间必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="DateTime" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Amount" Message="优惠券金额必须">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Float"  P0="9" P1="0" P2="2"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="AlreadyUsed" Message="优惠券已经被使用"></Property>
        <Property PropertyName="CodeError" Message="优惠券密码错误"></Property>
        <Property PropertyName="EndDateOut" Message="优惠券已经过期"></Property>
        <Property PropertyName="NotAllowChangeAccount" Message="优惠券领取过不能更改账户"></Property>
      </Model>
      <!--会员消息-->
      <Model Name="Beeant.Domain.Entities.Member.MessageEntity">
        <Property PropertyName="Account.Id" Message="账户错误">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Title" Message="标题必填而且长度不能不能超过200">
          <Validation RuleName="LengthRange"  P0="1" P1="200" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Detail" Message="消息内容必填而且长度不能超过1000">
          <Validation RuleName="LengthRange"  P0="1" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
      <!--会员浏览记录-->
      <Model Name="Beeant.Domain.Entities.Member.BrowseEntity">
        <Property PropertyName="Account.Id" Message="账户错误">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Product.Id" Message="商品编号必须提供">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>