@using Beeant.Basic.Services.Mvc.Extension
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link rel="shortcut icon" href="@Html.GetUrl("PresentationMobileSharedUrl")/images/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="/Scripts/Plug/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/Winner/Winner.ClassBase.js"></script>
    <script type="text/javascript" src="/Scripts/Winner/DataLoader/Winner.DataLoader.js"></script>
    <script type="text/javascript" src="/Scripts/Plug/jquery.lazyload.min.js"></script>
    <link href="/Content/site.css" rel="stylesheet" />
    <title></title>


  
</head>
<body>
    <div class="mainer">
       您没有权限使用该资源
    </div>
 
</body>
</html>
