<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Filter>
    <XmlValidation>
      <!--合作伙伴信息-->
      <Model Name="Beeant.Domain.Entities.Merchant.PartnerEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过80">
          <Validation RuleName="LengthRange" P0="1" P1="80" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Linkman" Message="联系人必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Qq" Message="QQ必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Mobile" Message="手机号码必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Telephone" Message="固定电话必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Fax" Message="传真长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Postcode" Message="邮政编码长度不能超过10">
          <Validation RuleName="LengthRange" P0="0" P1="10" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Area" Message="区域必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="0" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Country" Message="国家必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Province" Message="省份必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="City" Message="城市必填而且长度不能超过30">
          <Validation RuleName="LengthRange" P0="1" P1="30" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Address" Message="地址必填而且长度不能超过120">
          <Validation RuleName="LengthRange" P0="1" P1="120" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Remark" Message="备注长度不能超过100">
          <Validation RuleName="LengthRange" P0="0" P1="100" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Service.Id" Message="客服编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Gender" Message="性别必填而且长度不能超过1">
          <Validation RuleName="LengthRange" P0="1" P1="1" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="WebisteStyle.Id" Message="网站风格编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="MobileStyle.Id" Message="手机风格编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="PrimaryKey" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Tag" Message="标签过多">
          <Validation RuleName="LengthRange" P0="0" P1="1000" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileName" Message="头像必选扩展名只能为jpg|png|gif|bmp">
          <Validation RuleName="LengthRange" P0="0" P1="120" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="Extension" P0="jpg|png|gif|bmp" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="FileByte" Message="头像大小必须在300KB">
          <Validation RuleName="ValueRange" P0="0" P1="307200" ValidationType="Add|Modify" Message="头像大小必须在300KB"></Validation>
        </Property>
        <Property PropertyName="Domain" Message="域名长度不能超过150字符">
          <Validation RuleName="LengthRange" P0="0" P1="150" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="UnUsed" Message="供应商被禁用"></Property>
        <Property PropertyName="AccountHasPartner" Message="该账户已经被其它合作商占用"></Property>
        <Property PropertyName="OpenAccountNotAllowRemove" Message="已经开户的供应商不能删除"></Property>
      </Model>
      <!--目录信息-->
      <Model Name="Beeant.Domain.Entities.Merchant.CatalogueEntity">
        <Property PropertyName="Name" Message="名字必填而且长度不能超过20">
          <Validation RuleName="LengthRange" P0="1" P1="20" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Sequence" Message="排序必填而且必须为整形">
          <Validation RuleName="Requiry" ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PositiveInteger" P0="0" P1="9" ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Parent.Id" Message="请选择父类">
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="账户编号不正确">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="NoExist" Message="目录不存在"></Property>
        <Property PropertyName="ExistChild" Message="存在子类不能删除"></Property>
        <Property PropertyName="NotAllowParent" Message="不能指定该目录为父类"></Property>
        <Property PropertyName="NoParent" Message="父类不存在"></Property>
      </Model>
      <!--商品目录-->
      <Model Name="Beeant.Domain.Entities.Merchant.CatalogueGoodsEntity">
        <Property PropertyName="Catalogue.Id" Message="目录不存在">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Goods.Id" Message="商品不存在">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="ExistCatalogueGoods" Message="商品目录关系已经存在"></Property>
        <Property PropertyName="AccountNoEqual" Message="商品账户和目录账户不一致"></Property>
      </Model>
      <!--销售订单-->
      <Model Name="Beeant.Domain.Entities.Merchant.SaleEntity">
        <Property PropertyName="Order.Id" Message="订单不存在">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Account.Id" Message="加盟商不存在">
          <Validation RuleName="Requiry"  ValidationType="Add|Modify"></Validation>
          <Validation RuleName="PrimaryKey"  ValidationType="Add|Modify"></Validation>
        </Property>
        <Property PropertyName="Exist" Message="销售订单已经存在"></Property>
      </Model>
    </XmlValidation>
  </Filter>
</configuration>