<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--订单-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity" ClassName="Beeant.Domain.Services.Order.OrderDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="OrderInsuranceDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInsuranceEntity"></Property>
          <Property Name="OrderProductDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderProductEntity"></Property>
          <Property Name="OrderItemDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity"></Property>
          <Property Name="OrderPayDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderPayEntity"></Property>
          <Property Name="OrderAttachmentDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderAttachmentEntity"></Property>
          <Property Name="OrderNoteDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNoteEntity"></Property>
          <Property Name="OrderExpressDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderExpressEntity"></Property>
          <Property Name="OrderComplaintDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderComplaintEntity"></Property>
		      <Property Name="OrderInvoiceDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInvoiceEntity"></Property>
          <Property Name="OrderNumberDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNumberEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.Order.IOrderApplicationService" ClassName="Beeant.Application.Services.Order.OrderApplicationSerivce,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="OrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
          <Property Name="CouponDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Member.CouponEntity"></Property>
		      <Property Name="ShopcartDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Cart.ShopcartEntity"></Property>
          <Property Name="WelfareOrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Welfare.WelfareOrderEntity"></Property>
          <Property Name="MerchantOrderDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Merchant.MerchantOrderEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderEntity" ClassName="Beeant.Application.Services.Order.OrderApplicationSerivce,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderEntity"></Property>
        </Instance>
        <!--订单明细-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity" ClassName="Beeant.Domain.Services.Order.OrderItemDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderItemEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderItemEntity"></Property>
        </Instance>
        <!--订单编号-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNumberEntity" ClassName="Beeant.Domain.Services.Order.OrderNumberDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderNumberEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNumberEntity"></Property>
        </Instance>
        <!--订单保险-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInsuranceEntity" ClassName="Beeant.Domain.Services.Order.OrderInsuranceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderInsuranceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInsuranceEntity"></Property>
        </Instance>
        <!--订单产品-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderProductEntity" ClassName="Beeant.Domain.Services.Order.OrderProductDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderProductEntity" ClassName="Beeant.Application.Services.Order.OrderProductApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderProductEntity"></Property>
        </Instance>
        <!--订单保险-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInsuranceEntity" ClassName="Beeant.Domain.Services.Order.OrderInsuranceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderInsuranceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInsuranceEntity"></Property>
        </Instance>
        <!--订单收款-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderPayEntity" ClassName="Beeant.Domain.Services.Order.OrderPayDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderPayEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderPayEntity"></Property>
        </Instance>
        <!--订单发票核销-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInvoiceEntity" ClassName="Beeant.Domain.Services.Order.OrderInvoiceDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderInvoiceEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderInvoiceEntity"></Property>
        </Instance>
  
        <!--订单附件-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderAttachmentEntity" ClassName="Beeant.Domain.Services.Order.OrderAttachmentDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="FileRepository" Value="Beeant.Domain.Services.Utility.IFileRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderAttachmentEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderAttachmentEntity"></Property>
        </Instance>
        <!--订单快递-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderExpressEntity" ClassName="Beeant.Domain.Services.Order.OrderExpressDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderExpressEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderExpressEntity"></Property>
        </Instance>
        <!--订单维护记录-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNoteEntity" ClassName="Beeant.Domain.Services.Order.OrderNoteDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderNoteEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderNoteEntity"></Property>
        </Instance>
        <!--订单投诉-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderComplaintEntity" ClassName="Beeant.Domain.Services.Order.OrderComplaintDomainService,Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Order.OrderComplaintEntity" ClassName="Beeant.Application.Services.Order.OrderComplaintApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Order.OrderComplaintEntity"></Property>
          <Property Name="MessageApplicationService" Value="Beeant.Application.Services.Member.IMessageApplicationService"></Property>
        </Instance>

      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
