@using Beeant.Basic.Services.Mvc.Extension
@{
    Layout = "~/Views/Shared/_EnDefaultLayout.cshtml";
    ViewBag.Title = "Certificaties";
    ViewBag.ToperName = "Certificaties";
}

<div class="certificate">
    
</div>

<script type="text/javascript" src="~/Scripts/certificate.js"></script>