<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--订单-->
        <Object ObjectName="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="OrderEntity" SetTableName="t_Order_Order" GetTableName="t_Order_Order"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="OrderDate" FieldName="OrderDate" ></Property>
          <Property PropertyName="DeliveryDate" FieldName="DeliveryDate" ></Property>
          <Property PropertyName="TotalAmount" FieldName="TotalAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="PayAmount" FieldName="PayAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="OpenAmount" FieldName="OpenAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="InvoiceAmount" FieldName="InvoiceAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="CostAmount" FieldName="CostAmount" IsOptimisticLocker="true"></Property>
          <Property PropertyName="Deposit" FieldName="Deposit"></Property>
          <Property PropertyName="PayTypes" FieldName="PayTypes"></Property>
          <Property PropertyName="ChannelType" FieldName="ChannelType" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="OriginalOrder.Id" FieldName="OriginalOrderId" ></Property>
          <Property PropertyName="SettleType" FieldName="SettleType" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="DataId" FieldName="DataId" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Status" FieldName="Status"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="OriginalOrder">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="OriginalOrder.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="OrderItems">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderItemEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Pays">
            <MapObject Name="Beeant.Domain.Entities.Order.PayEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Invoices">
            <MapObject Name="Beeant.Domain.Entities.Order.InvoiceEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Attachments">
            <MapObject Name="Beeant.Domain.Entities.Order.AttachmentEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Notes">
            <MapObject Name="Beeant.Domain.Entities.Order.NoteEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Costs">
            <MapObject Name="Beeant.Domain.Entities.Order.CostEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Expresses">
            <MapObject Name="Beeant.Domain.Entities.Order.ExpressEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Complaints">
            <MapObject Name="Beeant.Domain.Entities.Order.ComplaintEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne" IsRemote="true">
            </MapObject>
          </Property>
          <Property PropertyName="Sale">
            <MapObject Name="Beeant.Domain.Entities.Merchant.SaleEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"   MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Stocks">
            <MapObject Name="Beeant.Domain.Entities.Wms.StockEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="Purchases">
            <MapObject Name="Beeant.Domain.Entities.Purchase.PurchaseEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Order.Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--订单明细-->
        <Object ObjectName="Beeant.Domain.Entities.Order.OrderItemEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="OrderItemEntity" SetTableName="t_Order_OrderItem" GetTableName="t_Order_OrderItem"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
		      <Property PropertyName="Promotion.Id" FieldName="PromotionId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsOpen" FieldName="IsOpen" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Price" FieldName="Price" ></Property>
          <Property PropertyName="Count" FieldName="Count" ></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="IsCount" FieldName="IsCount" ></Property>
          <Property PropertyName="IsReturn" FieldName="IsReturn" ></Property>
          <Property PropertyName="IsAppraisement" FieldName="IsAppraisement" ></Property>
          <Property PropertyName="Description" FieldName="Description" ></Property>
          <Property PropertyName="FileName" FieldName="FileName" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
	    		<Property PropertyName="Promotion">
				<MapObject Name="Beeant.Domain.Entities.Promotion.PromotionEntity,Beeant.Domain.Entities" ObjectProperty="Promotion.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
				</MapObject>
			</Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单成本-->
        <Object ObjectName="Beeant.Domain.Entities.Order.CostEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="CostEntity" SetTableName="t_Order_Cost" GetTableName="t_Order_Cost"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Type" FieldName="Type" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsOpen" FieldName="IsOpen" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Price" FieldName="Price" ></Property>
          <Property PropertyName="Count" FieldName="Count" ></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Product">
            <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="OrderItem">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderItemEntity,Beeant.Domain.Entities" ObjectProperty="OrderItem.Id" MapObjectProperty="Id" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
		    <!--订单收款-->
        <Object ObjectName="Beeant.Domain.Entities.Order.PayEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="Order.PayEntity" SetTableName="t_Order_Pay" GetTableName="t_Order_Pay"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="Payin.Id" FieldName="PayinId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsStatus" FieldName="IsStatus" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Payin">
            <MapObject Name="Beeant.Domain.Entities.Finance.PayinEntity,Beeant.Domain.Entities" ObjectProperty="Payin.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单发票核销-->
        <Object ObjectName="Beeant.Domain.Entities.Order.InvoiceEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="Order.InvoiceEntity" SetTableName="t_Order_Invoice" GetTableName="t_Order_Invoice"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Amount" FieldName="Amount" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="Invoiceout.Id" FieldName="InvoiceoutId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsStatus" FieldName="IsStatus" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Invoiceout">
            <MapObject Name="Beeant.Domain.Entities.Finance.InvoiceoutEntity,Beeant.Domain.Entities" ObjectProperty="Invoiceout.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单附件-->
        <Object ObjectName="Beeant.Domain.Entities.Order.AttachmentEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="AttachmentEntity" SetTableName="t_Order_Attachment" GetTableName="t_Order_Attachment"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="FileName" FieldName="FileName"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单快递-->
        <Object ObjectName="Beeant.Domain.Entities.Order.ExpressEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="Order.ExpressEntity" SetTableName="t_Order_Express" GetTableName="t_Order_Express"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="User.Id" FieldName="UserId"></Property>
          <Property PropertyName="Name" FieldName="Name" ></Property>
          <Property PropertyName="Number" FieldName="Number"></Property>
          <Property PropertyName="Recipient" FieldName="Recipient" ></Property>
          <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
          <Property PropertyName="Postcode" FieldName="Postcode" ></Property>
          <Property PropertyName="Address" FieldName="Address" ></Property>
          <Property PropertyName="Telephone" FieldName="Telephone" ></Property>
          <Property PropertyName="Company" FieldName="Company" ></Property>
          <Property PropertyName="Email" FieldName="Email" ></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--维护记录-->
        <Object ObjectName="Beeant.Domain.Entities.Order.NoteEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="NoteEntity" SetTableName="t_Order_Note" GetTableName="t_Order_Note"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Content" FieldName="Content" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--订单投诉-->
        <Object ObjectName="Beeant.Domain.Entities.Order.ComplaintEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="NoteEntity" SetTableName="t_Order_Complaint" GetTableName="t_Order_Complaint"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Question" FieldName="Question" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Answer" FieldName="Answer" ></Property>
          <Property PropertyName="AnswerTime" FieldName="AnswerTime" ></Property>
          <Property PropertyName="User.Id" FieldName="UserId" ></Property>
          <Property PropertyName="IsReply" FieldName="IsReply" ></Property>
          <Property PropertyName="Type" FieldName="Type" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Order">
            <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
	    <!--服务工单-->
		<Object ObjectName="Beeant.Domain.Entities.Order.ServiceEntity,Beeant.Domain.Entities" GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" NickObjectName="ServiceEntity" SetTableName="t_Order_Service" GetTableName="t_Order_Service"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
			  <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
			  <Property PropertyName="Order.Id" FieldName="OrderId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Product.Id" FieldName="ProductId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Account.Id" FieldName="AccountId" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Name" FieldName="Name" ></Property>
			  <Property PropertyName="ServiceType" FieldName="ServiceType" ></Property>
			  <Property PropertyName="Status" FieldName="Status" ></Property>
			  <Property PropertyName="Count" FieldName="Count" ></Property>
			  <Property PropertyName="FinalServiceType" FieldName="FinalServiceType" ></Property>
			  <Property PropertyName="Remark" FieldName="Remark" ></Property>
			  <Property PropertyName="IsInvoice" FieldName="IsInvoice" ></Property>
			  <Property PropertyName="Mobile" FieldName="Mobile" ></Property>
			  <Property PropertyName="Address" FieldName="Address" ></Property>
			  <Property PropertyName="FileName" FieldName="FileName"></Property>
			  <Property PropertyName="FileName1" FieldName="FileName1"></Property>
			  <Property PropertyName="FileName2" FieldName="FileName2"></Property>
			  <Property PropertyName="FileName3" FieldName="FileName3"></Property>
			  <Property PropertyName="FileName4" FieldName="FileName4"></Property>
			  <Property PropertyName="Recipient" FieldName="Recipient" ></Property>
			  <Property PropertyName="IsSurveyRepor" FieldName="IsSurveyRepor" ></Property>
			  <Property PropertyName="ReturnType" FieldName="ReturnType" ></Property>
			  <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
			  <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
			  <Property PropertyName="Mark" FieldName="Mark" OperatorMode="Add|Read"></Property>
			  <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
			  <Property PropertyName="Order">
				  <MapObject Name="Beeant.Domain.Entities.Order.OrderEntity,Beeant.Domain.Entities" ObjectProperty="Order.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
				  </MapObject>
			  </Property>
			  <Property PropertyName="Product">
				  <MapObject Name="Beeant.Domain.Entities.Product.ProductEntity,Beeant.Domain.Entities" ObjectProperty="Product.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="true"  MapType="OneToOne">
				  </MapObject>
			  </Property>
			  <Property PropertyName="Account">
				  <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="true"  MapType="OneToOne" IsRemote="true">
				  </MapObject>
			  </Property>
		  </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>