<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlOrm>
      <Map>
        <!--工作流程-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.FlowEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="FlowEntity" SetTableName="t_Workflow_Flow" GetTableName="t_Workflow_Flow"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="ClassName" FieldName="ClassName"></Property>
          <Property PropertyName="Key" FieldName="Key"></Property>
          <Property PropertyName="EmailUrl" FieldName="EmailUrl"></Property>
          <Property PropertyName="MobileUrl" FieldName="MobileUrl"></Property>
          <Property PropertyName="DefaultUrl" FieldName="DefaultUrl"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Nodes">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Flow.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="false"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="GroupFlows">
            <MapObject Name="Beeant.Domain.Entities.Workflow.GroupFlowEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Flow.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--工作组-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.GroupEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="GroupEntity" SetTableName="t_Workflow_Group" GetTableName="t_Workflow_Group"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="GroupFlows">
            <MapObject Name="Beeant.Domain.Entities.Workflow.GroupFlowEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Group.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
          <Property PropertyName="GroupAccounts">
            <MapObject Name="Beeant.Domain.Entities.Workflow.GroupAccountEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Group.Id"  IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--工作组账户-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.GroupAccountEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="GroupAccountEntity" SetTableName="t_Workflow_GroupAccount" GetTableName="t_Workflow_GroupAccount"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Group.Id" FieldName="GroupId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Group">
            <MapObject Name="Beeant.Domain.Entities.Workflow.GroupEntity,Beeant.Domain.Entities" ObjectProperty="Group.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        <!--审核人-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.AuditorEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="AuditorEntity" SetTableName="t_Workflow_Auditor" GetTableName="t_Workflow_Auditor"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="AuditorAccounts">
            <MapObject Name="Beeant.Domain.Entities.Workflow.AuditorAccountEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Auditor.Id"  IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--审核人账户-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.AuditorAccountEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="AuditorAccountEntity" SetTableName="t_Workflow_AuditorAccount" GetTableName="t_Workflow_AuditorAccount"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Account.Id" FieldName="AccountId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="Auditor.Id" FieldName="AuditorId"  OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Account">
            <MapObject Name="Beeant.Domain.Entities.Account.AccountEntity,Beeant.Domain.Entities" ObjectProperty="Account.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" IsRemote="true"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Auditor">
            <MapObject Name="Beeant.Domain.Entities.Workflow.AuditorEntity,Beeant.Domain.Entities" ObjectProperty="Auditor.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>


        <!--消息-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.MessageEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="MessageEntity" SetTableName="t_Workflow_Message" GetTableName="t_Workflow_Message"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Flow.Id" FieldName="FlowId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Title" FieldName="Title" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Level.Id" FieldName="LevelId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Detail" FieldName="Detail" OperatorMode="Add|Read"></Property>
          <Property PropertyName="DataId" FieldName="DataId" OperatorMode="Read"></Property>
          <Property PropertyName="Data.Id" FieldName="DataId" OperatorMode="Add"></Property>
          <Property PropertyName="User.Id" FieldName="UserId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Node.Id" FieldName="NodeId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Task.Id" FieldName="TaskId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="IsRead" FieldName="IsRead" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime" ></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark" ></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Flow">
            <MapObject Name="Beeant.Domain.Entities.Workflow.FlowEntity,Beeant.Domain.Entities" ObjectProperty="Flow.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="User">
            <MapObject Name="Beeant.Domain.Entities.Management.UserEntity,Beeant.Domain.Entities" ObjectProperty="User.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Node">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Node.Id" MapObjectProperty="Id"  IsAdd="false" IsRemote="true" IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Level">
            <MapObject Name="Beeant.Domain.Entities.Workflow.LevelEntity,Beeant.Domain.Entities" ObjectProperty="Level.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Task">
            <MapObject Name="Beeant.Domain.Entities.Workflow.TaskEntity,Beeant.Domain.Entities" ObjectProperty="Task.Id" MapObjectProperty="Id"  IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
       
        <!--级别-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.LevelEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="LevelEntity" SetTableName="t_Workflow_Level" GetTableName="t_Workflow_Level"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Color" FieldName="Color"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
        </Object>
        <!--节点-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="NodeEntity" SetTableName="t_Workflow_Node" GetTableName="t_Workflow_Node"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Flow.Id" FieldName="FlowId"></Property>
          <Property PropertyName="Auditor.Id" FieldName="AuditorId"></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Nickname" FieldName="Nickname"></Property>
          <Property PropertyName="PassName" FieldName="PassName"></Property>
          <Property PropertyName="RejectName" FieldName="RejectName"></Property>
          <Property PropertyName="IsGroup" FieldName="IsGroup"></Property>
          <Property PropertyName="AssignType" FieldName="AssignType"></Property>
          <Property PropertyName="NodeType" FieldName="NodeType"></Property>
          <Property PropertyName="ConditionType" FieldName="ConditionType"></Property>
          <Property PropertyName="Timeout" FieldName="Timeout"></Property>
          <Property PropertyName="MessageType" FieldName="MessageType"></Property>
          <Property PropertyName="MessageTitle" FieldName="MessageTitle"></Property>
          <Property PropertyName="DefaultMessage" FieldName="DefaultMessage"></Property>
          <Property PropertyName="EmailMessage" FieldName="EmailMessage"></Property>
          <Property PropertyName="MobileMessage" FieldName="MobileMessage"></Property>
          <Property PropertyName="ConditionMethod" FieldName="ConditionMethod"></Property>
          <Property PropertyName="BeforeMethod" FieldName="BeforeMethod"></Property>
          <Property PropertyName="AfterMethod" FieldName="AfterMethod"></Property>
          <Property PropertyName="StatusName" FieldName="StatusName"></Property>
          <Property PropertyName="StatusValue" FieldName="StatusValue"></Property>
          <Property PropertyName="Sequence" FieldName="Sequence"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Flow">
            <MapObject Name="Beeant.Domain.Entities.Workflow.FlowEntity,Beeant.Domain.Entities" ObjectProperty="Flow.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Auditor">
            <MapObject Name="Beeant.Domain.Entities.Workflow.AuditorEntity,Beeant.Domain.Entities" ObjectProperty="Auditor.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="NodeProperties">
            <MapObject Name="Beeant.Domain.Entities.Workflow.PropertyEntity,Beeant.Domain.Entities" ObjectProperty="Id" MapObjectProperty="Node.Id" IsAdd="false"  IsModify="false" IsRemove="true" IsRestore="true"  MapType="OneToMany">
            </MapObject>
          </Property>
        </Object>
        <!--属性-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.PropertyEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="PropertyEntity" SetTableName="t_Workflow_Property" GetTableName="t_Workflow_Property"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Name" FieldName="Name"></Property>
          <Property PropertyName="Nickname" FieldName="Nickname"></Property>
          <Property PropertyName="Node.Id" FieldName="NodeId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Node">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Node.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
        
        <!--任务-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.TaskEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="TaskEntity" SetTableName="t_Workflow_Task" GetTableName="t_Workflow_Task"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Flow.Id" FieldName="FlowId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Node.Id" FieldName="NodeId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="DataId" FieldName="DataId" OperatorMode="Read"></Property>
          <Property PropertyName="Data.Id" FieldName="DataId" OperatorMode="Add"></Property>
          <Property PropertyName="Level.Id" FieldName="LevelId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="OverTime" FieldName="OverTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="HandleTime" FieldName="HandleTime" ></Property>
          <Property PropertyName="DataInfo" FieldName="DataInfo" ></Property>
          <Property PropertyName="Remark" FieldName="Remark" ></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Flow">
            <MapObject Name="Beeant.Domain.Entities.Workflow.FlowEntity,Beeant.Domain.Entities" ObjectProperty="Flow.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Node">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Node.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Level">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Level.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false" MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
 
        
        <!--工作组流程关系-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.GroupFlowEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="GroupFlowEntity" SetTableName="t_Workflow_GroupFlow" GetTableName="t_Workflow_GroupFlow"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Flow.Id" FieldName="FlowId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="Group.Id" FieldName="GroupId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Flow">
            <MapObject Name="Beeant.Domain.Entities.Workflow.FlowEntity,Beeant.Domain.Entities" ObjectProperty="Flow.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
          <Property PropertyName="Group">
            <MapObject Name="Beeant.Domain.Entities.Workflow.GroupEntity,Beeant.Domain.Entities" ObjectProperty="Group.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>

        <!--状态条件-->
        <Object ObjectName="Beeant.Domain.Entities.Workflow.ConditionEntity,Beeant.Domain.Entities" GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite"  NickObjectName="ConditionEntity" SetTableName="t_Workflow_Condition" GetTableName="t_Workflow_Condition"   SetDataBaseMode="Multi" SetDefaultWhere="Mark>0" GetDefaultWhere="Mark>0" RemoveMark="Mark=0">
          <Property PropertyName="Id"  FieldName="Id"  Length="15" IsPrimaryKey="true" IsIdentityKey="true" ></Property>
          <Property PropertyName="Node.Id" FieldName="NodeId" OperatorMode="Add|Read"></Property>
          <Property PropertyName="InspectExp" FieldName="InspectExp"></Property>
          <Property PropertyName="SelectExp" FieldName="SelectExp"></Property>
          <Property PropertyName="Argument" FieldName="Argument"></Property>
          <Property PropertyName="Remark" FieldName="Remark"></Property>
          <Property PropertyName="InsertTime" FieldName="InsertTime" OperatorMode="Add|Read"></Property>
          <Property PropertyName="UpdateTime" FieldName="UpdateTime"></Property>
          <Property PropertyName="DeleteTime" FieldName="DeleteTime" OperatorMode="Add|Remove|Read"></Property>
          <Property PropertyName="Mark" FieldName="Mark"></Property>
          <Property PropertyName="Version" FieldName="Version" IsVersion="true"></Property>
          <Property PropertyName="Node">
            <MapObject Name="Beeant.Domain.Entities.Workflow.NodeEntity,Beeant.Domain.Entities" ObjectProperty="Node.Id" MapObjectProperty="Id" IsAdd="false"  IsModify="false" IsRemove="false" IsRestore="false"  MapType="OneToOne">
            </MapObject>
          </Property>
        </Object>
      </Map>
    </XmlOrm>
  </Persistence>
</configuration>